#o-exitModal {
  display: none;
  text-align: center;
  padding: 50px;
}

#o-exitModal header{
  font-family: 'Proxima Nova';
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

#o-exitModal .o-exitModal__close::before {
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: #000;
  cursor: pointer;
}

#o-exitModal .o-exitModal__content {
  margin-bottom: 20px;
  line-height: 20px;
}

#o-exitModal .o-exitModal__button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #24387e;
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
  font-weight: bold;
  font-family: 'Proxima Nova';
  max-width: 150px;
}

#o-exitModal .o-exitModal__button:hover{
  background-color: #000;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-titlebar.no-title-bar {
  display: none;
}