/* @import "tailwindcss/base"; */

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgba(209, 213, 219, var(--tw-bg-opacity))
}

.bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(219, 234, 254, var(--tw-bg-opacity))
}

.bg-DOL-theme-primary {
  --tw-bg-opacity: 1;
  background-color: rgba(11, 93, 102, var(--tw-bg-opacity))
}

.hover\:bg-DOL-theme-darker:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(7, 61, 66, var(--tw-bg-opacity))
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgba(156, 163, 175, var(--tw-border-opacity))
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgba(107, 114, 128, var(--tw-border-opacity))
}

.border-solid {
  border-style: solid
}

.border-none {
  border-style: none
}

.border-0 {
  border-width: 0px
}

.border {
  border-width: 1px
}

.border-t-2 {
  border-top-width: 2px
}

.block {
  display: block
}

.flex {
  display: flex
}

.table {
  display: table
}

.table-row {
  display: table-row
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.float-right {
  float: right
}

.font-body {
  font-family: "Proxima Nova", Arial, sans-serif
}

.font-bold {
  font-weight: 700
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.m-1 {
  margin: 0.25rem
}

.m-2 {
  margin: 0.5rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-7 {
  margin-bottom: 1.75rem
}

.mt-8 {
  margin-top: 2rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.max-w-max {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content
}

.p-0 {
  padding: 0px
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-0\.5 {
  padding: 0.125rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.relative {
  position: relative
}

* {
  --tw-shadow: 0 0 #0000
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000
}

.text-center {
  text-align: center
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.text-nysds-heading {
  --tw-text-opacity: 1;
  color: rgba(36, 56, 126, var(--tw-text-opacity))
}

.visited\:text-white:visited {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.no-underline {
  text-decoration: none
}

.hover\:underline:hover {
  text-decoration: underline
}

.w-10\/12 {
  width: 83.333333%
}

.gap-4 {
  gap: 1rem
}

.gap-5 {
  gap: 1.25rem
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr))
}

.col-span-2 {
  grid-column: span 2 / span 2
}

.col-span-4 {
  grid-column: span 4 / span 4
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0
  }
}

@-webkit-keyframes pulse {
  50% {
    opacity: .5
  }
}

@keyframes pulse {
  50% {
    opacity: .5
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1)
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1)
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1)
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1)
  }
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .md\:inline-block {
    display: inline-block
  }

  .md\:flex-row {
    flex-direction: row
  }

  .md\:justify-center {
    justify-content: center
  }

  .md\:m-2 {
    margin: 0.5rem
  }

  .md\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem
  }

  .md\:mb-2 {
    margin-bottom: 0.5rem
  }

  .md\:w-3\/4 {
    width: 75%
  }

  .md\:w-11\/12 {
    width: 91.666667%
  }

  .md\:col-span-1 {
    grid-column: span 1 / span 1
  }

  .md\:col-span-3 {
    grid-column: span 3 / span 3
  }

  .md\:col-span-4 {
    grid-column: span 4 / span 4
  }
}

@media (min-width: 1024px) {
  .lg\:pl-48 {
    padding-left: 12rem
  }
}

@media (min-width: 1280px) {
  .xl\:pl-64 {
    padding-left: 16rem
  }
}

@media (min-width: 1536px) {
}