.ie6 #ux-notification-container, .ie7 #ux-notification-container {
	float: right;
}

/*.gsa .search-results-header {
	display: block;
}*/

#iw-vpreview {  
	z-index: 2000;
}

/*
	Text Expander

.read-more a:after {
	content: '\25BC';
}

.read-less a:after {
	content: '\25B2';
}*/

/* Validation CSS */
.ux-form fieldset.multi-input div {
	margin-bottom: 0px !important;
}



/* dol-footer */
/*#dol-footer ul {
	margin: 0 0 0 -18px;
	float: none;
}

#dol-footer ul li {
	display:block;
	float:none;
	margin: 6px 0;
	padding: 0;
}

#dol-footer h4 {
	color:#4b4b4b;
	margin-bottom: 0;
}
#dol-footer h5 {
	color:#696969;
	margin-bottom: 0;
}

#dol-footer .button, #dol-footer .button_mini {
	float: none;
	display:inline-block;
}
#dol-footer #footer-contact a, #dol-footer a:hover{
	text-decoration: underline;
}
#dol-footer #footer-contact h5 {
	margin-top:12px;
	margin-bottom:5px;
}
#dol-footer #footer-contact .list-header {
	margin-top:6px;
	margin-bottom:2px;
}
#dol-footer #footer-contact .ux-header-subtitle {
	margin-top:2px;
	margin-bottom:4px;
}
#dol-footer #footer-contact ul li{
	line-height: 1em;
	margin-left:10px;
}
#dol-footer #footer-contact ul li .button_mini{
	float:none;
	margin-left: -5px;
}
#dol-footer #footer-contact .address {
	line-height: 1.2em;
	margin: 10px 0 0 0;
}

#dol-footer #footer-quick-nav {
	margin-top: 20px;
}

#stay-connected {
	margin-top: 30px;
}
#stay-connected li a {
	margin-top:12px;
	margin-bottom:12px;
	padding:1px 0 4px 20px;
	line-height: 20px;
}

#stay-connected .icon {
	width:16px;
	height:16px
}
#dol-footer #footer-contact address {
	margin: 10px 0 0 0;
} 

#contact-border {
position: absolute;
left: 22px;
top:5%;
width:1px;
height: 90%;
border-left: 1px solid #ccc;
margin: auto 0 auto 0;
}

#stay-connected li a {
display:block !important
}
#stay-connected li a#facebook {
background:url(images/icon-social-sprite.gif) no-repeat scroll left -48px transparent !important
}

#stay-connected li a#twitter {
background:url(images/icon-social-sprite.gif) no-repeat scroll left -240px transparent !important
}

#stay-connected li a#youtube {
background:url(images/icon-social-sprite.gif) no-repeat scroll left -336px transparent !important
}

#stay-connected li a#flickr {
background:url(images/icon-social-sprite.gif) no-repeat scroll left -144px transparent !important
}

#stay-connected li a#facebook:hover {
background:url(images/icon-social-sprite.gif) no-repeat scroll left top transparent !important
}

#stay-connected li a#twitter:hover { 
background:url(images/icon-social-sprite.gif) no-repeat scroll left -192px transparent !important
}

#stay-connected li a#youtube:hover {
background:url(images/icon-social-sprite.gif) no-repeat scroll left -288px transparent !important
}

#stay-connected li a#flickr:hover {
background:url(images/icon-social-sprite.gif) no-repeat scroll left -96px transparent !important
}

#dol-footer-equal {
color:#4b4b4b;
font-size:9px;
}

#ux-domain-menu li a {
padding-left: 20px;
padding-right: 20px;
}*/

/* Publicity Styles */

#publicity_side {
	margin-top: 35px;	
}

#publicity_side p {
	border-bottom: 1px solid #3D6683;
}

#publicity_side ul > li > a {
	font-size: 11px;
	font-weight: 400;
	padding: 0 7px 5px;
	margin: 0 0 5px 0;
}

#publicity_side ul > li:last-child > a {
	border: 0px;
}

#publicity_side ul > li > a,
#publicity_side ul > li > a:link {
	color: #446880;
}

#publicity_side ul > li > a:hover,
#publicity_side ul > li > a:visited {
	color: #5683a2;
}

#publicity_side ul > li > a:hover {
	text-decoration: underline;
}

/* Social Media Icons/Links */

/*#stay-connected {
  margin-top: 10px !important;
}
#stay-connected li {
  margin: -1px 0 !important;
}
#stay-connected li a {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#language-box-wrapper {
  margin-bottom: 0 !important;
}

#social-media {
  margin-left: 3px;
}

#facebooklg {
  background: url(images/facebooklg.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 !important;
}

#twitterlg {
  background: url(images/twitterlg.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 !important;
}

#youtubelg {
  background: url(images/youtubelg.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 !important;
}

#linkedinlg {
  background: url(images/linkedinlg.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 !important;
}

#googlelg {
  background: url(images/googlelg.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 !important;
}

#instagramlg {
  background: url(images/instagramlg.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 !important;
}

#pinterestlg {
  background: url(images/pinterestlg.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 !important;
}

#tumblrlg {
  background: url(images/tumblrlg.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 !important;
}

#stay-connected #facebooksm {
  background: url(images/facebook-grey.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 16px;
  height: 16px;
}
#stay-connected #facebooksm:hover {
  background: url(images/facebook.png) no-repeat 0 0 transparent !important;
  width: 16px;
  height: 16px;
}
#stay-connected #twittersm {
  background: url(images/twitter-grey.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 16px;
  height: 16px;
}
#stay-connected #twittersm:hover {
  background: url(images/twitter.png) no-repeat 0 0 transparent !important;
  width: 16px;
  height: 16px;
}
#stay-connected #youtubesm {
  background: url(images/youtube-grey.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 16px;
  height: 16px;
}
#stay-connected #youtubesm:hover {
  background: url(images/youtube.png) no-repeat 0 0 transparent !important;
  width: 16px;
  height: 16px;
}
#stay-connected #linkedinsm {
  background: url(images/linkedin-grey.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 16px;
  height: 16px;
}
#stay-connected #linkedinsm:hover {
  background: url(images/linkedin.png) no-repeat 0 0 transparent !important;
  width: 16px;
  height: 16px;
}
#stay-connected #googlesm {
  background: url(images/google-grey.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 16px;
  height: 16px;
}
#stay-connected #googlesm:hover {
  background: url(images/google.png) no-repeat 0 0 transparent !important;
  width: 16px;
  height: 16px;
}
#stay-connected #instagramsm {
  background: url(images/instagram-grey.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 16px;
  height: 16px;
}
#stay-connected #instagramsm:hover {
  background: url(images/instagram.png) no-repeat 0 0 transparent !important;
  width: 16px;
  height: 16px;
}
#stay-connected #pinterestsm {
  background: url(images/pinterest-grey.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 16px;
  height: 16px;
}
#stay-connected #pinterestsm:hover {
  background: url(images/pinterest.png) no-repeat 0 0 transparent !important;
  width: 16px;
  height: 16px;
}
#stay-connected #tumblrsm {
  background: url(images/tumblr-grey.png) no-repeat 0 0 transparent !important;
  display: inline-block;
  width: 16px;
  height: 16px;
}
#stay-connected #tumblrsm:hover {
  background: url(images/tumblr.png) no-repeat 0 0 transparent !important;
  width: 16px;
  height: 16px;
}
#stay-connected li a {
  line-height: 14px !important;
}*/

body.ux-website {
	background: #FFF;
}

