{% set nextSection = nodeSections[index + 1].section %}
{% set currentSection = nodeSections[index].section %}

{# Shows next section title and is clickable to jump to the next section #}
{% if currentSection.title is defined %}
<div class="{{ currentSection.title|cleanString() }} m-nextSection">
  <div class="m-nextSection__divider">

  <span class="m-nextSection__dividerContentStopper"></span>
  {# Only show if next item exist #}
  {% if nextSection.title is defined %}
    {# Extra div for animaton purposes #}
    <div class="m-nextSection__dividerContent">
    <div class="m-nextSection__top">
      <p>Next Section</p>
      <a class="m-nextSection__continue" href="#{{ nextSection.title|cleanString() }}">
      <span class="m-nextSection__continueText">Continue</span>
      <span class="m-nextSection__continueIcon icon-long-arrow-down"></span>
      </a>
    </div>

    <hr/>

    {# Display title of next section #}
    <a class="m-nextSection__bottom" href="#{{ nextSection.title|cleanString() }}">{{ nextSection.title }}</a>
    </div>
  {% endif %}

  </div>
</div>
{% endif %}
