@import "../../01-Base/breakpoints/breakpoints";

.m-nextSection {
  display: none;

  &.-title,
  &.-anchor,
  &.-waypoint {
    display: block;
  }

  @include breakpoint(tablet) {
    display: block;
  }
  hr {
    margin: 0;
  }
}

.m-nextSection__divider {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 500px;
  padding-bottom: 200px;

  .m-nextSection__dividerContent {
    opacity: 0;
    &.sticky{
      position: fixed;
      width: 58%;
      bottom: 30px;
    }
  }

  .m-nextSection__top {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      text-decoration: none;
      color: black;

      &:visited {
        color: black;
      }
    }

    p {
      font-family: "Proxima Nova";
      font-size: 0.875em;
      font-weight: bold;
      text-transform: uppercase;
    }

    .m-nextSection__continueIcon {
      display: flex;
      justify-content: flex-end;
      flex-flow: column;
      margin-bottom: 12px;
      margin-left: 10px;
    }

    .m-nextSection__continueText {
      flex-flow: column;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }

  .m-nextSection__bottom {
    font-size: 1.875em;
    color: #128ec3;
    text-decoration: none;
    margin-top: 20px;
    display: block;
  }
}
