.text-primary-blue {
  color: #154973;
}

.text-primary-blue-accent {
  color: #154973;
}

.text-primary-gold {
  color: #FACE00;
}

.text-primary-gold-accent {
  color: #FACE00;
}

.text-primary-gold-light {
  color: #FFE396;
}

.text-primary-light-blue {
  color: #457AA5;
}

.text-primary-light-blue-accent {
  color: #457AA5;
}

.text-primary-links {
  color: #007AC2;
}

.text-links {
  color: #007AC2;
}

.text-footer-links {
  color: #154973;
}

.text-alerts {
  color: #B52C2C;
}

.text-alerts-rollover {
  color: #8C1C1C;
}

.text-dark {
  color: #242424;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #ffffff;
}

.text-gray {
  color: #62666A
}