
  <div class="o-alerts">
    <div class= "o-alerts__content-wrapper">

      <div class="o-alerts__title">
        {% include '@storybook/02-Atoms/headings/headings.twig' with { title: "Alerts", classNames: "a-heading__headline", variant: "headline" } %}
      </div>
      <div class="o-alerts__legend">
        <div class="o-alerts__legend-item not_in_service">Not in Service</div>
        <div class="o-alerts__legend-item partially_affected">Partially Affected</div>
        <div class="o-alerts__legend-item normal_service">Normal Service</div>
      </div>
      <div class="o-alerts__alerts">
        {% for item in section.alerts %}

        {% set alertTitleClasses = [
          'o-alerts__alert-title',
          item.section.status ? item.section.status : '',
        ] %}

          <div class="o-alerts__alert">
            <div class="{{alertTitleClasses|join(' ')}}">
              {% if item.section.link.url %}
                <a class="o-alerts__alert-link" href="{{ item.section.link.url.path }}">
              {% endif %}
                {{ item.section.title }}
              {% if item.section.link.url %}
                </a>
              {% endif %}
            </div>
            <div class="o-alerts__alert-description">
              {{ item.section.description.content|raw }}
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>

