
@charset "UTF-8";

$ogs-primary-color: #ac3f14;
$ogs-secondary-color: #F3D3C1;
$ogs-tertiary-color: #7e2e0f;

$ogs-table-header: #626669;
$ogs-table-row-alternate: #F6F8F8; 

$ogs-link-color: #0f3cc3;