@charset "UTF-8";

    
    p {
    font-family: $nys-primary-font;
    font-size: 18px;
    line-height: 27px;
    }

    li {
        margin: 4px 0;
        padding: 0;
    }

    ol > ol {
        list-style-type: lower-roman;
    }

    ol > ol > ol {
        list-style-type: decimal;
    }

    a {
        color:$nys-link-color;
    }

   
p.reminder {
    color: #fff;
    font-size: 80%;
    font-style: italic;
    text-align: center;
}


