@charset "UTF-8";

    
  .frame-wrapper {
    display: flex;
    width: 100%;
  }

  .frame-center {
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .nys-primary-frame {
    background-color: $nys-secondary-color;

  }





