{% if current_site == 'governor' %}
<div class="o-footerMenu__wrapper">
  <h2 class="o-footerMenu__title">{{ menu.name }}</h2>

  <ul class="o-footerMenu__links">
    {% for link in menu.links %}
      <li class="o-footerMenu__link">
        {% include "@storybook/02-Atoms/link/link.twig" with {url: link.url.path, content: link.label} %}
      </li>
    {% endfor %}
  </ul>

</div>

{% else %}

{% set nygovImage = (url('<front>')|render ~ directory~"/../storybook/assets/placeholders/NYS_IDENTIFIER_WHITE.svg") %}
<style>
.o-nygovFooterMenu__image{
  background-image: url("{{nygovImage|raw}}");
}
</style>
<div class="o-nygovFooterMenu__wrapper">
  <div class="o-nygovFooterMenu__content">
  <div class="o-nygovFooterMenu__image"></div>
  <ul class="o-nygovFooterMenu__links">
    {% for link in menu.links %}
      <li class="o-nygovFooterMenu__link">
        {% include "@storybook/02-Atoms/link/link.twig" with {url: link.url.path, content: link.label} %}
      </li>
    {% endfor %}
  </ul>

</div>
</div>
  {% endif %}