@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/breakpoints/breakpoints.scss";

.m-socialLink__linkText{
  text-transform: uppercase;
  font-size: 13px;

  @include breakpoint(tablet) {
    font-size: 16px;
  }
}

.m-socialLink__icon {
  font-size: 13px;
  margin-right: 5px;

  @include breakpoint(tablet) {
    font-size: 16px;
    margin-right: 10px;
  }
}

.m-socialLink__link {
  text-decoration: none;
  padding: 0 10px;
  @extend .text-black;

  &:visited {
    @extend .text-black;
  }
}