<a class="m-socialLink__link text-bold" href="{{ link }}">
  <span class="m-socialLink__icon {{ iconClass }} text-primary-light-blue"></span>
  <span class="m-socialLink__linkText text-extra-bold">{{ name }}</span>
</a>