---
layout: docrender.njk
title: 2023-2024 Annual Report by the NYS Deaf, DeafBlind, and Hard of Hearing Office 
description: 2023-2024 Annual Report by the Deaf, DeafBlind, and Hard of Hearing Office and the Interagency Coordinating Council on Services to Persons who are Deaf, DeafBlind, and Hard of Hearing
url: digital.ny.gov/DDBHH-annual-report-2024
permalink: "DDBHH-annual-report-2024/"
---
<img src="/img/DDBHH-logo.jpg" alt="Deaf, DeafBlind, and Hard of Hearing Office Logo" style="max-width: 500px; width: 50%;"/>

<h1 class="text-center">2023-2024 Annual Report by the Deaf, DeafBlind, and Hard of Hearing Office and the Interagency Coordinating Council on Services to Persons who are Deaf, DeafBlind, and Hard of Hearing</h1>



<section class="nysds-a11y-toc">
    <h2 id="table-contents">Table of Contents</h2>
    <ul> 
        <li><a href="#_heading=h.qvnjcwmtueip">Introduction</a></li>
        <li><a href="#_heading=h.6zp8p663stk4">History</a></li>
        <li><a href="#_heading=h.pjcgn4eex9hx">Deaf, DeafBlind, and Hard of Hearing Office’s Identified Fundamental Needs to Address</a></li>
        <li><a href="#_heading=h.1p3xrsfyh8zp">Current Status of IAC</a>
            <ul>
                <li><a href="#_heading=h.xaftfcc50dn2">Current Activities and Priorities with IAC Agencies</a>
                    <ul>
                        <li><a href="#_heading=h.cihgvk5cjoxh">Department of Health (DOH) </a></li>
                        <li><a href="#_heading=h.e5rtn6n5trbj">Department of Labor (DOL) </a></li>
                        <li><a href="#_heading=h.iw3f9k3ti7k3">Justice Center for Protection of People with Special Need (JC) </a></li>
                        <li><a href="#_heading=h.v5kgho9ay00d">New York State Office of Aging (NYSOFA) </a></li>
                        <li><a href="#_heading=h.j1myklzdz371">Office of Children and Family Services (OCFS) </a> </li>
                        <li><a href="#_heading=h.uv1pwh2elxs">State Education Department (SED) </a></li>
                        <li><a href="#_heading=h.qs05584kpaia">Public Service Commission (PSC) </a></li>
                    </ul>
                </li>

                <li><a href="#_heading=h.nhigi8hftepm">Current Activities and Priorities with Non-IAC Agencies</a>
                    <ul>
                        <li><a href="#_heading=h.37h0ncxg8n87">Office of New Americans (ONA) </a></li>
                        <li><a href="#_heading=h.45xbkhp6awmu">Office of Language Access (OLA) </a></li>
                        <li><a href="#_heading=h.b9oeyggb76hj">Office of General Services (OGS) </a></li>
                        <li><a href="#_heading=h.nmwgs8e6vjyf">Department of Homeland Security and Emergency Services (DHSES)</a></li>
                        <li><a href="#_heading=h.uzvoyorjh611">Office of Employee Relations (OER) </a></li>
                        <li><a href="#_heading=h.mg7f5sluvt76">Office of the New York State Attorney General (OAG) </a></li>
                        <li><a href="#_heading=h.utxxyi9nknxx">Department of Corrections and Community Supervision (DOCCS) </a></li>
                    </ul>
                </li>

                <li><a href="#_heading=h.usnkoiwwpla7">Executive Chamber</a>
                    <ul>
                        <li><a href="#_heading=h.udgjav58qbzp">Chief Diversity Office </a></li>
                        <li><a href="#_heading=h.up32tjmmarq6">Office of Employee Engagement </a></li>
                        <li><a href="#_heading=h.jfg036qmy3b4">LGBTQIA+ Affairs Office </a></li>
                        <li><a href="#_heading=h.i3iwmy4saoww">Asian Affairs Office </a></li>
                        <li><a href="#_heading=h.bh2ab75cruf">Customer Experience Office </a></li>
                        <li><a href="#_heading=h.wk19w8j81sxp">Deputy Secretary of Finance </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        
        <li><a href="#_heading=h.l2790bkjyk5v">Engagements with the DDBHH communities</a></li>
        <li><a href="#_heading=h.uqoshiubrzz">Other Accomplishments/Activities</a></li>
        <li><a href="#_heading=h.r1okhwiu5jcm">Gratitudes</a></li>
    </ul>
</section>




<h2 id="_heading=h.qvnjcwmtueip">Introduction:</h2>
<p>
    The Interagency Coordinating Council on Services to Persons who are Deaf, DeafBlind and Hard of Hearing (IAC) is enabled by New York State Executive Law Section 559, which was signed into law in 2007
    <sup>
        <a href="#footnote-0" id="footnote-ref-0"><span class="sr-only"> footnote </span> [1]</a>
    </sup>
    . As described in Section 559, the IAC has several responsibilities:
</p>
<ol>
    <li>
        To work with appropriate state agencies to implement a comprehensive statewide program of coordinated services for the Deaf, DeafBlind, and Hard of Hearing (DDBHH) related to educational, medical, housing, transportation, technology
        supports, personal care, family supports, day program services, and other essential services.
    </li>
    <li>To maintain data on how many DDBHH individuals there are in New York state.</li>
    <li>To serve as a clearinghouse on services available and resources for DDBHH.</li>
    <li>To disseminate general information on DDBHH and their unique communication needs and to inform them about available services and how these can be accessed.</li>
    <li>To receive complaints from the DDBHH communities and to refer these to appropriate agencies.</li>
    <li>To conduct an ongoing evaluation of the needs of the DDBHH communities.</li>
    <li>
        To report to the governor and the legislature on or before November first of each year on topics including, but not limited to the below:
        <ol>
            <li>The status of current efforts to achieve #1-6 above and will be updated in subsequent reports.</li>
            <li>The recommendations for standards, policies, procedures, and strategies necessary for communication accessibility and community-based services including needed statutory revisions.</li>
        </ol>
    </li>
</ol>
<p>
    Under the statute, the IAC has eight appointed community members. Four of those community members are appointed by the governor and the other four are appointed by the leaders of the state legislature. The IAC also includes appointed
    representatives of seven state agencies, who are identified in state law:
</p>
<ol>
    <li>Department of Health</li>
    <li>Department of Labor</li>
    <li>Justice Center for Protection of People with Special Needs</li>
    <li>New York State Office for the Aging</li>
    <li>Office of Children and Family Services</li>
    <li>State Education Department</li>
    <li>Public Service Commission</li>
</ol>
<p>By law, the IAC must meet three times a year. The agenda of these meetings will focus on the seven responsibilities identified above.</p>
<h2 id="_heading=h.6zp8p663stk4">History:</h2>
<p>
    Section 559 was signed into New York state law in 2007 and the work of creating the IAC began. The IAC was established in 2009 with eight appointed members and seven agency representatives. The IAC functioned until 2013, which is when
    it went dormant. The first form of the IAC was housed under the New York State Commission on Quality of Care and Advocacy for Persons with Disabilities (CQCAPD). CQCAPD underwent a sunset and the IAC was moved within the
    responsibilities of the Justice Center for Protection of People with Special Needs (JC). The IAC is legally still attached to the Justice Center.
</p>
<p>
    In 2022, Governor Kathy Hochul established the Chief Disability Office (CDO)
    <sup>
        <a href="#footnote-1" id="footnote-ref-1"><span class="sr-only"> footnote </span> [2]</a>
    </sup>
    and appointed Kimberly Hill Ridley to be its first Chief Disability Officer. Ms. Hill Ridley met with members of the DDBHH communities who were concerned about the lack of representation in state government. As a result of the
    consultation with the communities and the advocacy of the CDO, Governor Hochul decided to re-establish the IAC. On January 2, 2024, Governor Hochul appointed Christopher Woodfill as the IAC’s first ever Executive Director and Rachel
    Cahill as its American Sign Language interpreter, administrative assistant, and advocate for language access.
</p>
<p>
    The CDO reached an agreement of collaboration with the Justice Center to connect the IAC to the CDO, which is within the Executive Chamber. During the dormant period, all documents from the earlier forms of the IAC, including its 2009
    and 2010 annual reports, were destroyed due to document retention laws. This 2024 annual report will be the new base on which IAC operations and New York’s DDBHH communities can rely on going forward.
</p>
<p>
    After a few months of initial operations, the name of the office connected to the IAC was changed to the New York State Deaf, DeafBlind and Hard of Hearing Office (DDBHH Office)
    <sup>
        <a href="#footnote-2" id="footnote-ref-2"><span class="sr-only"> footnote </span> [3]</a>
    </sup>
    . The DDBHH Office will now handle the administrative work of the IAC and work to implement its recommendations. While there was an interest in shortening the name of the office, the main reason for the name change has to do with
    ongoing trauma within the DDBHH communities connected with the earlier forms of the IAC and subsequent inactivity. The name change is an acknowledgment of that community trauma. We believe the new name better fits the renewed commitment
    and engagement that New York and Governor Hochul has brought to our valued DDBHH communities.
</p>
<h2 id="_heading=h.pjcgn4eex9hx">The DDBHH Office’s Identified Fundamental Needs to Address:</h2>
<p>
    In service to Governor Hochul, the core missions of the IAC, and the needs of the DDBHH communities, the DDBHH Office is working on several priorities in different areas of New York state government. We believe that these missions
    require that this office must address three fundamental needs:
</p>
<ol>
    <li><strong>Access to Language</strong></li>
    <li><strong>Access to Communication</strong></li>
    <li><strong>Access to Information</strong></li>
</ol>
<p>
    Language access means New Yorkers have direct access to the primary language of a DDBHH individual. This access could include spoken English being accompanied by printed English for a hard of hearing person, American Sign Language for a
    Deaf person, Tactile ASL or ProTactile for a DeafBlind person, and/or more.
</p>
<p>Communication access refers to the ability of a DDBHH person to express and receive information through various forms of interpretation or access to devices that enable successful communication.</p>
<p>Information access focuses on the understanding of essential information related to New York State government services and benefits in the primary language or communication mode of a DDBHH person.</p>
<p>
    Most of the work with the seven agencies and other agencies within our state government are related to access to language, communication, and information. Most of the complaints from the DDBHH communities being relayed to these agencies
    are related to these fundamental needs. Most of the information shared on the DDBHH Office website are related to these fundamental needs. These three needs are strongly connected to the seven responsibilities of the IAC.
</p>
<h2 id="_heading=h.1p3xrsfyh8zp">Current Status of IAC:</h2>
<p>While IAC does not have eight appointed community members as of the writing of this 2024 annual report, the DDBHH Office began meeting with the seven agency representatives and the community stakeholders.</p>
<p>
    The seven agencies’ representatives were identified over the spring and summer of 2024. The DDBHH Office has met with all of the representatives and begun to collaborate on various initiatives with each of the agencies to present to the
    IAC. The names and titles of the agency representatives are below:
</p>
<ol>
    <li><strong>Department of Health:</strong> Shirley Madewell, Disability and Health Program Manager</li>
    <li><strong>Department of Labor:</strong> Melissa Quesada, Chief Diversity Officer</li>
    <li><strong>Justice Center:</strong> Melinda Dolezal, Technology-Related Assistance for Individuals with Disabilities (TRAID) Director</li>
    <li><strong>New York State Office for the Aging:</strong> John Cochran, Chief of Staff</li>
    <li><strong>Office of Children and Family Services:</strong> Julie Hovey, Associate Commissioner of New York State Commission for the Blind</li>
    <li><strong>State Education Department:</strong> Christopher Suriano, Associate Commissioner of the Office of Special Education</li>
    <li><strong>Public Service Commission:</strong> Rory Christian, Chair and CEO</li>
</ol>
<h2 id="_heading=h.xaftfcc50dn2">Current Activities and Priorities with IAC Agencies:</h2>
<h3 id="_heading=h.cihgvk5cjoxh">Department of Health (DOH)
    <sup>
        <a href="#footnote-3" id="footnote-ref-3"><span class="sr-only"> footnote </span> [4]</a>
    </sup>
</h3>
<p>
    We recognize the strong need of the DDBHH communities for access to healthcare and building equity in health. We have received consistent community feedback about notable disparities and inaccessibility in health and healthcare for the
    DDBHH communities that are present concerns.
</p>
<p>The DDBHH Office met with Shirley Madewell, the DOH designated representative and we determined we would work on these priorities going forward.</p>
<ol>
    <li>
        Connect Rochester Deaf Kitchen
        <sup>
            <a href="#footnote-4" id="footnote-ref-4"><span class="sr-only"> footnote </span> [5]</a>
        </sup>
        to resources within the DOH that are focused on nutrition and healthy eating programs.
    </li>
    <li>Develop, submit, collect, and analyze a survey on communication access done jointly between both offices for DDBHH patients in state hospitals.</li>
    <li>Develop training modules for all state health care providers provided by DOH with support from the DDBHH Office on communication accessibility for DDBHH patients.</li>
    <li>Incorporate communication preferences/accessibility in patient profiles throughout the electronic health records in the state.</li>
    <li>Collect essential and frequently used DOH forms to be submitted to the Office of Language Access to have these forms be interpreted in ASL for accessibility purposes.</li>
    <li>
        Develop a partnership between New York Department of Health and the Center for Deaf Health Equity
        <sup>
            <a href="#footnote-5" id="footnote-ref-5"><span class="sr-only"> footnote </span> [6]</a>
        </sup>
        , located at Gallaudet University, to address health-based disparities for all DDBHH patients in New York state.
    </li>
</ol>
<h3 id="_heading=h.e5rtn6n5trbj">Department of Labor (DOL)
    <sup>
        <a href="#footnote-6" id="footnote-ref-6"><span class="sr-only"> footnote </span> [7]</a>
    </sup>
</h3>
<p>DOL provides unemployment insurance, assistance to finding new jobs, and works to create accessible job fairs. Access to these services and resources are critical to the DDBHH communities.</p>
<p>The DDBHH Office met with Melissa Quesada, the DOL designee, during the summer of 2024 for an introductory meeting. Further meetings will be needed to create concrete action steps and priorities going forward with the DOL in 2025.</p>
<h3 id="_heading=h.iw3f9k3ti7k3">Justice Center for Protection of People with Special Needs (JC)
    <sup>
        <a href="#footnote-7" id="footnote-ref-7"><span class="sr-only"> footnote </span> [8]</a>
    </sup>
</h3>
<p>
    The JC oversees the Technology-Related Assistance for Individuals with Disabilities (TRAID
    <sup>
        <a href="#footnote-8" id="footnote-ref-8"><span class="sr-only"> footnote </span> [9]</a>
    </sup>
    ) program centers that lend adaptive equipment to some DDBHH individuals. The JC was the home of the IAC before the IAC dormancy.
</p>
<p>
    The DDBHH Office met with Melinda Dolezal, the designee for the JC. Melinda is the director of the TRAID program and leads TRAID’s efforts in providing technology on loan for individuals with disabilities, which includes the members of
    the DDBHH communities. We also met with Nadia Chanza, Director of Special Projects, to discuss emergency preparedness training for DDBHH communities, including those with Intellectual and Developmental Disabilities (IDD). Priorities for
    our collaboration are below:
</p>
<ol>
    <li>Explore ways to educate the DDBHH communities about the TRAID program.</li>
    <li>Explore ways to expand TRAID offerings to DDBHH by including technologies in its loan program that would be beneficial to the members of the communities.</li>
    <li>Develop emergency preparedness training modules with the Justice Center focused on DDBHH including those with IDD.</li>
</ol>
<h3 id="_heading=h.v5kgho9ay00d">New York State Office of Aging (NYSOFA)
    <sup>
        <a href="#footnote-9" id="footnote-ref-9"><span class="sr-only"> footnote </span> [10]</a>
    </sup>
</h3>
<p>
    Access to services for aging members of the DDBHH communities is one of the highest priorities of the DDBHH communities. The DDBHH Office met with the NYSOFA designee, John Cochran and the Commissioner of NYSOFA, Greg Olsen.
    Accomplishments and priorities are listed below:
</p>
<p>Accomplishments:</p>
<ol>
    <li>Received non-personally identifiable data from NYSOFA on how many individuals with hearing loss and vision loss were served by NYSOFA.</li>
    <li>
        Connected Dr. Barbara Earth, Wendy Dannels, and a few others from the Deaf Health Care and Biomedical Science Hub at Rochester Institute of Technology
        <sup>
            <a href="#footnote-10" id="footnote-ref-10"><span class="sr-only"> footnote </span> [11]</a>
        </sup>
        with Greg Olsen and John Cochran to build relationships between the NYSOFA and the Rochester DDBHH senior community.
    </li>
</ol>
<p>Priorities:</p>
<ol>
    <li>
        Develop training modules on communication accessibility with senior members of the DDBHH communities.
        <ol>
            <li>This track overlaps with DOH modules on similar topics.</li>
        </ol>
    </li>
    <li>Develop strategies to hire more ASL fluent home care personnel in order to provide clear and direct communication access for DDBHH home care patients.</li>
</ol>
<h3 id="_heading=h.j1myklzdz371">Office of Children and Family Services (OCFS)
    <sup>
        <a href="#footnote-11" id="footnote-ref-11"><span class="sr-only"> footnote </span> [12]</a>
    </sup>
</h3>
<p>
    The New York State Commission of the Blind (NYSCB)
    <sup>
        <a href="#footnote-12" id="footnote-ref-12"><span class="sr-only"> footnote </span> [13]</a>
    </sup>
    is housed within OCFS. NYSCB oversees vocational rehabilitation services for some DeafBlind individuals.
</p>
<p>The DDBHH Office met with Julie Hovey, the OCFS designee. The meetings were focused on topics relevant to the DeafBlind community that may receive services from the NYSCB. Accomplishments and priorities are below:</p>
<p>Accomplishments:</p>
<ol>
    <li>
        Christopher Woodfill was invited to sit on the State Rehabilitation Council
        <sup>
            <a href="#footnote-13" id="footnote-ref-13"><span class="sr-only"> footnote </span> [14]</a>
        </sup>
        for NYSCB as an ex-officio member.
    </li>
    <li>Jointly developed policy proposals for the Governor.</li>
    <li>
        Ensured that the DeafBlind community is represented in the 2024 triennial NYSCB statewide needs assessment by reviewing the RFP proposal before submission and by having the DDBHH Office participate in the assessment after the start
        of the process.
    </li>
</ol>
<p>Priorities:</p>
<ol>
    <li>Discuss provision of DeafBlind services with NYSCB.</li>
    <li>Review and follow through on recommendations from the triennial NYSCB statewide needs assessment as those relate to DeafBlind services.</li>
    <li>Continue to partner with NYSCB on future policy proposals.</li>
</ol>
<h3 id="_heading=h.uv1pwh2elxs">State Education Department (SED)
    <sup>
        <a href="#footnote-14" id="footnote-ref-14"><span class="sr-only"> footnote </span> [15]</a>
    </sup>
</h3>
<p>
    The Office of Special Education
    <sup>
        <a href="#footnote-15" id="footnote-ref-15"><span class="sr-only"> footnote </span> [16]</a>
    </sup>
    and the Adult Career and Continuing Education Services (ACCES-VR)
    <sup>
        <a href="#footnote-16" id="footnote-ref-16"><span class="sr-only"> footnote </span> [17]</a>
    </sup>
    are housed within the SED. The Office of Special Education oversees the education of DDBHH children. ACCES-VR oversees the vocational rehabilitation services for Deaf and Hard of Hearing individuals.
</p>
<p>The DDBHH Office has met with Chris Suriano, the SED designee and Associate Commissioner of the Office of Special Education. Accomplishments and priorities for Office of Special Education are below:</p>
<p>Accomplishments:</p>
<ol>
    <li>The DDBHH office received a comprehensive list of all high schools offering ASL classes in New York State to understand the landscape of Regents ASL in New York.</li>
    <li>
        Upon receiving a request from staff within the National Technical Institute for the Deaf interpreting training program
        <sup>
            <a href="#footnote-17" id="footnote-ref-17"><span class="sr-only"> footnote </span> [18]</a>
        </sup>
        , the DDBHH Office shared the redacted version of this list with SED’s explicit approval.
    </li>
    <li>Began the process of developing and collecting data on DDBHH children in the New York education system with the Office of Special Education.</li>
    <li>
        The executive director of the DDBHH office was invited to and became seated on the Advisory Council on Postsecondary Education for Students with Disabilities
        <sup>
            <a href="#footnote-18" id="footnote-ref-18"><span class="sr-only"> footnote </span> [19]</a>
        </sup>
        as an ex-officio member. Christopher Woodfill attended the first meeting in October. This advisory council focuses on ensuring access to post secondary education for disabled residents of New York state.
    </li>
</ol>
<p>Priorities:</p>
<ol>
    <li>Complete the data development and collection process with the Office of Special Education.</li>
    <li>
        Using the statewide ASL in high school list, determine where to establish additional Interpreting Training Programs (ITPs) within the SUNY/CUNY system, then begin the process of establishing the programs after the determination is
        made.
    </li>
    <li>Address the need for qualified/skilled ASL interpreters in the education field with SED.</li>
    <li>Work with SED to discuss possible regulatory changes within the 4201 school charter.</li>
    <li>Set statewide standards for educational interpreting.</li>
</ol>
<p>
    This office has met with Ceylane Meyers-Ruff, Deputy Commissioner at ACCES-VR, Linda Schramm, Assistant Commissioner, and with Brenda Rotolo, Senior Vocational Rehabilitation Counselor. Accomplishments and priorities for ACCES-VR are
    below:
</p>
<p>Accomplishments:</p>
<ol>
    <li>ACCES-VR will collaborate with the DDBHH Office in the next round of ACCES-VR statewide needs assessment in 2026 to ensure full participation from the DDBHH communities.</li>
    <li>
        The executive director of the DDBHH Office, Christopher Woodfill, was invited to sit on the State Rehabilitation Council
        <sup>
            <a href="#footnote-19" id="footnote-ref-19"><span class="sr-only"> footnote </span> [20]</a>
        </sup>
        for ACCES-VR as an ex-officio member.
    </li>
</ol>
<p></p>
<p>Priorities:</p>
<ol>
    <li>Set up regularly scheduled meetings to support ACCES-VR with access for DDBHH participants of the ACCES-VR services.</li>
    <li>Set up focus groups with ACCES-VR consumers to collect feedback on services it provides for the DDBHH communities. The goal is to assist ACCES-VR in developing a plan of action based on the feedback from the focus groups.</li>
</ol>
<h3 id="_heading=h.qs05584kpaia">Public Service Commission (PSC)
    <sup>
        <a href="#footnote-20" id="footnote-ref-20"><span class="sr-only"> footnote </span> [21]</a>
    </sup>
</h3>
<p>The PSC regulates electric, gas, steam, telecommunications/cable, and private water utilities in New York. Telecommunication and related services for the DDBHH communities are placed within and run by PSC.</p>
<p>The DDBHH Office met with Rory Christian, the PSC designee. The DDBHH Office collaboration with the PSC focused on exploring ways to develop and implement PSC’s suggested priorities listed below:</p>
<ol>
    <li>
        Highlight the history of Commission actions taken over the last 40 years to facilitate the availability of Telecommunication Relay Service (TRS) and Captioned Telephone Service (CTS) for regulated landline telephone companies
        pursuant to PSL §92-a
        <sup>
            <a href="#footnote-21" id="footnote-ref-21"><span class="sr-only"> footnote </span> [22]</a>
        </sup>
        .
    </li>
    <li>The Commission can leverage the Department of Public Service to help conduct consumer outreach and education to the DDBHH communities with support from the DDBHH Office.</li>
    <li>The Commission with inputs and support from the DDBHH Office could provide feedback to the Federal Communication Commission regarding programs, regulations, and initiatives that benefit the DDBHH communities.</li>
    <li>The Commission with support and inputs from the DDBHH Office could investigate best practices around technology and equipment services for the DDBHH communities from other states.</li>
    <li>The Commission with inputs and support from the DDBHH Office could recommend new programs and initiatives being run within the Commission to support the technology and equipment needs of the DDBHH communities.</li>
    <li>The Commission and the DDBHH Office could consider legislative changes to the Commission statutory authorities to enhance the services the Commission provides to the DDBHH communities.</li>
</ol>
<h2 id="_heading=h.nhigi8hftepm">Current Activities and Priorities with Non-IAC Agencies:</h2>
<h3 id="_heading=h.37h0ncxg8n87">Office of New Americans (ONA)
    <sup>
        <a href="#footnote-22" id="footnote-ref-22"><span class="sr-only"> footnote </span> [23]</a>
    </sup>
</h3>
<p>
    The DDBHH Office met with Laura Gonzalez-Murphy, the ONA Executive Director, Cynthia Stewart, and Lourdes Aguas to discuss accessibility and services for DDBHH New Americans in late September. From this meeting, we have a list of
    priorities:
</p>
<ol>
    <li>
        Identify resources that are both reimbursable and non-reimbursable for non-profits supporting the DDBHH New Americans such as Deaf Refugee Advocacy
        <sup>
            <a href="#footnote-23" id="footnote-ref-23"><span class="sr-only"> footnote </span> [24]</a>
        </sup>
        and Deaf New Americans Advocacy INC
        <sup>
            <a href="#footnote-24" id="footnote-ref-24"><span class="sr-only"> footnote </span> [25]</a>
        </sup>
        .
    </li>
    <li>
        Identify several top non-ASL sign languages such as Mexican Sign Language, British Sign Language and Chinese Sign Language to be used for accessibility purposes throughout ONA websites, publications, and press releases. Identify
        regular service providers for these sign languages for service delivery in addition to websites, publications, and press releases.
    </li>
    <li>Outreach and educate DDBHH New Americans about the services that ONA provides.</li>
</ol>
<h3 id="_heading=h.45xbkhp6awmu">Office of Language Access (OLA)
    <sup>
        <a href="#footnote-25" id="footnote-ref-25"><span class="sr-only"> footnote </span> [26]</a>
    </sup>
</h3>
<p>
    The DDBHH Office has had extensive and productive collaboration with OLA, which is an entity within the Office of General Services that focuses on providing language access to New Yorkers with limited English proficiency who are
    interacting with state programs and services. The early determination that language, communication, and information access are the meta-issues of the DDBHH communities in New York state informed our many collaborations with OLA. With
    this in mind, a close and productive relationship was developed with OLA. Accomplishments and priorities are listed below:
</p>
<p>Accomplishments:</p>
<ol>
    <li>
        Worked with OLA on the first published version of the Personal First-Identity First document
        <sup>
            <a href="#footnote-26" id="footnote-ref-26"><span class="sr-only"> footnote </span> [27]</a>
        </sup>
        and on the development of a future second version of the same document to ensure that terminology used to describe DDBHH individuals are culturally and linguistically appropriate to the members of the communities.
    </li>
    <li>
        Incorporated ASL in the 2024 non-English language survey, as required by the 2022 Language Access law. The survey is sent out to state employees biannually to gauge how many people speak which languages at home.
        <ol>
            <li>When publicly available, the DDBHH Office will share the survey results to our constituents and on our website.</li>
        </ol>
    </li>
    <li>
        Worked together to produce an ASL video to recognize and celebrate International Day of Sign Languages as part of OLA’s Power of Language: Celebrating the Languages of New York Video Series.
        <sup>
            <a href="#footnote-27" id="footnote-ref-27"><span class="sr-only"> footnote </span> [28]</a>
        </sup>
        <ol>
            <li>The video focused on Sign Languages was published and disseminated on the International Day of Sign Languages on September 23, 2024.</li>
        </ol>
    </li>
    <li>
        Developed a Best Practices for ASL Interpreters document
        <sup>
            <a href="#footnote-28" id="footnote-ref-28"><span class="sr-only"> footnote </span> [29]</a>
        </sup>
        and a presentation given by both Christopher Woodfill and Rachel Cahill to approximately 90 Language Access Coordinators from most of 96 state agencies during the quarterly meeting hosted by OLA in December 2024.
    </li>
    <li>
        Worked on the second wave of OLA-produced ASL videos that provide language access to specific state website contents and state documents.
        <ol>
            <li>
                There will be several waves as time goes on, as OLA incorporates ASL interpretation of critical state resources and services as part of their mission to give language access to New Yorkers in the 12 most common non-English
                languages and ASL.
                <sup>
                    <a href="#footnote-29" id="footnote-ref-29"><span class="sr-only"> footnote </span> [30]</a>
                </sup>
            </li>
        </ol>
    </li>
</ol>
<p>Priorities:</p>
<ol>
    <li>
        Explore the possibility of implementing Direct Video Calling service for ASL users to call state agencies without needing relay interpreters.
        <ol>
            <li>Direct Video Calling skips the need by the DDBHH constituents for interpreters to access state services by having ASL fluent individuals receive phone calls from these constituents.</li>
        </ol>
    </li>
    <li>Implement the third wave of ASL videos for state website content and documents after the second wave is finished.</li>
    <li>Develop a Best Practices for Communication Access Real-Time Translation(CART) Captioners document that will help Language Access Coordinators across all state agencies.</li>
    <li>Investigate how the spoken English language should be accessible to the Hard of Hearing community through captioning and Assistive Listening Devices.</li>
</ol>
<h3 id="_heading=h.b9oeyggb76hj">Office of General Services (OGS)
    <sup>
        <a href="#footnote-30" id="footnote-ref-30"><span class="sr-only"> footnote </span> [31]</a>
    </sup>
</h3>
<p>
    Staff within OGS have contacted the CDO to inquire about installing hearing loops in state facilities. The DDBHH Office has been advised by the New York chapter of the Hearing Loss Association of America on where hearing loops should be
    installed in state facilities. This office has the necessary information to meet in 2025 with OGS about considering hearing loop installations in state facilities.
</p>
<h3 id="_heading=h.nmwgs8e6vjyf">Department of Homeland Security and Emergency Services (DHSES)
    <sup>
        <a href="#footnote-31" id="footnote-ref-31"><span class="sr-only"> footnote </span> [32]</a>
    </sup>
</h3>
<p>The DDBHH Office joined the CDO in their meetings with the DHSES. CDO has a standing relationship with DHSES and the DDBHH Office joined in to provide perspectives related to the DDBHH communities.</p>
<h3 id="_heading=h.uzvoyorjh611">Office of Employee Relations (OER)
    <sup>
        <a href="#footnote-32" id="footnote-ref-32"><span class="sr-only"> footnote </span> [33]</a>
    </sup>
</h3>
<p>
    The DDBHH Office met with Trenton Graham, OER Director of the Workforce and Organizational Development Unit. We focused on reasonable accommodations and required trainings, which have a significant impact on a DDBHH employee’s ability
    to work for the state. Details on the accomplishments below:
</p>
<ol>
    <li>
        OER has agreed that the current reasonable accommodation policy needs further clarifications for managers.
        <ol>
            <li>
                The current policy requires at least six levels of approvals for any reasonable accommodations requested by employees with disabilities. We, along with the CDO, are supporting OER in their revisions of the reasonable
                accommodation policy.
            </li>
        </ol>
    </li>
    <li>
        OER has agreed to include stand-alone ASL interpreted versions of their required training modules and one has been made.
        <ol>
            <li>Several more are in the works and should be completed in early 2025. All of the interpretations are done by Certified Deaf Interpreters.</li>
        </ol>
    </li>
</ol>
<h3 id="_heading=h.mg7f5sluvt76">Office of the New York State Attorney General (OAG)
    <sup>
        <a href="#footnote-33" id="footnote-ref-33"><span class="sr-only"> footnote </span> [34]</a>
    </sup>
</h3>
<p>
    Staff at OAG reached out to this office to set up a meeting about the best ways for the DDBHH communities to communicate with the OAG. The current method of community feedback collection relies on teletypewriter telephone (TTY), which
    is a device that receives typed words from a relay interpreter and is now commonly considered outdated technology. The OAG received feedback from the DDBHH communities that they should be using Video Relay Service (VRS)
    <sup>
        <a href="#footnote-34" id="footnote-ref-34"><span class="sr-only"> footnote </span> [35]</a>
    </sup>
    , which is a service provided by the FCC to provide interpreted video relay calls instead of TTY. They reached out to this office to learn more about VRS and how it works. This conversation had outcomes below:
</p>
<ol>
    <li>
        OAG will be creating a dedicated VRS line to reach a live person, instead of engaging an automated recorded menu where VRS callers are often hung up on due to the nature of VRS calls being unable to easily access phone menus that
        have limited time to input information into.
    </li>
    <li>OAG will explore the Direct Video Calling (DVC) option and determine if it is a feasible feature for their office.</li>
</ol>
<h3 id="_heading=h.utxxyi9nknxx">Department of Corrections and Community Supervision (DOCCS)
    <sup>
        <a href="#footnote-35" id="footnote-ref-35"><span class="sr-only"> footnote </span> [36]</a>
    </sup>
</h3>
<p>
    The DDBHH Office met with DOCCS to discuss communication accessibility for DDBHH employees within the DOCCS system. VRS was installed for an ASL-using Deaf DOCCS employee after consultation with this office on the particulars of VRS and
    connecting them with internet technology services to discuss how to ensure compatibility with security protocols. This office collaborated with DOCCS to find a way for an employee with a cochlear implant (CI) to adjust their CI setting
    without using their personal mobile phone, which addresses certain security concerns. DOCCS will implement these strategies for other employees facing the same situations. The DDBHH Office will explore ways to improve communication
    access for DDBHH inmates as the relationship between the DDBHH Office and DOCCS progresses.
</p>
<h2 id="_heading=h.usnkoiwwpla7">Executive Chamber</h2>
<h3 id="_heading=h.udgjav58qbzp">Chief Diversity Office
    <sup>
        <a href="#footnote-36" id="footnote-ref-36"><span class="sr-only"> footnote </span> [37]</a>
    </sup>
</h3>
<p>The DDBHH Office regularly met with the Chief Diversity Office along with and separately from the CDO. We collaborated on several things this year for the benefit of each other’s offices and the communities the offices represent.</p>
<p>Accomplishments:</p>
<ol>
    <li>
        Add letter A after DEI as a general and common practice.
        <ol>
            <li>This adds Accessibility to Diversity, Equity and Inclusion to ensure that disability (including the DDBHH) communities are included in this space and by these practices.</li>
        </ol>
    </li>
    <li>
        Christopher Woodfill was asked to join the Chief Diversity Office’s quarterly Statewide Lunch and Learn in early October to discuss community engagement with the diverse communities of NYS employees.
        <ol>
            <li>We all discussed the importance of outreach and engagement with diverse and underserved communities.</li>
        </ol>
    </li>
</ol>
<h3 id="_heading=h.up32tjmmarq6">Office of Employee Engagement</h3>
<p>
    The DDBHH Office worked with Resa Ostrander, Director of Employee Engagement for the Executive Chamber, on providing a three part Lunch and Learn series on the DDBHH communities. This Lunch and Learn series was offered to Executive
    Chamber staff and Department of Budget staff. The first part focused on the descriptions of each community, history, basic cultural norms, communication methods, and key advocacy needs. The second part focused on the basics of ASL, the
    history of the language, and ASL-related topics. The third part focused on conversational signing. We are considering the possibility of developing a training module with the Office of Employee Relations focused on the DDBHH communities
    to benefit all state employees.
</p>
<h3 id="_heading=h.jfg036qmy3b4">LGBTQIA+ Affairs Office</h3>
<p>
    The DDBHH Office interacted with Ron Zacchi, then director of the LGBTQIA+ Affairs office several times to discuss a variety of topics relevant to the DDBHH LGBTQIA+ members. Most of the interactions focused on language access and
    connecting the members of the communities with the LGBTQIA+ Affairs office. Ron took a new role at the NYS Division of Human Rights
    <sup>
        <a href="#footnote-37" id="footnote-ref-37"><span class="sr-only"> footnote </span> [38]</a>
    </sup>
    and we look forward to partnering with the new director once they are onboard and continuing the work started with Ron.
</p>
<h3 id="_heading=h.i3iwmy4saoww">Asian Affairs Office
    <sup>
        <a href="#footnote-38" id="footnote-ref-38"><span class="sr-only"> footnote </span> [39]</a>
    </sup>
</h3>
<p>
    The DDBHH Office met with the Asian Affairs Office’s Shawn Ma and Sibu Nair a few times to focus on supporting the Asian members of the DDBHH communities in New York. Most of the discussions were focused on language access of the DDBHH
    Asian New Americans in New York. It is the aim of the DDBHH Office to work with the Asian Affairs office to introduce them to more members of the DDBHH Asian Americans in 2025.
</p>
<h3 id="_heading=h.bh2ab75cruf">Office of Customer Experience Officer
    <sup>
        <a href="#footnote-39" id="footnote-ref-39"><span class="sr-only"> footnote </span> [40]</a>
    </sup>
</h3>
<p>The DDBHH Office met with Tonya Webster, the Customer Experience Officer within the Executive Chamber. We discussed several things:</p>
<ol>
    <li>The Department of Taxation, Department of Transportation, Department of Labor, and Department of Health are the four departments with the highest levels of engagement with New York residents.</li>
    <li>
        We discussed the concept of Direct Video Calling with Tonya in relation to these four agencies.
        <ol>
            <li>This conversation may include the leaders of these agencies, the Office of Language Access, and other relevant agencies/departments.</li>
        </ol>
    </li>
    <li>
        We discussed language, communication, and information access for the DDBHH community members interacting with the New York state government and services. Tonya used the “time tax” concept to explain how barriers to state services
        can be costly to New York residents who are DDBHH when their services are either delayed or denied due to the lack of language, communication access, or information access. Other means of providing language, communication, and
        information access were discussed.
    </li>
    <li>Both offices agreed to continue conversing and creating action steps about these topics in 2025.</li>
</ol>
<h3 id="_heading=h.wk19w8j81sxp">Deputy Secretary of Finance
    <sup>
        <a href="#footnote-40" id="footnote-ref-40"><span class="sr-only"> footnote </span> [41]</a>
    </sup>
</h3>
<p>
    The DDBHH Office met with Albert Pulido, Deputy Secretary for Finance and Technology, to discuss Artificial Intelligence (AI)-related topics under his purview. This office shared with Albert specific resources that are relevant to AI
    safety for the DDBHH communities. We plan to discuss in the near future how to make sure AI is safe for the DDBHH communities in New York.
</p>
<h2 id="_heading=h.l2790bkjyk5v">Engagements with the DDBHH communities</h2>
<p>
    The DDBHH Office has had engagements with numerous organizations and individuals who represent the members and allies of the DDBHH communities in New York. Until the establishment of the IAC, these engagements are the primary means of
    collecting feedback on issues and trends within the DDBHH communities. Below is a list of community organizations that this office has engaged with and on what topics:
</p>
<p>
    Hearing Loss Association of America New York chapter (HLAA-NY)
    <sup>
        <a href="#footnote-41" id="footnote-ref-41"><span class="sr-only"> footnote </span> [42]</a>
    </sup>
    : The DDBHH Office has regularly scheduled quarterly meetings with the entire board of HLAA-NY. The DDBHH Office has separate meetings with Jerry Bergman, the designated liaison between the DDBHH Office and HLAA-NY, to discuss in-depth
    the issues of concern to the Hard of Hearing communities in New York state. HLAA-NY has specific priorities that generally cover the topics related to insurance coverage for hearing aids, cochlear implants, and assistive listening
    devices, installation of hearing loops in state facilities, access to and licensure for CART/Captioning, and collection of demographic data on the Hard of Hearing population in New York State and council appointments.
</p>
<p>
    Empire State Association of the Deaf (ESAD
    <sup>
        <a href="#footnote-42" id="footnote-ref-42"><span class="sr-only"> footnote </span> [43]</a>
    </sup>
    ): The DDBHH Office has met with the ESAD board a few times and meets more frequently with Steve Lovi, the ESAD president. The ESAD board submitted their list of priorities to the DDBHH Office. The list of priorities cover topics such
    as interpreter licensure/standards, ASL fluency, healthcare equity, programs and services for Deaf senior citizens, advocacy training, council appointments, and movie open captioning.
</p>
<p>
    The DDBHH Office also met with a group of New York DeafBlind leaders in the spring of 2024. The executive director of the DDBHH Office is DeafBlind and has connected deeply and strongly with the DeafBlind community in New York. The
    meeting had three goals: to explain what the DDBHH Office does and how it can help the DeafBlind community; to receive feedback on what the priorities should be on the behalf of the DeafBlind community; to inquire after the
    establishment of a statewide DeafBlind association. The highest priority from the community was very clear - they asked the DDBHH Office to focus on the establishment of a statewide Co-Navigator program.
</p>
<p>
    The DDBHH Office met with the 4201 School Association
    <sup>
        <a href="#footnote-43" id="footnote-ref-43"><span class="sr-only"> footnote </span> [44]</a>
    </sup>
    and some schools individually within the association. In April of 2024. This office met with the 4201 School Association to discuss the creation of our new office, its priorities as those relate to education, and to collect feedback
    from the attendees of the 4201 School Association. The DDBHH Office met with leaders of several 4201 schools and toured some schools.
</p>
<p>
    The DDBHH Office met with and toured Rochester Deaf Kitchen (RDK)
    <sup>
        <a href="#footnote-44" id="footnote-ref-44"><span class="sr-only"> footnote </span> [45]</a>
    </sup>
    in May of 2024, which is a food pantry program for the Deaf residents of Rochester and the surrounding areas based at the Rochester School for the Deaf
    <sup>
        <a href="#footnote-45" id="footnote-ref-45"><span class="sr-only"> footnote </span> [46]</a>
    </sup>
    . RDK hopes to become a full-service center with wraparound services for Deaf people, including food pantry, nutrition and cooking education classes, and hosting benefit counselors. RDK also hopes to establish additional centers
    throughout New York State for the benefit of the Deaf community. The key contact person for this organization is Zach Ennis. The DDBHH Office arranged a meeting within the Executive Chamber with representatives from the Department of
    Health, Department of Agriculture, and Non-Profit Affairs office to discuss how to support this organization’s goals. Follow-ups will be made with the Department of Agriculture and Non-Profit Affairs office to further dialogue with
    them. The information from the initial meeting has been shared with RDK. Additional information from further meetings will be shared with the organization upon their conclusion.
</p>
<p>
    The DDBHH Office met with Deaf Refugee Association (DRA)
    <sup>
        <a href="#footnote-46" id="footnote-ref-46"><span class="sr-only"> footnote </span> [47]</a>
    </sup>
    and its executive director, Diana Pryntz in May 2024. Diana led a tour and discussed the needs of the organization. DRA has been trying to expand its reach and service statewide outside of Monroe County. They are trying to pursue state
    and other grants to achieve this. The organization specializes in providing support and services to all new Americans who are Deaf in Monroe County. DRA is recognized as a subject matter expert on providing services and support to Deaf
    New Americans by the federal government and several other states.
</p>
<p>
    The DDBHH Office joined the monthly meeting of an informal group of community providers from Rochester and the surrounding areas that are led by Dora Tin and Patricia Canne. Dozens of community providers for the DDBHH join the monthly
    meeting to exchange updates with each other and to learn more about services each provides for the community members. Through this monthly meeting, the DDBHH Office met with several different community providers to develop relationships
    with them and to learn more about needs and challenges they are having to serve the DDBHH communities. As a result of these meetings and our interactions with some additional organizations and agencies not involved with this group, such
    as United Hands Organization
    <sup>
        <a href="#footnote-47" id="footnote-ref-47"><span class="sr-only"> footnote </span> [48]</a>
    </sup>
    , Millneck Services
    <sup>
        <a href="#footnote-48" id="footnote-ref-48"><span class="sr-only"> footnote </span> [49]</a>
    </sup>
    , Metropolitan Association of Deaf Asians
    <sup>
        <a href="#footnote-49" id="footnote-ref-49"><span class="sr-only"> footnote </span> [50]</a>
    </sup>
    , Rockland County Deafness Task Force, Alcoholics Anonymous NYC Deaf Access Committee
    <sup>
        <a href="#footnote-50" id="footnote-ref-50"><span class="sr-only"> footnote </span> [51]</a>
    </sup>
    , Research Partnership between University of Rochester Medical Center
    <sup>
        <a href="#footnote-51" id="footnote-ref-51"><span class="sr-only"> footnote </span> [52]</a>
    </sup>
    , Syracuse University
    <sup>
        <a href="#footnote-52" id="footnote-ref-52"><span class="sr-only"> footnote </span> [53]</a>
    </sup>
    , Aurora of Central New York, Inc
    <sup>
        <a href="#footnote-53" id="footnote-ref-53"><span class="sr-only"> footnote </span> [54]</a>
    </sup>
    ., and University of Rochester Medical Center’s National Center on Deaf Health Research
    <sup>
        <a href="#footnote-54" id="footnote-ref-54"><span class="sr-only"> footnote </span> [55]</a>
    </sup>
    , the DDBHH Office was able to meet with NYSOFA, DOH, Office of Addiction Services and Supports
    <sup>
        <a href="#footnote-55" id="footnote-ref-55"><span class="sr-only"> footnote </span> [56]</a>
    </sup>
    , and ONA with clear understanding of community needs and challenges in aging, health care, addiction, and immigration services from the state.
</p>
<p>
    The DDBHH Office also engaged with the community about emergency and disaster preparedness. Amy Stornello from the Rochester area reached out to the DDBHH Office and discussed emergency preparedness training for front line emergency
    personnel. She has provided the training for many years within the Rochester area. This meeting put language access for emergency services on our radar. The DDBHH Office then connected to Vance Taylor, Chief of the Office of Access and
    Functional Needs in California, and Sadie Martinez, coordinator of Colorado’s Division of Homeland Security and Emergency Management’s Access Functional Needs Office.
</p>
<p>
    Through this connection, this office participated in monthly National Access and Functional Need meetings hosted by Sadie Martinez and her team. These meetings focus on many different aspects of emergency and disaster preparedness.
    Rachel Cahill of DDBHH Office interpreted these meetings for all participants who use ASL. DDBHH Office also participated in Emergency Response Interpreting training offered jointly by the Colorado Commission on Deaf, DeafBlind and Hard
    of Hearing and the Colorado Office of Emergency and Disaster Preparedness. Rachel Cahill is now certified an Emergency Response Interpreter as a result of attending this training. The DDBHH Office was also invited to attend the Deaf
    Emergency and Disaster Preparedness Summit hosted by the National Technical Institute for the Deaf. The Lewiston Maine mass shooting incident where multiple Deaf individuals were killed was discussed and analyzed as a case study on what
    to do and not to do in such emergencies.
</p>
<p>
    American Sign Language Interpreting was a major area of engagement within the community. The DDBHH Office met with numerous stakeholders about all things American Sign Language and interpreting. We engaged several stakeholders about the
    following:
</p>
<ol>
    <li>
        Met with Cory Brunner, vice-president of interpreting services for Vancro Integrated Interpreting Services
        <sup>
            <a href="#footnote-56" id="footnote-ref-56"><span class="sr-only"> footnote </span> [57]</a>
        </sup>
        , and Sara Collins, operational program manager for Vancro, about the Vermont Interpreter Mentoring initiative. The purpose of this meeting was to learn about the Vermont Interpreter Mentoring initiative and apply the lessons
        learned to the potential Interpreter Fellowship program here in New York state.
    </li>
    <li>
        Met with Kelly Decker, Project Coordinator of Improving Rural Interpreters Skills (IRIS)
        <sup>
            <a href="#footnote-57" id="footnote-ref-57"><span class="sr-only"> footnote </span> [58]</a>
        </sup>
        at University of Northern Colorado, about interpreter mentorship, interpreter training programs, and growing the pool of American Sign Language interpreters in New York State. From this meeting, we got connected with Nevada State
        Communication Access Service on American Sign Language interpreters.
    </li>
    <li>
        Met with staff of the State of Nevada Communication Access Service
        <sup>
            <a href="#footnote-58" id="footnote-ref-58"><span class="sr-only"> footnote </span> [59]</a>
        </sup>
        to discuss their interpreter registration process, interpreter mentorship program, growing pool of interpreters in Nevada, state-provided professional development opportunities for interpreters, and their successes plus challenges
        with their state interpreter governance model.
    </li>
    <li>
        Met with Dr. Kim Kurz from the National Technical Institute for the Deaf about Sign Language Proficiency Interview (SLPI)
        <sup>
            <a href="#footnote-59" id="footnote-ref-59"><span class="sr-only"> footnote </span> [60]</a>
        </sup>
        .
    </li>
    <li>
        Met with Marti Kellner from Gallaudet University about the American Sign Language Proficiency Interview (ASLPI).
        <sup>
            <a href="#footnote-60" id="footnote-ref-60"><span class="sr-only"> footnote </span> [61]</a>
        </sup>
    </li>
    <li>Met with NTID interpreter training program staff.</li>
    <li>
        Met with many stakeholders about interpreting within health, mental health, aging, addiction, education and several other areas.
        <ol>
            <li>The use of Video Relay Interpreting was a particular concern among these stakeholders in these areas.</li>
        </ol>
    </li>
</ol>
<p>
    The DDBHH Office met with many DDBHH New Yorkers about some specific situations such as evictions, issues within correctional facilities, language access in the court system, employment, access to various state services, emergency and
    disaster preparedness, education, state benefits, and hearing loops in state facilities.
</p>
<h2 id="_heading=h.uqoshiubrzz">Other Accomplishments/Activities of 2024:</h2>
<ol>
    <li>On April 14, the DDBHH Office visited and toured <a href="https://nabavision.org/">Northeastern Association for the Blind at Albany</a>.</li>
    <li>On April 15, the DDBHH Office met with the 4201 School Association.</li>
    <li>From April 30 to May 1, the DDBHH Office attended the <a href="https://www.nga.org/">National Governors Association</a> summit on Disability Employment in Albany.</li>
    <li>
        On May 16, the DDBHH Office attended the
        <a href="https://www.helenkeller.org/cbs-news-covers-hks-tech-blitz-event-highlighting-the-impact-of-assistive-technology-for-blind-deafblind-and-low-vision-communities/">Helen Keller National Center Tech Blitz</a>.
    </li>
    <li>On May 21, the DDBHH Office attended CO-CMIST 4009: CMIST Response Teams - Emergency Response Interpreter hosted by the State of Colorado.</li>
    <li>
        On May 31, the DDBHH Office attended the <a href="https://www.facebook.com/ritntid/posts/ritntid-recently-hosted-the-greater-rochester-deaf-and-hard-of-hearing-emergency/874641551360079/">Emergency Preparedness Summit</a> hosted by
        RIT/National Technical Institute for the Deaf.
    </li>
    <li>
        On June 7, Executive Director Chris Woodfill provided remarks at the
        <a href="https://myemail.constantcontact.com/NYDBC-CHARGE-Syndrome-2024-Conference---June-7---9--2024---Princeton--NJ.html?soid=1103025184259&amp;aid=bsnCs5QptwM">CHARGE conference </a>in Princeton, New Jersey.
    </li>
    <li>On June 10, the DDBHH Office attended the <a href="https://hub.ihsinfo.org/hearinghealthcareallianceofnewyork/home">Hearing Health Alliance Conference</a> in Saratoga Springs.</li>
    <li>
        On June 17,
        <a href="https://www.romesentinel.com/news/rome-new-york-state-school-for-the-deaf-2024-graduation/article_ff34e5d6-2cc4-11ef-bb3b-13cbaf531474.html">
            Executive Director Chris Woodfill gave a commencement speech at the Rome School for the Deaf Class of 2024 graduation on behalf of Governor Hochul
        </a>
        .
    </li>
    <li>On June 20, the DDBHH Office attended the Long Spoons Forum on Deaf Health Care (Long Island and NYC) at Millneck Services.</li>
    <li>
        From July through September, the DDBHH <a href="https://www.ny.gov/sites/default/files/2024-12/DDBHH_Flyer.pdf">Office provided a Lunch and Learn Series</a> to Executive Chamber Staff on DDBHH communities and a short series of ASL
        conversational signs.
    </li>
    <li>
        On July 1, the DDBHH Office attended its first
        <a href="https://nasadhh.org/wp-content/uploads/2024/06/NASADHH-2024-Policy-Summit-Agenda.6.17.pdf">National Association of State Agencies of the Deaf and Hard of Hearing Summit</a> (NASADHH) before the National Association of the
        Deaf (NAD) Conference in Chicago.
    </li>
    <li>From July 19-20, the DDBHH Office attended the<a href="https://www.usher-syndrome.org/events/"> Usher Syndrome Coalition biannual conference </a>in Rochester.</li>
    <li>
        On July 29, the NY ADA Pride Event was held at the Executive Mansion where Governor Hochul recognized the establishment of the new DDBHH Office. Dr. Kim Kurz from the National Technical Institute for the Deaf gave remarks. Jaden
        Dibble, a 2024 New York School for the Deaf, Rome graduate performed Taylor Swift's "Welcome to New York" in ASL.
    </li>
    <li>On Aug. 13, the DDBHH Office visited the <a href="https://www.justicecenter.ny.gov/location/southern-adirondack-independent-living-traid-rtc">Southern Adirondack Independent Living TRAID</a> Center in Queensbury.</li>
    <li>
        On Aug. 29 and 30, <a href="https://www.urmc.rochester.edu/deaf-roc">Executive Director Chris Woodfill gave a Keynote</a> at the DEAF Roc conference University of Rochester Medical Center (URMC) and at National Technical Institute
        for the Deaf (NTID).
    </li>
    <li>On Sept. 12, the DDBHH Office attended the NYS LGBTQIA+ Convening.</li>
    <li>On Sept. 17, Executive Director Chris Woodfill joined as one of the panelists for a Lunch and Learn, Putting Equity into Practice-Community Engagement DEIA series Statewide Panel.</li>
    <li>On Sept. 23, the DDBHH Office partnered with Office of Language Access to produce an <a href="https://www.youtube.com/watch?v=pnxkylu-z9A">International Day of Sign video</a>.</li>
    <li>
        On Oct. 1 and 2, the DDBHH Office assisted the Chief Disability Office hosting the third annual
        <a href="https://www.ny.gov/events/disability-rights-employment-awareness-month-dream-symposium-0">DREAM symposium (Disability Rights Employment Awareness Month)</a>.
    </li>
    <li>On Oct. 8, Executive Director Chris Woodfill introduced our office to the NY State Veterans Affairs service providers.</li>
    <li>
        On Oct. 9, the DDBHH Office attended the
        <a href="https://www.governor.ny.gov/news/governor-hochul-announces-second-annual-new-york-state-diversity-equity-inclusion-and">NYS Diversity Equity Inclusion and Accessibility Workforce Symposium</a>.
    </li>
    <li>On Oct. 17, <a href="https://www.youtube.com/watch?v=EIEl3smvG9M">Executive Director Chris Woodfill gave a keynote address at the Civil Service DREAM (Disability Rights Employment Awareness Month)</a></li>
    <li>
        On Oct. 17, the executive director, Christopher Woodfill attended the first
        <a href="https://www.regents.nysed.gov/sites/regents/files/ACCESP12HE%20-%20Advisory%20Council%20on%20Postsecondary%20Education%20For%20Students%20with%20Disabilities.pdf">
            Advisory Council on Post Secondary Education for Students with Disabilities
        </a>
        .
    </li>
    <li>On Oct. 29, the <a href="https://www.ny.gov/programs/new-york-state-deaf-deafblind-and-hard-hearing-office">New York State Deaf, DeafBlind and Hard of Hearing Office website</a> launched.</li>
</ol>
<p>
    The DDBHH Office maintains regular meetings with IAC State Agency designees, State representatives from the Empire State Association for the Deaf
    <sup>
        <a href="#footnote-61" id="footnote-ref-61"><span class="sr-only"> footnote </span> [62]</a>
    </sup>
    , and the Hearing Loss Association of America NY Chapters.
    <sup>
        <a href="#footnote-62" id="footnote-ref-62"><span class="sr-only"> footnote </span> [63]</a>
    </sup>
</p>
<p>
    The DDBHH Office participated in state and city government meetings with the Workforce Development Interagency Coordinating Council, Most Integrated Setting Coordinating Council
    <sup>
        <a href="#footnote-63" id="footnote-ref-63"><span class="sr-only"> footnote </span> [64]</a>
    </sup>
    , NYC Mayor’s Office for People with Disabilities
    <sup>
        <a href="#footnote-64" id="footnote-ref-64"><span class="sr-only"> footnote </span> [65]</a>
    </sup>
    , and the National Access and Functional Needs meetings hosted by the State of Colorado.
</p>
<h2 id="_heading=h.r1okhwiu5jcm">Gratitudes:</h2>
<p>
    The staff of the DDBHH Office engaged with state partners and community stakeholders to break down the barriers related to access to language, communication, and information. We are very grateful to our state partners and community
    stakeholders for all of their hard work and efforts on the behalf of the DDBHH communities. Without our state partners and community stakeholders, progress on the fundamental priorities would not have been possible. Finally, we would
    like to give special thanks to all colleagues from the Chief Disability Office for their steadfast support of this office, its staff, and its priorities.
</p>
<p>If you have any questions about this annual report, please contact us at <a href="mailto:CDO.IAC@exec.ny.gov">CDO.IAC@exec.ny.gov</a></p>

<h2> Footnotes & References </h2>
<ol>
    <li  id="footnote-0">
            <div class="nysds-a11y-footnote">
            <a href="https://newyork.public.law/laws/n.y._executive_law_section_559">
                New York Executive Law Section 559 – New York State interagency coordinating council for services to persons who are deaf, deaf-blind, or hard of hearing
            </a>
            <a class="nysds-a11y-footnote-return" href="#footnote-ref-0">↑ return to footnote</a>
            </div>
        
    </li>
    <li  id="footnote-1"><div class="nysds-a11y-footnote">
        <a href="https://www.ny.gov/programs/office-chief-disability-officer">office-chief-disability-officer</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-1">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-2"><div class="nysds-a11y-footnote">
        <a href="https://www.ny.gov/programs/new-york-state-deaf-deafblind-and-hard-hearing-office">/new-york-state-deaf-deafblind-and-hard-hearing-office</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-2">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-3"><div class="nysds-a11y-footnote">
        <a href="https://www.health.ny.gov/">https://www.health.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-3">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-4"><div class="nysds-a11y-footnote">
        <a href="https://www.rochesterdeafkitchen.com/">https://www.rochesterdeafkitchen.com/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-4">↑ return to footnote</a>
        </div>
    </li>
    <li  id="footnote-5"><div class="nysds-a11y-footnote">
        <a href="https://gallaudet.edu/deafhealth/">https://gallaudet.edu/deafhealth/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-5">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-6"><div class="nysds-a11y-footnote">
        <a href="https://dol.ny.gov/"> https://dol.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-6">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-7"><div class="nysds-a11y-footnote">
        <a href="https://www.justicecenter.ny.gov/">https://www.justicecenter.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-7">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-8"><div class="nysds-a11y-footnote">
        <a href="https://www.justicecenter.ny.gov/traid-program">https://www.justicecenter.ny.gov/traid-program</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-8">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-9"><div class="nysds-a11y-footnote">
        <a href="https://aging.ny.gov/">https://aging.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-9">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-10"><div class="nysds-a11y-footnote">
        <a href="https://www.rit.edu/ntid/deafhub">https://www.rit.edu/ntid/deafhub</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-10">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-11"><div class="nysds-a11y-footnote">
        <a href="https://ocfs.ny.gov/main/">https://ocfs.ny.gov/main/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-11">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-12"><div class="nysds-a11y-footnote">
        <a href="https://ocfs.ny.gov/programs/nyscb/">https://ocfs.ny.gov/programs/nyscb/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-12">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-13"><div class="nysds-a11y-footnote">
        <a href="https://ocfs.ny.gov/programs/nyscb/state-rehab.php">https://ocfs.ny.gov/programs/nyscb/state-rehab.php</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-13">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-14"><div class="nysds-a11y-footnote">
        <a href="https://www.nysed.gov/">https://www.nysed.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-14">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-15"><div class="nysds-a11y-footnote">
        <a href="https://www.nysed.gov/special-education">https://www.nysed.gov/special-education</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-15">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-16"><div class="nysds-a11y-footnote">
        <a href="https://www.acces.nysed.gov/vr">https://www.acces.nysed.gov/vr</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-16">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-17"><div class="nysds-a11y-footnote">
        <a href="https://www.rit.edu/ntid/academics/interpreting">https://www.rit.edu/ntid/academics/interpreting</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-17">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-18"><div class="nysds-a11y-footnote">
        
            <a href="https://www.regents.nysed.gov/sites/regents/files/ACCESP12HE%20-%20Advisory%20Council%20on%20Postsecondary%20Education%20For%20Students%20with%20Disabilities.pdf">
                Regents Advisory Council on Postsecondary Education For Students with Disabilities
            </a>
            <a class="nysds-a11y-footnote-return" href="#footnote-ref-18">↑ return to footnote</a></div>
        
    </li>
    <li  id="footnote-19"><div class="nysds-a11y-footnote">
        <a href="https://www.acces.nysed.gov/vr/state-rehabilitation-council-src">https://www.acces.nysed.gov/vr/state-rehabilitation-council-src</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-19">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-20"><div class="nysds-a11y-footnote">
        <a href="https://dps.ny.gov/">https://dps.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-20">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-21"><div class="nysds-a11y-footnote">
        <a href="https://www.nysenate.gov/legislation/laws/PBS/92-A"> https://www.nysenate.gov/legislation/laws/PBS/92-A</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-21">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-22"><div class="nysds-a11y-footnote">
        <a href="https://dos.ny.gov/office-new-americans">https://dos.ny.gov/office-new-americans</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-22">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-23"><div class="nysds-a11y-footnote">
        <a href="https://www.deafrefugeeadvocacy.org/">https://www.deafrefugeeadvocacy.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-23">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-24"><div class="nysds-a11y-footnote">
        <a href="https://www.deafnewamerican.org/">https://www.deafnewamerican.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-24">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-25"><div class="nysds-a11y-footnote">
        <a href="https://ogs.ny.gov/office-language-access">https://ogs.ny.gov/office-language-access</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-25">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-26"><div class="nysds-a11y-footnote">
        <a href="https://ogs.ny.gov/person-first-and-identity-first-language-glossary-1">https://ogs.ny.gov/person-first-and-identity-first-language-glossary-1</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-26">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-27"><div class="nysds-a11y-footnote">
        <a href="https://www.youtube.com/watch?v=xmMc4aehEg8&amp;list=PLWFSbPySNf6XL-GzTeNDt1PBNAO8BmmeO">https://www.youtube.com/watch?v=xmMc4aehEg8&amp;list=PLWFSbPySNf6XL-GzTeNDt1PBNAO8BmmeO</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-27">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-28"><div class="nysds-a11y-footnote">
        
            <a href="https://ogs.ny.gov/system/files/documents/2025/01/best-practices-for-working-with-an-asl-interpreter.pdf">working with an ASL interpreter</a>
            <a class="nysds-a11y-footnote-return" href="#footnote-ref-28">↑ return to footnote</a></div>
        
    </li>
    <li  id="footnote-29"><div class="nysds-a11y-footnote">
        <a href="https://www.youtube.com/watch?v=S8_0RloV21I&amp;list=PLWFSbPySNf6XIYaG9NlCvz7-uPhr6T5cv">Office of General Services - Office of Language Access Homepage</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-29">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-30"><div class="nysds-a11y-footnote">
        <a href="https://ogs.ny.gov/">https://ogs.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-30">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-31"><div class="nysds-a11y-footnote">
        <a href="https://www.dhses.ny.gov/">https://www.dhses.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-31">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-32"><div class="nysds-a11y-footnote">
        <a href="https://oer.ny.gov/">https://oer.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-32">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-33"><div class="nysds-a11y-footnote">
        <a href="https://ag.ny.gov/">https://ag.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-33">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-34"><div class="nysds-a11y-footnote">
        <a href="https://www.fcc.gov/consumers/guides/video-relay-services">https://www.fcc.gov/consumers/guides/video-relay-services</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-34">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-35"><div class="nysds-a11y-footnote">
        <a href="https://doccs.ny.gov/">https://doccs.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-35">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-36"><div class="nysds-a11y-footnote">
        
            <a href="https://www.governor.ny.gov/governors-office-diversity-and-inclusion/governors-office-diversity-and-inclusion">
               /governors-office-diversity-and-inclusion
            </a>
            <a class="nysds-a11y-footnote-return" href="#footnote-ref-36">↑ return to footnote</a></div>
        
    </li>
    <li  id="footnote-37"><div class="nysds-a11y-footnote">
        <a href="https://dhr.ny.gov/">https://dhr.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-37">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-38"><div class="nysds-a11y-footnote">
        <a href="https://www.governor.ny.gov/programs/taking-action-support-asian-american-new-yorkers">https://www.governor.ny.gov/programs/taking-action-support-asian-american-new-yorkers</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-38">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-39"><div class="nysds-a11y-footnote">
        <a href="https://www.governor.ny.gov/programs/taking-action-support-asian-american-new-yorkers">https://www.governor.ny.gov/programs/taking-action-support-asian-american-new-yorkers</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-39">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-40"><div class="nysds-a11y-footnote">
        <a href="https://statescoop.com/albert-pulido-finance-technology-new-york/">https://statescoop.com/albert-pulido-finance-technology-new-york/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-40">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-41"><div class="nysds-a11y-footnote">
        <a href="https://hearinglossnys.org/">https://hearinglossnys.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-41">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-42"><div class="nysds-a11y-footnote">
        <a href="https://www.esad.org/">https://www.esad.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-42">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-43"><div class="nysds-a11y-footnote">
        <a href="https://4201schools.org/">https://4201schools.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-43">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-44"><div class="nysds-a11y-footnote">
        <a href="https://www.rochesterdeafkitchen.com/">https://www.rochesterdeafkitchen.com/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-44">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-45"><div class="nysds-a11y-footnote">
        <a href="https://www.rsdeaf.org/">https://www.rsdeaf.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-45">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-46"><div class="nysds-a11y-footnote">
        <a href="https://www.deafrefugeeadvocacy.org/">https://www.deafrefugeeadvocacy.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-46">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-47"><div class="nysds-a11y-footnote">
        <a href="https://uhands.org/">https://uhands.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-47">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-48"><div class="nysds-a11y-footnote">
        <a href="https://www.millneck.org/mns/">https://www.millneck.org/mns/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-48">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-49"><div class="nysds-a11y-footnote">
        <a href="https://www.madanyc2002.org/">https://www.madanyc2002.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-49">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-50"><div class="nysds-a11y-footnote">
        <a href="https://nycdacaa.org/">https://nycdacaa.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-50">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-51"><div class="nysds-a11y-footnote">
        <a href="https://www.urmc.rochester.edu/">https://www.urmc.rochester.edu/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-51">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-52"><div class="nysds-a11y-footnote">
        <a href="https://www.syracuse.edu/">https://www.syracuse.edu/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-52">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-53"><div class="nysds-a11y-footnote">
        <a href="https://www.auroraofcny.org/">https://www.auroraofcny.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-53">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-54"><div class="nysds-a11y-footnote">
        <a href="https://www.urmc.rochester.edu/ncdhr">https://www.urmc.rochester.edu/ncdhr</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-54">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-55"><div class="nysds-a11y-footnote">
        <a href="https://oasas.ny.gov/">https://oasas.ny.gov/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-55">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-56"><div class="nysds-a11y-footnote">
        <a href="https://vancroiis.com/">https://vancroiis.com/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-56">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-57"><div class="nysds-a11y-footnote">
        <a href="https://www.unco.edu/irisproject/">https://www.unco.edu/irisproject/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-57">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-58"><div class="nysds-a11y-footnote">
        <a href="https://adsd.nv.gov/Programs/Physical/ComAccessSvc/CAS/"> https://adsd.nv.gov/Programs/Physical/ComAccessSvc/CAS/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-58">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-59"><div class="nysds-a11y-footnote">
        <a href="https://www.rit.edu/ntid/slpi">https://www.rit.edu/ntid/slpi</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-59">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-60"><div class="nysds-a11y-footnote">
        <a href="https://gallaudet.edu/american-sign-language-proficiency-interview-aslpi/"> https://gallaudet.edu/american-sign-language-proficiency-interview-aslpi/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-60">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-61"><div class="nysds-a11y-footnote">
        <a href="https://www.esad.org/">https://www.esad.org/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-61">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-62"><div class="nysds-a11y-footnote">
        <a href="https://www.hearingloss.org/get-involved/hlaa-chapters/">https://www.hearingloss.org/get-involved/hlaa-chapters/</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-62">↑ return to footnote</a></div>
    </li>
    <li  id="footnote-63"><div class="nysds-a11y-footnote">
        
            <a
                href="https://www.ny.gov/office-chief-disability-officer/most-integrated-setting-coordinating-council-miscc#:~:text=The%20Most%20Integrated%20Setting%20Coordinating%20Council%20(the%20MISCC)%2C%20which,in%20the%20most%20integrated%20settings"
            >
                /most-integrated-setting-coordinating-council-miscc
            </a>
            <a class="nysds-a11y-footnote-return" href="#footnote-ref-63">↑ return to footnote</a></div>
        
    </li>
    <li  id="footnote-64"><div class="nysds-a11y-footnote">
        <a href="https://www.nyc.gov/site/mopd/index.page">https://www.nyc.gov/site/mopd/index.page</a> <a class="nysds-a11y-footnote-return" href="#footnote-ref-64">↑ return to footnote</a></div>
    </li>
</ol>