     <style>
      .markdown p, h1, h2, h3, h4, h5, h6, ol, ul {
      	grid-column: span 3 / span 3;
      }

      a {
        text-decoration: underline;
      }
      {# a:focus {
        background-color: rgba(96, 165, 250 ,1);
        border-bottom: 2px solid black;
      } #}

   

      </style>
   
