{{
    global({
        siteName:"",
        links: [
            {
                text:"",
                url:""
            },
            {
                text:"dropdown menu",
                items:[
                    {
                        text:"",
                        url:""
                    }
                ]
            },
        ]
    })
}}