
<section class="mt-4 pt-4">
<div class="flex flex-col md:grid md:grid-cols-3 justify-items-center">
<article class="mt-8 md:mt-0 md:border-r md:border-dotted md:border-b border-0">
<div class="flex flex-col items-center">
<img src="/img/nygov-logo.png" class="p-2 m-2" />
<p class="text-center w-3/4"><strong> 1. </strong>Excelsior Pass empowers New Yorkers to easily access and maintain their personal health information and own proof of COVID-19 immunization or testing records.</p>
</div>
</article>
<article class="mt-8 md:mt-0 md:border-r md:border-dotted md:border-b border-0">
<div class="flex flex-col items-center">
<img src="/img/nygov-logo.png" class="p-2 m-2" />
<p class="text-center w-3/4"><strong> 2. </strong>Using secure technology, Excelsior Pass generates a unique, scannable Pass QR code that contains no personal health information in it. It is only used to verify an individual’s vaccination or negative test result <strong>status.</strong></p>
</div>
</article>
<article class="mt-8 md:mt-0 md:border-r md:border-dotted md:border-b border-0">
<div class="flex flex-col items-center ">
<img src="/img/nygov-logo.png" class="p-2 m-2" />
<p class="text-center w-3/4 "><strong> 3. </strong>The Pass QR code is generated and made available to the user based on vaccination and testing information that already exists in the secure New York State and New York City immunization and testing registries.</p>
</div>
</article>
</div>
<div class="flex flex-col md:grid md:grid-cols-3 justify-items-center">
<article class="mt-8 md:mt-0 md:border-r md:border-dotted border-0">
<div class="flex flex-col items-center">
<img src="/img/nygov-logo.png" class="p-2 m-2" />
<p class="text-center w-3/4"><strong> 4. </strong>Passes contain cryptographic signatures that ensure each Pass is genuine and that no data-tampering has occurred.</p>
</div>
</article>
<article class="mt-8 md:mt-0 md:border-r md:border-dotted border-0">
<div class="flex flex-col items-center">
<img src="/img/nygov-logo.png" class="p-2 m-2" />
<p class="text-center w-3/4"><strong> 5. </strong>While Excelsior Pass reduces the need to deal with formal test results and vaccination records like a CDC Card, users choose if, how, or when to present their Pass, which can be stored on the free Excelsior Pass Wallet app, or printed from the Excelsior Pass website portal for those who may not own smartphone devices. Individuals can always present alternate forms of vaccination or negative test results if they prefer.</p>
</div>
</article>
<article class="mt-8 md:mt-0 md:border-r md:border-dotted border-0">
<div class="flex flex-col items-center ">
<img src="/img/nygov-logo.png" class="p-2 m-2" />
<p class="text-center w-3/4 "><strong> 6. </strong>It’s convenient and secure. Retrieve digital proof of COVID-19 vaccination or negative test results with Excelsior Pass. Visit <a href="https://epass.ny.gov/" aria-label="Excelsior Pass Web Portal" class=""> epass.ny.gov </a> to get started.</p>
</div>
</article>
</div>
</section>