@import "../../01-Base/breakpoints/breakpoints";

.o-contact__wrapper {
  width: 100%;
  max-width: 360px;
  font-size: 18px;

  @include breakpoint(tablet) {
    max-width: 690px;
  }

  &.navigator {
    margin: 0;
  }

  .a-contact__description {
    margin: 30px 0 40px;
    font-size: 16px;
    line-height: 20px;

    @include breakpoint(tablet) {
      font-size: 18px;
      line-height: 22px;
    }

    a.button {
      margin: 0 0 14px;
      display: inline-block;

      background: #154973;
      padding: 20px;
      font-family: "Proxima Nova", sans-serif;
      font-weight: bold;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 2px;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;

      &:hover,
      &:active {
        background: #000000;
        text-decoration: none;
      }
    }
  }

  .o-contact__phone-email-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;

    > div {
      width: 100%;
    }

    @include breakpoint(tablet) {
      flex-direction: row;
      > div {
        width: 50%;
        &:first-child {
          padding-right: 30px;
        }
      }
    }
  }

  .o-contact__contact-info {
    margin-bottom: 50px;
    line-height: 22px;

    .a-contactDetail {
      margin-left: 25px;
    }

    a {
      color: #007AC2;
      font-weight: 600;
    }
  }

  .o-contact__social-media-links-container {
    max-width: 700px;
    padding: 25px 0;
    border-top: 1px solid #d0d0ce;
    border-bottom: 1px solid #d0d0ce;

    display: flex;
    flex-wrap: wrap;

    > div {
      padding-right: 15px;
      margin-bottom: 30px;
      box-sizing: border-box;

      $columns: 2;
      width: 100% / $columns;
      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-bottom: 0;
      }

      @include breakpoint(tablet) {
        width: 50%;
      }
      @include breakpoint(laptop){
        width: 25%;
      }
    }

    > .o-contact__social-media-link {
      > a {
        font-size: 13px;
        @include breakpoint(tablet) {
          font-size: 14px;
        }
      }
    }

    > ::before {
      color: #007AC2;
      font-size: 13px;
      margin-right: 3px;
    }
    @media print {
      a::after{
        content: " (" attr(href) ")";
      }
    }
  }
}
