{% set socialMediaArray = [
    {
      name: "vine",
      className: "icon-vine"
    },
    {
      name: "google plus",
      url: "plus.google",
      className: "icon-google-plus"
    },
    {
      name: "facebook",
      shortUrl: "on.fb",
      className: "icon-facebook"
    },
    {
      name: "instagram",
      className: "icon-instagram"
    },
    {
      name: "twitter",
      className: "icon-twitter"
    },
    {
      name: "youtube",
      className: "icon-youtube"
    },
    {
      name: "flickr",
      className: "icon-flickr"
    },
    {
      name: "rss",
      className: "icon-rss"
    },
    {
      name: "pinterest",
      className: "icon-pinterest",
    },
    {
      name: "soundcloud",
      className: "icon-soundcloud",
    },
    {
      name: "tumblr",
      className: "icon-tumblr"
    },
    {
      name: "linkedin",
      className: "icon-linkedin"
    },
    {
      name: "vimeo",
      className: "icon-vimeo"
    },
    {
      name: "snapchat",
      className: "icon-snapchat"
    },
    {
      name: "google play",
      url: "play.google",
      className: "icon-google-play"
    }
] %}

{% set classes = [
   'o-contact__wrapper',
   node.navigator ? 'navigator' : '',
 ] %}

<div class="{{classes|join(' ')}}">
	<div class="o-contact__container">
		{% include '@storybook/02-Atoms/title/title.twig' with { title: section.title, variant: 'title', classNames: "a-contact__title"} %}
		{% include '@storybook/02-Atoms/text/text.twig' with { text: section.description.content, variant: "html", classNames: "a-contact__description"} %}

		{% if section.phone or section.email %}
			<div class="o-contact__phone-email-container">
				{% if section.phone %}
					<div class="o-contact__phone o-contact__contact-info">
						{% include '@storybook/02-Atoms/title/title.twig' with { title: "Contact us by phone:", variant: 'title', classNames: "a-contact__phoneTitle"} %}
						{% include '@storybook/02-Atoms/text/text.twig' with { text: section.phone|replace({ '\r\n': '<br />' })|telLinks, variant: 'html', classNames: "a-contactDetail"} %}
					</div>
				{% endif %}

				{% if section.email %}
					<div class="o-contact__email o-contact__contact-info">
						{% include '@storybook/02-Atoms/title/title.twig' with { title: "Contact us by email:", variant: 'title', classNames: "a-contact__emailTitle"} %}
						{% include '@storybook/02-Atoms/link/link.twig' with { url: 'mailto:' ~ section.email, content: section.email, variant: "a-contactDetail"} %}
					</div>
				{% endif %}

        {% if section.address %}
          <div class="o-contact__address o-contact__contact-info">
            {% include '@storybook/02-Atoms/title/title.twig' with { title: "Contact us by mail:", variant: 'title', classNames: "a-contact__mailTitle"} %}
            {% include '@storybook/02-Atoms/text/text.twig' with { text: section.address|replace({ '\r\n': '<br />' }), variant: 'html', classNames: "a-contactDetail"} %}
          </div>
        {% endif %}

			</div>
		{% endif %}

		
		{% if section.socialMedias or section.other %}
			<div class="o-contact__social-media-links-container">
				{% for socialLink in section.socialMedias %}
					{% if socialLink.url.path %}
						{% for socialMedia in socialMediaArray %}
							{% if socialMedia.name in socialLink.url.path or socialMedia.url in socialLink.url.path or socialMedia.shortUrl in socialLink.url.path %}
								<div class="o-contact__social-media-link {{ socialMedia.className }}">
									{% include '@storybook/02-Atoms/link/link.twig' with { url: socialLink.url.path, content: socialMedia.name, variant: "a-contact__social-media-link"} %}
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}

				{% for link in section.other %}
					<div class="o-contact__social-media-link icon-ellipsis">
						{% include '@storybook/02-Atoms/link/link.twig' with { url: link.url.path, content: link.title, variant: "a-contact__social-media-link"} %}
					</div>
				{% endfor %}
			</div>
		{% endif %}


	</div>
</div>

