---
layout: layout.njk
title: NYS Digital Service
description: We're committed to providing equal access
url: ogs-digital-service.github.io
---
<h1> {{title}} </h1>
<a href="/state-of-the-state-book-2025"> State of the State Book 2025 </a>
<p> Test content only, please disregard for now </p>