{% include '@storybook/04-Organisms/hero/hero.twig' with { hero: node, heroType: "articlePageHero"  } %}

{% if node.navigator == true %}
  <div class="p-article__wrapper -navigatorContainer">
    <article class="p-article__content flex flex-col tablet:flex-row">
      {% include "@storybook/05-Templates/navigatorFrames/navigatorFrames.twig" with node %}
    </article>
  </div>
{% else %}
  <div class="p-article__wrapper">
    <article class="p-article__content flex flex-col">
      {% include "@storybook/05-Templates/frames/frames.twig" with node %}
    </article>
  </div>
{% endif %}
