<section class="nysds-unav" aria-labelledby="trustbar-statement">

    <div class="nysds-state-logo" aria-hidden="true"></div>
    <a href="https://ny.gov" class="nysds-unav-trust-link" id="trustbar-statement"> An Official Website of New York State </a>

</section>
