<section class="nysds-unav" aria-labelledby="trustbar-statement">

    <a href="https://ny.gov" class="nysds-unav-trust-link">
        <span class="nysds-state-logo" aria-hidden="true"></span>
        <span class="sr-only">New York State Homepage</span>
    </a>

    <div class="nysds-trust-identifier" id="trustbar-statement"> An Official Website of New York State </div>

</section>
