
<section class="unav-trusted-banner" aria-labelledby="trustbar-statement">
        <span class="nysds-state-logo" aria-hidden="true"></span>
<a href="https://ny.gov" class="" id="trustbar-statement"> An Official Website of New York State </a>
</section>