@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/weight/weight.scss";
@import "../../01-Base/breakpoints/breakpoints.scss";

.p-landing-page {
  
    .t-section.-container {
      > :first-child {
        margin-top: 0px;
      }
    }
    .o-buttons__wrapper {
      margin-top: 0;
    }
  
  .o-wysiwyg,
  .o-photoGallery,
  .o-videoEmbed,
  .o-quick-links {
    width: 80%;

    @include breakpoint(desktop) {
      width: auto;
    }
  }

  .o-wysiwyg {
    .a-title {
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 0;
      @extend .text-oswald;
      @extend .text-bold;
      font-size: 13px;
      line-height: 15px;

      @include breakpoint(tablet) {
        font-size: 16px;
        line-height: 18px;
      }

      @include breakpoint(desktop) {
        font-size: 16px;
        line-height: 18px;
      }
    }

    .a-headline {
      text-align: center;
      margin: 0;
      font-size: 34px;
      line-height: 36px;
      font-weight: 900;

      @include breakpoint(tablet) {
        font-size: 40px;
        line-height: 44px;
      }

      @include breakpoint(desktop) {
        font-size: 48px;
        line-height: 54px;
      }
    }
  }
}

@media print {
  .o-hero.-landingPage {
    .a-hero__btn.-live {
      display: none;
    }

    .a-hero__btn.-link.-watchLive {
      display: none;
    }

    .m-landingHero__contentWrapper {
      height: unset;
    }

    .o-hero__wrapper {
      min-height: unset;
    }

    a::after {
      content: " (" attr(href) ")";
    }
  }

  .nygov-stay-updated-form {
    display: none;
  }

  #nygov-local-section {
    display: none;
  }

  .nygov-back-to-top {
    display: none;
  }

  .o-social-media-share {
    display: none;
  }

  .footer-navigations {
    display: none;
  }
}
