@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/backgrounds/colors/colors.scss";
@import '../../01-Base/typography/weight/weight.scss';

.o-categories-tiles {
  padding: 0 1em;

  &.bg-gray {
    @extend .bg-primary-gray;
    .a-title {
      @extend .text-primary-blue;
    }
  }

  &__content-wrapper {
    max-width: 88em;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__titles {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    padding: 0;
    text-align: center;
    @extend .text-oswald;
    text-transform: uppercase;
    letter-spacing: 2px;
    @extend .text-primary-blue;
    line-height: 16px;
    @include breakpoint(tablet) {
      line-height: 20px;
    }
  }

  &__headline {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    @extend .text-extra-bold;
  }

  &__tiles-with-icons {
    .m-category-tile__title {
      margin-top: 15px;
      @include breakpoint(mobileOnly) {
        margin-top: 0;
      }
    }
  }

  .a-text__html {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 22px;
    @extend .text-semi-bold;
    @include breakpoint(laptop) {
      font-size: 16px;
      line-height: 20px;
      padding-left: 105px;
      padding-right: 105px;
    }
  }

  .m-category-tile {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    @include breakpoint(mobileOnly) {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%;
    }
  }

  .m-category-tile:nth-child(4n) {
    float: right;
    margin-right: 0;
  }

  .m-category-tile:nth-child(2n) {
    @include breakpoint(mobileOnly) {
      margin-right: 0;
    }
  }

  @media print{
    a::after{
      content: " (" attr(href) ")";
    }
  }

}
