{# Background Image #}
{% if section.backgroundImage.entity.bgImg.derivative.url is not empty %}
	{% set bg_image = section.backgroundImage.entity.bgImg.derivative.url %}
{% endif %}

{% set classes = [
  'o-categories-tiles',
  section.color ? 'bg-' ~ section.color: '',
  section.backgroundImage ? 'has-bg-image': 'no-bg-image'
] %}

<div class="{{classes|join(' ')}}" {% if bg_image %} style="background: url({{ bg_image|raw }}) no-repeat center center; background-size: cover;" {% endif %}>
  <div class= "o-categories-tiles__content-wrapper">
    <div class= "o-categories-tiles__titles">
      {% if section.title %}
        {% include '@storybook/02-Atoms/title/title.twig' with { title: section.title, variant: 'title', classNames: "o-categories-tiles__title"} %}
      {% endif %}

      {% if section.headline %}
        {% include '@storybook/02-Atoms/title/title.twig' with { headline: section.headline, variant: 'headline', classNames: "o-categories-tiles__headline"} %}
      {% endif %}
    </div>

    {% include '@storybook/02-Atoms/text/text.twig' with { text: section.description.content, variant: "html"} %}

    <div class= "o-categories-tiles__tiles">

      {% if section.icons == "without_icons" %}
        {% for item in section.linksTilesParagraphs %}
          {% include "@storybook/03-Molecules/categoryTile/categoryTile.twig"  with {
            link: item.paragraph.link.url.path,
            title: item.paragraph.link.title,
            newTab: item.paragraph.newWindow,
          } %}
        {% endfor %}
      {% endif %}

      {% if section.icons == "with_icons" %}
        <div class="o-categories-tiles__tiles-with-icons">
          {% for item in section.iconTiles %}
            {% include "@storybook/03-Molecules/categoryTile/categoryTile.twig"  with {
              image: item.entity.iconImg.url,
              link: item.entity.iconLink.url.path,
              title: item.entity.iconLink.title,
              newTab: item.entity.newWindow,
            } %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

  </div>

</div>
