{% if variant == "o-service-categories__menu" %}
	<div class="o-service-categories__menu">
		{% include "@storybook/03-Molecules/serviceMenuItems/serviceMenuItems.twig" with { variant:"m-serviceMenu__title", servicePage: servicePage } %}
		{% if serviceCategories %}
			<div class="o-service-categories__menuItems -hidden bg-promary-blue">
				{% for item in serviceCategories %}
					{% include "@storybook/03-Molecules/serviceMenuItems/serviceMenuItems.twig" with { variant:"m-serviceMenu__button", title: item.name, url: item.url} %}

				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endif %}

