@import "../../01-Base/breakpoints/breakpoints";

.o-quickCard {
  overflow: hidden;

  @include breakpoint(desktop) {
    max-width: 300px;
  }

  a {
    text-decoration: none;
  }

  .o-quickCardLogo {
    display: block;
    height: 170px;
    background-position: 50% 50%;
    background-color: cover;
    background-repeat: no-repeat;
  }

  &:hover .m-card__quickFooter {
    color: #128EC3;
    background-color: #ffffff;

}
@media print {
  a::after{
    content: " (" attr(href) ")";
  }
}

}