@import "../../01-Base/typography/weight/weight.scss";
@import "../../01-Base/backgrounds/colors/colors.scss";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/breakpoints/breakpoints";

.a-label__link {
  text-decoration: none;
}

.a-hero__link {
  color: #FACE00;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  text-decoration: none;
  font-family: "Oswald";
  font-weight: bold;

  &:visited {
    color: #FACE00;
  }

  &:hover {
    color: #FFE396;
    text-decoration: none;
  }
}

a {
  font-family: "Proxima Nova";
  font-weight: normal;

  &:focus {
    outline: 2px solid #457AA5;
    outline-offset: 1px;
  }
}

.a-alert__link {
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

.a-card__label {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  color: #007AC2;
  line-height: 1.15em;
  display: block;
  text-decoration: none;
  @extend .text-bold;

  &:hover {
    text-decoration: underline;
  }
}

.a-government__name{
  text-decoration: none;
  @extend .text-white;
}

.a-resultsCard__website.-link a {
  text-decoration: none;
  color: #007AC2;
  background: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.a-facebook__icon-link {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.a-contact__social-media-link {
  color: black;
  text-decoration: none;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

.a-audio-photo__link {
  text-transform: uppercase;
  @extend .bg-primary-blue;
  color: #fff;
  padding: 20px 20px;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  border: 1px solid #154973;
  text-decoration: none;
  display: inline-block;
  margin: 20px 10px;
  text-align: center;
  width: 150px;
  &:hover {
    background-color: #000;
  }
  @include breakpoint(largeMobile) {
    width: 250px;
    padding: 22px 20px;
  }
}

.a-plan-date__link {
  display: flex;
  align-items: center;
  height: 48px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: middle;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid;
  border-color: #fff;
  background-color: transparent;
  text-align: center;
  font-size: 13px;
  @extend .text-bold;
  line-height: 15px;
  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.a-modal__link {
  @extend .bg-primary-light-blue;
  @extend .text-bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff !important;
  text-decoration: none;
  padding: 25px;
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  outline: none;
  text-align: center;
  width: 100%;
  &:hover {
    background-color: #000;
  }
  @include breakpoint(tablet) {
    padding: 20px;
    width: auto;
  }
}
