.o-translatedDocuments {
  max-width: 780px;
  margin: 60px auto 0;

  &.navigator {
    margin: 0;
    width: 100%;
  }

  .a-frame__title {
    color: #24387e;
    font-family: "Proxima Nova";
    font-weight: 800;
    font-size: 36px;
    margin-top: 0;
  }

  @media print {
    .m-document__download.-link,
    .m-document__titles{
      border-right: none;
      border-left: none;
    }
    .m-document__download.-link::after{
      content: " (" attr(href) ")";
      margin: 20px;
    }
    .a-download.-icon{
      display: none;
    } 
    .m-document__download__text{
      display: none;
    }
  }
}
