{% set classes = [
  'o-translatedDocuments',
  node.navigator ? 'navigator' : '',
] %}

<div class="{{classes|join(' ')}}">
  <h2 class="a-frame__title">{{ section.title }}</h2>
  {% for item in section.translatedDocuments|sortTranslations %}
    {% include "@storybook/03-Molecules/document/document.twig"  with {
      item: "downloadLink",
      url: item.translatedDocument.media.file.url,
      translated: item.translatedDocument.translated,
      english: item.translatedDocument.english
    } %}
  {% endfor %}
</div>
