@import "../../01-Base/breakpoints/breakpoints";

.m-separator {
  background-color: #128ec3;
  color: #fff;
  height: 50px;
  letter-spacing: 1px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 102;
  justify-content: space-between;

  .-mobile .-shareBar.-hide {
    display: none;
  }

  .-mobile .-backToTopTitle.-show {
    display: flex;
  }

  .-mobile .-backToTopTitle .-backToTop {
    padding-left: 45px;
  }

  .-content.-stuckToTop {
    position: fixed;
    width: 100%;
    top: 0;

    &.-mobile {
      justify-content: flex-start;
    }
  }

  .-opacityShow {
    opacity: 1;
    cursor: pointer;
  }

  .-flexDisplay {
    display: flex;
  }

  .-content {
    justify-content: flex-end;
  }

  .-backToTop {
    display: none;
  }

  .-mobile .-backToTopTitle {
    display: none;
    opacity: 1;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;

    .-title {
      padding: 15px 24px;
    }
  }

  @include breakpoint(tablet) {
    .-content {
      justify-content: space-between;
    }

    .-backToTop {
      display: flex;
    }

    .-backToTopTitle.-opacityShow {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.m-separator.-backToTopTitle {

  display: none;

  @include breakpoint(tablet) {
    padding: 0px 45px 0px 45px;
    opacity: 0;
    display: flex;
    transition: 300ms ease-in-out opacity;
  }
}

.m-separator.-backToTop.-text {
  flex-flow: column;
  justify-content: center;
  font-size: 0.8rem;
}

.m-separator.-backToTop.-icon>i {
  margin-top: 10px;
  font-size: 20px;
}

.m-separator.-title {
  flex-flow: column;
  justify-content: center;
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.01em;
}

.m-separator.-content {
  padding-right: 5%;
  width: 100%;
}

.m-separator.-icon a {
  color: white;
  transition: 250ms color;

  &:visited {
    color: white;
  }

  &:hover {
    color: #24387e;
  }
}

.m-separator span.-shareText {
  text-transform: uppercase;
  font-family: 'Proxima Nova';
  font-weight: bold;
  vertical-align: middle;
  font-size: 0.8em;
}

.m-separator.-icon,
.m-separator.-shareText {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

.m-separator.-icon {
  font-size: 1em;
}