@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/backgrounds/colors/colors.scss";
@import '../../01-Base/typography/weight/weight.scss';

.o-whats-related {
  &.navigator {
    margin: 50px 0;
  }

  &__title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &:after {
      content: '';
      position: absolute;
      background-color: #d9e2e2;
      width: 120px;
      height: 1px;
      bottom: 0;
      left: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: #154973;
    font-size: 18px;
    font-weight:bold;
    &:hover {
      text-decoration: underline;
    }
  }

  &__link-wrap {
    padding: 30px;
    background: #ededed;
    max-width: 768px;
  }

  &__link-wrap:not(:last-child) {
    margin-bottom: 10px;
  }

}
