// Backgrounds colors
.bg-black {
  background-color: #000000;
}

.bg-primary-blue {
  background-color: #24387E;
}

.bg-primary-darkblue {
  background-color: #24387E;
}

.bg-primary-light-blue {
  background-color: #128ec3;
}

.bg-primary-blue-accent {
  background-color: #1B2A5E;
}

.bg-primary-links {
  background-color: #007AC2;
}

.bg-primary-gold {
  background-color: #D5820D;
}

.bg-primary-gold-accent {
  background-color: #DC9719;
}

.bg-primary-gold-light {
  background-color: #F5A81C;
}

.bg-primary-gray {
  background-color: #D0D0CE;
}

.bg-card-cta {
  background-color: #EDEDED;
}

.bg-logo {
  background-color: #FCFCFC;
}

.bg-card-outline {
  background-color: #D0D0CE;
}

.bg-alerts {
  background-color: #B52C2C;
}

.bg-alerts-rollover {
  background-color: #8C1C1C;
}

.bg-dark {
  background-color: #242424;
}

.bg-gray {
  background-color: #62666A;
}

.bg-white {
  background-color: #FFFFFF;
}