{% set useCenterLayout = (node.bundle == 'program')
  or (node.bundle == 'landing_page')
  or (node.bundle == 'emergency')
%}

{% set classes = [
  'o-photoGallery',
  node.navigator ? 'navigator' : '',
  useCenterLayout ? 'center-layout' : '',
] %}

<div class="{{classes|join(' ')}}">
  {% if useCenterLayout %}
    {% include '@storybook/02-Atoms/title/title.twig' with { title: section.title, variant: 'title', classNames: "a-card__title"} %}
    {% if section.headline %}
      {% include '@storybook/02-Atoms/title/title.twig' with { headline: section.headline, variant: 'headline' } %}
    {% endif %}
  {% else %}
    {% include '@storybook/02-Atoms/title/title.twig' with { title: section.title, variant: 'title', classNames: "a-frame__title"} %}
  {% endif %}

  {% include '@storybook/02-Atoms/text/text.twig' with { text: section.description.content, variant: "html", classNames: "a-photoGallery__description" } %}

  <div class="o-photoGallery__gallery-container">

    <div class="o-photoGallery__gallery uuid--{{section.uuid|clean_class}}" data-uuid="{{section.uuid|clean_class}}">
      {% for image in section.images %}
        <div class="slide">
          <img src="{{image.entity.img.derivative.url}}" alt="">
          <div class="image-description">
            {% include '@storybook/02-Atoms/text/text.twig' with {
              text: image.entity.imageDescription.content,
              variant: "html",
              classNames: "",
            } %}
            <div class="slide-nav-controls">
              <button data-controls="prev" tabindex="-1"></button>
              <button data-controls="next" tabindex="-1"></button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>
