<style>
div{
  height:75px;
}
p{
  margin 0;
}
</style>
{% for item in fonts %}
  <div class="{{ item.className}}">
  <p>Class: {{ item.className }}</p>
  <p>Font: {{ item.font }}</p>
  </div>
{% endfor %}
