@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/icons/icons.scss";

//Title
.m-popularService__title.-container {
  display: flex;
  flex-flow: column;

  @include breakpoint(desktop) {
    flex-flow: row;
    width: 20%;
  }

  .m-popularService__title {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;

    @include breakpoint(tablet) {
      padding-top: 30px;
      padding-bottom: 10px;
    }

    @include breakpoint(desktop) {
      justify-content: center;
      align-items: normal;
      padding: 80px 20px 80px 50px;
      width: 100%;
    }

    .a-title {
      font-size: 30px;
      line-height: 30px;
      font-weight: 800;
      margin: 0;

      @include breakpoint(tablet) {
        font-size: 32px;
        line-height: 35px;
      }
    }

    .m-popularService__readMore {
      display: flex;
      margin-top: 10px;
      font-size: 13px;

      .a-label__link {
        text-transform: uppercase;
        font-weight: bold;
        color: #FACE00;

        &::after {
          margin-left: 5px;
          @extend .icon-long-arrow-right::before;
        }
      }
    }
  }

  #popularServicesCanvasSection {
    background-color: #EDEDED;
  }
}

//Card
.m-popularService__card {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 40px;

  @include breakpoint(desktop) {
    margin-left: 50px;
    margin-bottom: 0;
  }

  .m-popularService__icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    height: 70px;
    width: 70px;

    @include breakpoint(tablet) {
      height: 90px;
      width: 90px;
    }

    @include breakpoint(desktop) {
      height: 80px;
      width: 80px;
    }
  }

  .m-popularService__button {
    margin-top: 20px;

    .a-hero__btn.-link {
      height: 60px;
      color: #000000;
      border-color: #000000;
      line-height: 15px;
      width: 270px;
      font-weight: 800;
      white-space: normal;
      padding: 0 30px;

      @include breakpoint(tablet) {
        height: 50px;
        width: 260px;
      }

      @include breakpoint(desktop) {
        width: 195px;
      }

      &:hover {
        color: #fff;
        background-color: #000000;
      }
    }
  }
}