{# Title Section #}
{% if variant == "m-popularService__title" %}
	<div class="m-popularService__title -container">
		<div class="bg-primary-blue text-white m-popularService__title">
			{% include '@storybook/02-Atoms/title/title.twig' with { title:title, variant: "title" } %}
			{% if linkText is not empty %}
				<div class="m-popularService__readMore">
					{% include '@storybook/02-Atoms/link/link.twig' with { content: linkText, url: url, variant: "a-label__link" } %}
				</div>
			{% endif %}
		</div>
		<canvas id="popularServicesCanvasSection" height="20">
			<p>Down Triangle</p>
		</canvas>
	</div>
{% endif %}

{# Card Section #}
{% if variant == "m-popularService__card" %}
	{% if card.entity.img.url is not empty %}
		{% set card_icon_img = card.entity.img.url %}
	{% endif %}

	<div class="m-popularService__card">
		<div class="m-popularService__icon" style="background-image: url('{{card_icon_img|raw}}');"></div>
		<div class="m-popularService__button">
			{% include '@storybook/02-Atoms/buttons/buttons.twig' with { title: card.entity.button.linkText, url:card.entity.button.url.path, variant: "a-hero__btn -link" } %}
		</div>
	</div>
{% endif %}
