{% set term = term|merge({ navigator: true }) %}

<article class="p-county-vocab -full-page">
	{% include "@storybook/04-Organisms/taxonomyHero/taxonomyHero.twig" with { hero: term, heroType: "countyTermHero" }  %}
  <div class="p-county__wrapper -navigatorContainer">
    <article class="p-county__content flex flex-col tablet:flex-row">
      {% include "@storybook/05-Templates/taxonomyNavigatorFrames/taxonomyNavigatorFrames.twig" with {node: term} %}
    </article>
  </div>
</article>
