<link href="/css/normalize.css" rel="stylesheet">
<link href="/css/fonts.css" rel="stylesheet">
<link href="/css/nysds-a11y.css" rel="stylesheet">
<link href="/css/nysds-components.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<style>
    .nysds-main {
        font-family: Proxima Nova, Arial, sans-serif;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    p {
        line-height: 1.5em; 
    }
    li {
        padding: 5px 0;
    }
    .mx-content {
        margin-top: revert;
        margin-bottom:revert;
        margin-left:35px;
        margin-right:35px;
    }
    .mx-paragraph {
        max-width: 1160px;
        margin: 30px 35px;
    }
    @media (min-width: 1024px) {
        .mx-content {
            margin-left:90px;
            margin-right:90px;
        }
        .mx-paragraph {
        max-width: 1160px;
        margin: 30px auto;
    }
    }
</style>