<link href="/css/normalize.css" rel="stylesheet">
<link href="/css/fonts.css" rel="stylesheet">
<link href="/css/nysds-a11y.css" rel="stylesheet">
<link href="/css/nysds-components.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<style>
    .nysds-main {
        font-family: Proxima Nova, Arial, sans-serif;
        font-size: 1rem;
    }
</style>