{{
    footer({
        siteName:"NYS Digital Service",
        links: [
            {
                text:"NY.gov",
                url:"https://ny.gov"
            },
            {
                text:"Disclaimer",
                url:"https://www.ny.gov/website-disclaimer"
            },
            {
                text:"Privacy Policy",
                url:"https://www.ny.gov/privacy-policy"
            }
        ]
    })
}}