{{
    global({
        siteName:"New York State Digital Service",
        links: [
            {
                text:"SOTS 2025 HTML",
                url:"/state-of-the-state-book-2025"
            }
        ]
    })
}}