{{
    global({
        siteName:"NYS Digital Service",
        links: [
            {
                text:"Accessible Document Conversions",
                items:[
                    {
                         text:"State of the State Book 2026",
                         url:"/state-of-the-state-book-2026"
                    },
                    {
                         text:"State of the State Book 2025",
                         url:"/state-of-the-state-book-2025"
                    },
                    {
                         text:"Document Accessibility Resources (PDF)",
                         url:"/documents/Document_Accessibility_Resources_PDF_MSOffice.pdf"
                    }
                ]
            }
        ]
    })
}}



