{{
    global({
        siteName:"NYS Digital Service Accessibility Hub",
        links: [
            {
                text:"Accessible Document Conversions",
                items:[
                    {
                         text:"State of the State Book 2025",
                         url:"/state-of-the-state-book-2025"
                    },
                    {
                         text:"NYS Deaf, DeafBlind, and Hard of Hearing Office Annual Report",
                         url:"/DDBHH-annual-report-2024"
                    }
                ]
            }
        ]
    })
}}