<a href="{{ params.link }}" class="block w-max p-4 m-8 bg-gray-300 rounded-xl hover:bg-gray-700 hover:text-underline hover:text-white" aria-label="{{ params.arialabel }}"> {{ params.buttontext }} </a> 