{# Menu Title #}
{% if variant == "m-serviceMenu__title" %}
	<div class= "m-servicesMenu__title">
		{% include "@storybook/02-Atoms/title/title.twig" with { variant:"heading", classNames: "a-serviceMenu__title text-white text-proxima text-extra-bold", title: "Services" } %}
		<span class="m-serviceMenu__arrow icon-down-chevron text-white"></span>
		{% include "@storybook/02-Atoms/title/title.twig" with { variant:"heading", classNames: "a-serviceMenu__title text-white text-proxima text-extra-bold -servicePageTitle", title: servicePage } %}

	</div>
{% endif %}

{# Menu Buttons #}
{% if variant == "m-serviceMenu__button" %}
	<div class="m-serviceMenu__button bg-primary-light-blue">
		{% include "@storybook/02-Atoms/buttons/buttons.twig" with { variant: "a-service__menuItem text-proxima text-bold text-white" , url: url, title: title } %}
	</div>
{% endif %}

