@mixin breakpoint($point) {
  @if $point==desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }

  @else if $point==laptop {
    @media (min-width: 1024px) {
      @content;
    }
  }

  @else if $point==tablet {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $point==largeMobile {
    @media (min-width: 425px) {
      @content;
    }
  }

  @else if $point==smallMobile {
    @media (min-width: 320px) {
      @content;
    }
  }

  @else if $point==smallMobileOnly {
    @media (max-width: 425px) {
      @content;
    }
  }

  @else if $point==mobileOnly {
    @media (max-width: 768px) {
      @content;
    }
  }

  @else if $point==smallTabletOnly {
    @media (max-width: 590px) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: desktop, laptop, tablet, largeMobile, smallMobile, mobileOnly, smallTabletOnly";
  }
}


// Backgrounds colors
.bg-black {
  background-color: #000000;
}

.bg-primary-blue {
  background-color: #154973;
}

.bg-primary-darkblue {
  background-color: #154973;
}

.bg-primary-light-blue {
  background-color: #457AA5;
}

.bg-primary-blue-accent {
  background-color: #154973;
}

.bg-primary-links {
  background-color: #007AC2;
}

.bg-primary-gold {
  background-color: #FACE00;
}

.bg-primary-gold-accent {
  background-color: #FACE00;
}

.bg-primary-gold-light {
  background-color: #FFE396;
}

.bg-primary-gray {
  background-color: #D0D0CE;
}

.bg-card-cta {
  background-color: #EDEDED;
}

.bg-logo {
  background-color: #FCFCFC;
}

.bg-card-outline {
  background-color: #D0D0CE;
}

.bg-alerts {
  background-color: #B52C2C;
}

.bg-alerts-rollover {
  background-color: #8C1C1C;
}

.bg-dark {
  background-color: #242424;
}

.bg-gray {
  background-color: #62666A;
}

.bg-white {
  background-color: #FFFFFF;
}
.text-primary-blue {
  color: #154973;
}

.text-primary-blue-accent {
  color: #154973;
}

.text-primary-gold {
  color: #FACE00;
}

.text-primary-gold-accent {
  color: #FACE00;
}

.text-primary-gold-light {
  color: #FACE00;
}

.text-primary-light-blue {
  color: #457AA5;
}

.text-primary-light-blue-accent {
  color: #457AA5;
}

.text-primary-links {
  color: #007AC2;
}

.text-links {
  color: #007AC2;
}

.text-footer-links {
  color: #154973;
}

.text-alerts {
  color: #B52C2C;
}

.text-alerts-rollover {
  color: #8C1C1C;
}

.text-dark {
  color: #242424;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #ffffff;
}

.text-gray {
  color: #62666A
}


.text-proxima{
  font-family: "Proxima Nova", sans-serif;
}

.text-d-sari{
  font-family: "D Sari", sans-serif;
}

.text-oswald{
  font-family: "Oswald", sans-serif;
}
.text-semi-bold {
  font-weight: 600;
}

.text-bold {
  font-weight: bold;
}

.text-extra-bold {
  font-weight: 800;
}

.text-regular {
  font-weight: 400;
}

.text-light {
  font-weight: 200;
}
.text-1-space{
  letter-spacing: 1px;
}
.text-2-space{
  letter-spacing: 2px;
}
.text-4-space{
  letter-spacing: 4px;
}
//Keyword Tag
@mixin keyword-tag {
  cursor: pointer;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  position: relative;
  padding: 0 15px;
  font-size: 13px;
  @extend .text-oswald;
  @extend .bg-primary-gold;
  @extend .text-black;
  @extend .text-bold;
  @extend .text-1-space;

  &::after {
    // triangle hover color
    content: "";
    position: absolute;
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    border-left: 17px solid #FACE00;
    height: 0px;
    width: 0px;
    margin-right: -17px;
    right: 0;
  }

  &:hover,
  :active {
    @extend .bg-primary-gold-light;
    @extend .text-black;

    &:after {
      // triangle hover
      border-left: 17px solid #FFE396;
    }
  }
}
//Landing Hero
.m-hero__meta.-landingHero {
  padding: 0px;

  @include breakpoint(tablet) {
    padding: 0px;
  }

  @include breakpoint(desktop) {
    padding: 0px;
    width: 100%;
  }

  .m-nygov__hero.-viewHeader {
    display: none;

    @include breakpoint(desktop) {
      display: block;
      position: absolute;
      width: 100%;
      height: 30px;
      background-color: rgba(36, 56, 126, 0.3);
      z-index: 5;
    }
  }

  .m-landingHero__contentWrapper {
      background: #154973;
			opacity: 0.9;
			border-radius: 30px;
			padding:40px 20px;

      @include breakpoint(tablet){
        padding:45px 35px;
      }
      
    @include breakpoint(desktop) {
      margin-top: 0px;
      margin-left: 60px;
      width: 580px;
      padding:45px 45px;

      &.-left {
        position: absolute;
    		top: 50%;
    		transform: translateY(-50%);
      }
      
    }

    .m-landingHero__content {
      .m-landingHero__liveButton {
        margin-bottom: 15px;

        @include breakpoint(desktop) {
          margin-bottom: 10px;
        }
      }

      .m-landingHero__title {
        margin-bottom: 30px;

        @include breakpoint(desktop) {
          padding-top: 0px;
        }

        & h2 {
          margin: 0px;
        }
        .a-hero__titleLanding {
          font-size: 28px;
          line-height: 1.15em;
          

          @include breakpoint(tablet) {
            font-size: 32px;
            line-height: 1.15em;
          }

          @include breakpoint(desktop) {
            font-size: 36px;
            line-height: 1.15em;
          }
        }
      }

      .m-landingHero__date {
        margin-bottom: 15px;
      }

      .m-landingHero__description {
        margin-bottom: 35px;

        .a-hero__description.-text {
          font-size: 16px;
          line-height: 22px;

          @include breakpoint(desktop) {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
    }

    .m-landingHero__buttons {
      @include breakpoint(largeMobile) {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
      }

      @include breakpoint(tablet) {
        max-width: 100%;
      }

      & span::after {
        content: "\F30B" !important;
          font-family: "Font Awesome 5 Free" !important;
          font-weight: 900 !important;
      }
      .m-landingHero__buttonsRow {
        margin-right: 45px;
        display: inline-flex;
        align-items: center;

        @include breakpoint(smallTabletOnly) {
          &:nth-child(2){
            margin-top: 35px;
          }
        }        
      }
    }
  }

  @include breakpoint(desktop) {
    //Right Placement
    .m-landingHero__contentWrapper.-right {
      margin-right: 60px;
      margin-left: 0;
      margin-top: 0px;	
   		width: 580px;
    	position: absolute;
    	top: 50%;
    	transform: translateY(-50%);
			right:0;
    }

    //Bottom Placement
    .m-landingHero__contentWrapper.-bottom {
      display: flex;
      width: auto;
      max-width: 1160px;
      margin: 0 auto;

      .m-landingHero__content {
        margin-top: 0;
        width: auto;
        align-self: flex-end;

        .m-landingHero__title {
          margin-bottom: 25px;
          padding-top: 0px;
        }
      }

      .m-landingHero__description {
        margin-bottom: 50px;
      }

      .m-landingHero__buttons {
        align-self: flex-end;
        display: flex;
        flex-flow: column;
        margin: 0 60px 50px 60px;
        max-width: 200px;

        .a-hero__btn.-link {
          &:nth-child(2) {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.o-hero.-landingPage {
  position: relative;

  .o-hero__wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 256px;

    @include breakpoint(tablet) {
      min-height: 307px;
    }

    @include breakpoint(desktop) {
      min-height: 512px;
    }
  }

  .m-hero__meta.-landingHero {
    @include breakpoint(desktop) {
      background: none;
      position: absolute;
      top: 0;
      min-height: 512px;

      &.-bottom {
      top: 412px;
      min-height: 0px;
      }

    }
  }

  .o-hero__liveVideo.-iframe {
    position: absolute;
    top: 0;
    z-index: 101;
    left: 0;
    min-height: 250px;
    border: 0;
    width: 100%;

    @include breakpoint(tablet) {
      height: 307px;
      left: 20%;
      width: 60%;
    }

    @include breakpoint(desktop) {
      height: 512px;
      height: 99%;
    }
  }

  .o-hero__liveVideo.-bg {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    min-height: 256px;
    @extend .bg-black;

    @include breakpoint(tablet) {
      height: 307px;
    }

    @include breakpoint(desktop) {
      height: 512px;
    }
  }

  .o-hero__closeVideo {
    font-size: 45px;
    position: absolute;
    top: 1%;
    z-index: 103;
    right: 1%;
    transition: 150ms all ease;
    @extend .text-white;

    &:hover {
      cursor: pointer;
      color: lightgray;
    }
  }
}


.a-btn__paginate.-large {
  padding: 14px 21px;
  font-size: 28px;
}

.a-btn__paginate {
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  border-color: #007AC2;
  border-width: 0;
  background-color: #007AC2;
  color: #ffffff;
  transition: background-color 150ms ease-in-out;
  padding: 9px 13px;
  display: inline-flex;

  &.-next::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f054";
  }

  &.-previous::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f053";
  }

  &.-disabled {
    background-color: #D0D0CE;

    &:focus {
      border: none;
      outline: 0;
    }

    &:hover {
      cursor: default;
      background-color: #D0D0CE;
    }
  }

  &:focus {
    border-radius: 50%;
    border-width: 1px;
    border-color: darken($color: #007AC2, $amount: 10);
    outline: 0;
  }

  &:active {
    background-color: darken($color: #007AC2, $amount: 15)
  }

  &:hover {
    cursor: pointer;
    background-color: darken($color: #007AC2, $amount: 10)
  }
}

.a-btn__page {
  border: 0px;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  font-size: 16px;

  &.active {
    color: #007AC2;
    border-bottom: 1px solid #007AC2;
  }

  &:hover {
    cursor: pointer;
    color: #007AC2;
    border-bottom: 1px solid #007AC2;
  }
}

/* End: Filter related scss */

.a-hero__btn.-link {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
  height: 55px;
  width: 200px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
  position: relative;
  transition: 150ms ease-in-out all;

  &.-watchLive,
  &.-archive {
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: transparent;

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f04b";
      font-size: 10px;
      margin-right: 10px;
    }
  }

  &:hover {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

  .a-hero__btn.-linkLanding {
    display: flex;
    align-content: center;
    justify-content: end;
    flex-flow: column;
    font-family: "Proxima Nova", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #FACE00;
    padding-bottom: 0px;
    margin-right: 5px;
    letter-spacing: 1px;
    color: #FACE00;
    cursor: pointer;
    white-space: nowrap;
    z-index: 1;
    position: relative;

    &:hover {
      border-bottom: 3px solid #FACE00;
      margin-bottom: -2px;
    } 
  }


.a-hero__btn.-live {
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  line-height: 15px;
  letter-spacing: 2px;
  background: #b52c2c;
  color: #fff;
  width: 85px;
  height: 35px;
  cursor: pointer;
  border: none;
}

.a-btn__link,
.a-btn__link-form-embed {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  line-height: 15px;
  text-align: center;
  height: 50px;
  cursor: pointer;
  background: transparent;
  width: 100%;
  font-size: 13px;
  font-family: "Proxima Nova";
  font-weight: 600;
  border: 1px solid;
  border-color: black;
  text-decoration: none;
  transition: 150ms ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 20px;

  @include breakpoint(tablet) {
    width: 31%;
  }

  &:hover {
    background-color: #FACE00;
  }

  &:visited {
    color: black;
  }
}

.a-buttons__cardCat {
  position: absolute;
  background-color: #FACE00;
  display: inline-block;
  font-size: 0.8em;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  padding: 6px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  z-index: 2;
  line-height: 1.5;
  @extend .text-bold;

  &:hover {
    background-color: #FFE396;
  }
}

.a-buttons__highlight {
  border: 1px solid #000000;
  background-color: transparent;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  @extend .text-black;
  @extend .text-bold;
  @extend .text-2-space;

  &:hover {
    background-color: #000000;
    border: none;
    @extend .text-white;
  }
}

.a-btn {
  margin-top: 24px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #154973;
  padding: 16px 24px;
  text-align: center;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  width: 200px;
}

//Paginate Buttons
.a-paginate__btn {
  box-sizing: border-box;
  min-width: 1.5em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 144px;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 15px;
  font-family: arial;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid #154973;
  background: #154973;
  color: #ffffff;

  &:active {
    box-shadow: none;
    background: #007AC2;
  }

  @include breakpoint(mobileOnly) {
    width: auto;
  }

  & .a-paginate__btn.-label {
    display: inline;

    @include breakpoint(mobileOnly) {
      display: none;
    }
  }
}

.a-buttons__stats {
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff;
  background-color: #154973;
  font-family: "Oswald", sans-serif;
  padding: 6px 20px;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 2;
  line-height: 1.5;
  @extend .text-bold;

  &:hover {
    background-color: #000;
  }
}

.a-buttons__statsLM {
  font-family: "Proxima Nova", sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: middle;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
  border: 1px solid;
  border-color: #fff;
  background-color: transparent;
  text-align: center;
  white-space: nowrap;
  height: 48px;
  line-height: 48px;
  display: inline-block;
  @extend .text-bold;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.a-service__menuItem{
  height: 50px;
  max-width: 190px;
  min-width: 130px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.nygov-back-to-top {
  padding: 0.7em;
  background-color: #888B8B;
  position: fixed;
  z-index: 999;
  bottom: 2em;
  right: 2em;
  text-align: right;
  border: 2px solid rgba(255,255,255,0.6);
  cursor: pointer;
  .fa {
    color: #fff;
    font-size: 1.5em;
  }
  &-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
  }
  &-show {
    visibility: visible;
    opacity: 0.7;
    transition: visibility 0s, opacity 0.3s linear;
  }
}

.a-title {
  font-size: 13px;
  line-height: 15px;

  @include breakpoint(tablet) {
    font-size: 16px;
    line-height: 18px;
  }
}

.a-frame__title {
  color: #154973;
  font-family: "Proxima Nova";
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
}

.a-headline {
  font-size: 34px;
  line-height: 36px;

  @include breakpoint(tablet) {
    font-size: 40px;
    line-height: 44px;
  }

  @include breakpoint(laptop) {
    font-size: 48px;
    line-height: 48px;
  }

  .center-layout & {
    font-weight: 900;
  }
}

.a-hero__emergency.-title h1 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 36px;
}

.a-hero__title {
  font-size: 48px;
  line-height: 48px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
}

.a-hero__titleLanding {
  font-size: 36px;
  line-height: 1.15em;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
}

.a-buttons__title {
  font-family: "Oswald";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.a-card__title {
  color: #154973;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  @extend .text-oswald;
  @extend .text-bold;
}

.a-quickCard__title {
  font-size: 16px;
  margin: 0;
  @extend .text-white;
  @extend .text-oswald;
}

.a-card__subHeadline {
  margin: 0 0 40px;
  @extend .text-proxima;
  @extend .text-extra-bold;
}

.a-highlight__title {
  font-size: 14px;
  @extend .text-black;
  @extend .text-oswald;
  @extend .text-bold;
}

.a-government__title{
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  @extend .text-1-space;
  @extend .text-oswald;
}

.a-contact__title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 900;
  color: #154973;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 34px;

  @include breakpoint(tablet) {
    font-size: 36px;
    line-height: 38px;
  }
}

.a-contact__emailTitle,
.a-contact__mailTitle,
.a-contact__phoneTitle {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  margin: 0 0 25px;
  font-size: 16px;

  .t-section__container.-navigator &.a-title {
    display: block;
  }

  @include breakpoint(tablet) {
    font-size: 18px;
  }

  &:before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #007AC2;
    margin-right: 4px;
  }
}

.a-contact__phoneTitle:before {
  content: "\f879";
}

.a-contact__emailTitle:before {
  content: "\f0e0";
}

.a-contact__mailTitle:before {
  content: "\f658";
}

.a-buttons__headline {
  font-family: "Proxima Nova";
  font-size: 40px;
  font-weight: bold;
  color: #154973;
}

.a-sidebar__title {
  color: #FACE00;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.a-sidebar__subTitle {
  color: #FACE00;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.a-nygov__hero.-slogan {
  display: block;
  color: #fff;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 13px;
  line-height: 31px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  padding-left: 60px;
  width: 100%;
}

.a-wysiwyg__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 27px;
}

.a-wysiwyg__title {
  @extend .text-extra-bold;
  font-size: 28px;
  line-height: 27px;
  margin-bottom: 20px;
  color: #154973;

  @include breakpoint(laptop) {
    font-size: 30px;
    line-height: 42px;
  }
}

.a-wysiwyg__headline {
  @extend .text-bold;
  font-size: 16px;
  line-height: 18px;

  @include breakpoint(laptop) {
    font-size: 18px;
    line-height: 27px;
  }
}

.a-serviceMenu__title{
font-size: 24px;
display: inline;
}
.-servicePageTitle{
  display: none;
}



.a-hero__date {
  font-family: "Proxima Nova", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.a-hero__dateLanding {
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.a-date-14 {
  font-size: 14px;
}

.a-date-42-extraBold {
  font-size: 42px;
  @extend .text-extra-bold;
}

.a-date-13-semiBold {
  font-size: 13px;
  @extend .text-semi-bold;
}

.a-date-13 {
  font-size: 13px;
}

.a-label__link {
  text-decoration: none;
}

.a-hero__link {
  color: #FACE00;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  text-decoration: none;
  font-family: "Oswald";
  font-weight: bold;

  &:visited {
    color: #FACE00;
  }

  &:hover {
    color: #FFE396;
    text-decoration: none;
  }
}

a {
  font-family: "Proxima Nova";
  font-weight: normal;
}

.a-alert__link {
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

.a-card__label {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  color: #007AC2;
  margin: 20px 0;
  line-height: 1.2em;
  display: block;
  text-decoration: none;
  @extend .text-semi-bold;

  &:hover {
    text-decoration: underline;
  }
}

.a-government__name{
  text-decoration: none;
  @extend .text-white;
}

.a-resultsCard__website.-link a {
  text-decoration: none;
  color: #007AC2;
  background: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.a-facebook__icon-link {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.a-contact__social-media-link {
  color: black;
  text-decoration: none;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

.a-audio-photo__link {
  text-transform: uppercase;
  @extend .bg-primary-blue;
  color: #fff;
  padding: 20px 20px;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  border: 1px solid #154973;
  text-decoration: none;
  display: inline-block;
  margin: 20px 10px;
  text-align: center;
  width: 150px;
  &:hover {
    background-color: #000;
  }
  @include breakpoint(largeMobile) {
    width: 250px;
    padding: 22px 20px;
  }
}

.a-plan-date__link {
  display: flex;
  align-items: center;
  height: 48px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: middle;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid;
  border-color: #fff;
  background-color: transparent;
  text-align: center;
  font-size: 13px;
  @extend .text-bold;
  line-height: 15px;
  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.a-modal__link {
  @extend .bg-primary-light-blue;
  @extend .text-bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff !important;
  text-decoration: none;
  padding: 25px;
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  outline: none;
  text-align: center;
  width: 100%;
  &:hover {
    background-color: #000;
  }
  @include breakpoint(tablet) {
    padding: 20px;
    width: auto;
  }
}








.a-text__html {
  img {
    max-width: 100%;
    height: auto;
  }
}

.a-card__description {
  margin: 0;
  line-height: 1.375em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.a-card__links {
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  margin-right: 10px;
  color: #000000;
  font-weight: bold;
}

.a-highlight__subtitle {
  font-size: 20px;
  @extend .text-semi-bold;
}

.a-hero__emergency.-text {
  font-weight: bold;
  color: #b52c2c;
}

.a-hero__agency.-text {
  font-size: 13px;
}

.a-hero__description.-text {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
  font-family: "Proxima Nova", sans-serif;
}

.a-results__totalRecord.-number {
  color: #FACE00;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 42px;
}

.a-results__totalRecord.-label {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  font-size: 19px;
}

.a-resultsCard__category {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.a-resultsCard__description {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
}

.a-resultsCard__footer.-label {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
}

.a-stats__description {
  font-family: "Proxima Nova", sans-serif;
  text-align: left;
  color: #ffffff;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 16px;
  height: 7.8em;

  p {
    margin: 0;
    overflow: hidden;
  }
}

.a-stats__stats {
  color: #ffffff;
  text-align: center;

  h3 {
    font-family: "Proxima Nova", sans-serif;
    margin-bottom: 0;
    font-size: 3.9em;
    @extend .text-bold;

    small {
      font-family: "Proxima Nova", sans-serif;
      font-size: 20px;
    }
  }

  h4 {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    margin: 0 0 40px;
    text-transform: uppercase;
    @extend .text-light;
  }
}

.a-photoGallery__description,
.a-videoEmbed__description {
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.a-documents__description {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 16px 0;
}
















a {
  font-family: "Proxima Nova";
  font-weight: normal;
}

