<style>
   .icons-example{
      width: 100%;
      height:75px;
      font-size: 22px;
      padding: 50px 20px;
    }
    p{
    margin:0;
    }
</style>

{% for item in icons %}
<div class="icons-example">
	<p class="{{item.className}}" style="font-size: 30px;"></p>
  <p> className: {{ item.className }} </p>
</div>
{% endfor %}