/* back to top - NYSDS JHK */
.back-to-top {
    position: fixed;
    bottom: 17%;
    right: 5px;
    z-index: 23000;
}

.back-to-top-button {
    font-size: 12px;
    background-color: #154973;
    padding: 10px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;

}

.back-to-top-button:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #face00;
}

.back-to-top-button:focus {
    background-color: #000;
    color: #fff;
    border: 2px solid #face00;
}


/* media queries */
@media (min-width: 992px) {
    .back-to-top {
        bottom: 60px;
        
    }
    
    .back-to-top-button {
        padding: 10px;
    }
}