<div class="back-to-top">
   <a href="{{params.link}}" class="back-to-top-button">
      {{params.text}}
         {% if params.label %}
            <span class="sr-only">
               {{params.label}}
            </span>
         {% endif %}
   </a>
</div>