<div class="o-latestUpdates__wrapper">
	{% include '@storybook/03-Molecules/latestUpdates/latestUpdates.twig' with {
        latestUpdatesTitle: section.latestUpdatesTitle,
        moreUpdates: section.moreUpdates,
        latestUpdatesSection: section.latestUpdatesSection
        }
  %}
</div>
