{% for index, item in node.sections %}
	{% if item.section.type == "ParagraphTitleBar"  %}
		{% include '@storybook/04-Organisms/titleBar/titleBar.twig' with { title: item.section.title, subtitle: item.section.subtitle, variant: "o-titleBar" } %}
	{% endif %}
{% endfor %}

{% include '@storybook/04-Organisms/hero/hero.twig' with { hero: node, heroType: "scheduledEventPageHero" } %}
{% if node.navigator == true %}
	<div class="p-scheduledEvent__wrapper -navigatorContainer">
		<article class="p-scheduledEvent__content flex flex-col tablet:flex-row">
			{% include "@storybook/05-Templates/navigatorFrames/navigatorFrames.twig" with node %}
		</article>
	</div>
{% else %}
	<div class="p-scheduledEvent__wrapper">
		<article class="p-scheduledEvent__content flex flex-col">
			{% include "@storybook/05-Templates/frames/frames.twig" with node %}
		</article>
	</div>
{% endif %}
