<div class="m-plan-date">
  <div class ="m-plan-date__dates">
    <div class ="m-plan-date__start-date">
      {{ startDate|date('Y.m.d') }}
    </div>
    {% if endDate and toggleEndDate %}
      <div class ="m-plan-date__date-separator">
        _
      </div>
      <div class ="m-plan-date__end-date">
        {{ endDate|date('Y.m.d') }}
      </div>
    {% endif %}
  </div>
  <div class ="m-plan-date__full-month">
    {{ startDate|date("F") }}
  </div>
  <div class ="m-plan-date__title">
    {{ title }}
  </div>
  <div class ="m-plan-date__link-wrap">
    {% include "@storybook/02-Atoms/link/link.twig" with {url: link, content:  linkTitle, variant: "a-plan-date__link", newTab: newTab} %}
  </div>
</div>
