 <style>
    .text-effect-example{
      width: 100%;
      height:75px;
      font-size: 22px;
    }
    p{
    margin:0;
    }
  </style>
  {% for item in effects %}
  <div class="text-effect-example {{ item.className }}">
    <p> Class: {{ item.className }}
    <p>Font Effect: {{ item.effect }} </p>
  </div>
  {% endfor %}