<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link href="./css/tailwind-dolprod.css" rel="stylesheet"> #}
    <link href="../css/tailwind-dev.css" rel="stylesheet">
    <link href="../css/fonts-dol.css" rel="stylesheet">
     <script src="https://www.trumba.com/scripts/spuds.js" type="text/javascript"> </script>
    {% include '_css-global.njk' %}
    {% include '_js-link.njk' %}
    <title>{{ title }}</title>
    
  </head>
  <body class="">
  <a href="#main-site-content-for-skiplink" class="sr-only focus:not-sr-only text-blue-700 underline">Skip to Main Content</a>
    {% from '../_includes/_components.njk' import unavcurrent,nav,unavcurrentfooter,footer %}
     {{ unavcurrent({ 
      })}}

    {{ nav({ 
    agencyname: "Department of Labor - DEMO",
    link: "#",
    arialabel: "Department of Labor Demo",
    color: "bg-business-first"
      })}}
   
    <main class="mx-8 md:mx-20" id="main-site-content-for-skiplink">
    {{ content | safe }}
    </main>

    {{ footer({ 
    agencyname: "Department of Labor - DEMO",
    link: "https://adjudication.labor.ny.gov",
    arialabel: "Department of Labor Adjudications Data",
    color: "bg-business-third",
    facebook:"https://www.facebook.com/nyslabor",
    twitter: "https://twitter.com/nyslabor",
    instagram:"https://instagram.com/nyslabor",
    items: [
    {
      text: "Accessibility",
      link: "https://labor.ny.gov/accessibility",
      arialabel:"Link to Agency's Accessibility statement."
    },
     {
      text: "Contact",
      link: "https://labor.ny.gov/contact",
      arialabel:"Link to Agency's contact information."
    },
     {
      text: "Language Access",
      link: "https://labor.ny.gov/language-access",
      arialabel:"Link to Agency's language access resources."
    },
     {
      text: "Privacy Policy",
      link: "https://labor.ny.gov/privacy-policy",
      arialabel:"Link to Agency's privacy policy."
    }
    ]
      })}}
    
     {{ unavcurrentfooter({ 
      })}}
  </body>
</html>