<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/tailwind-dev.css" rel="stylesheet">
    <link href="./css/fonts.css" rel="stylesheet">
    {% include '_css-global.njk' %}
    <title>{{ title }}</title>
    
  </head>
  <body class="">
    {% from '../_includes/_components.njk' import unavcurrent,nav,unavcurrentfooter,footer %}
     {{ unavcurrent({ 
      })}}

    {{ nav({ 
    agencyname: "Department of Labor",
    link: "https://adjudication.labor.ny.gov",
    arialabel: "Department of Labor Adjudications Data",
    color: "bg-business-first"
      })}}
   
    <main class="mx-8 md:mx-20">
    {{ content | safe }}
    </main>

    {{ footer({ 
    agencyname: "Department of Labor",
    link: "https://adjudication.labor.ny.gov",
    arialabel: "Department of Labor Adjudications Data",
    color: "bg-business-third",
    facebook:"https://www.facebook.com/nyslabor",
    twitter: "https://twitter.com/nyslabor",
    instagram:"https://instagram.com/nyslabor",
    items: [
    {
      text: "Accessibility",
      link: "https://labor.ny.gov/accessibility",
      arialabel:"Link to Agency's Accessibility statement."
    },
     {
      text: "Contact",
      link: "https://labor.ny.gov/contact",
      arialabel:"Link to Agency's contact information."
    },
     {
      text: "Language Access",
      link: "https://labor.ny.gov/language-access",
      arialabel:"Link to Agency's language access resources."
    },
     {
      text: "Privacy Policy",
      link: "https://labor.ny.gov/privacy-policy",
      arialabel:"Link to Agency's privacy policy."
    }
    ]
      })}}
    
     {{ unavcurrentfooter({ 
      })}}
  </body>
</html>