<!doctype html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '_css-link.njk' %}
    {% include '_css-global.njk' %}
    <title>{{ title }}</title>
  </head>
  <body class="">
    {% from '../_includes/_components.njk' import unav,nav,footer,languageaccess,unavcurrent,unavcurrentfooter,translatefooter,translateheader  %}
    {{ translateheader({ 
      })}}
     {{ unavcurrent({ 
      })}}
     {% include 'nav-data.md' %}
    <main class="mx-8 md:mx-20">
    {{ content | safe }}
    </main>
    {% include 'footer-data.md' %}
     {{ unavcurrentfooter({ 
      })}}
      {{ translatefooter({ 
      })}}
  </body>
</html>