<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '_css-link.njk' %}
    {% include '_css-global.njk' %}
    <title>{{ title }}</title>
  
  </head>
  <body class="mx-8 md:mx-20 flex flex-col flex-row">
    {% from '../_includes/_components.njk' import nav %} 
    {{ nav({ 
    agencyname: "Digital Services",
    link: "/",
    arialabel: "New York State Digital Services"
      })}}
      {{ content | safe }}
  </body>
</html>