<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700;1,800&display=swap" rel="stylesheet"> 
    <style>
      .markdown > p, h1, h2, h3, h4, h5, h6, ol, ul {
      	grid-column: span 3 / span 3;
      }
       a {
        text-decoration: underline;
      }
      a:focus {
        background-color: rgba(96, 165, 250 ,1);
        border-bottom: 2px solid black;
      }
      </style>
    <title>{{ title }}</title>
  </head>
  <body class="mx-auto w-5/6 markdown flex flex-col md:grid md:grid-cols-3">
  <nav>  </nav>
   {{ content | safe }}
  </body>
</html>