<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/tailwind-dev.css" rel="stylesheet">
    <link href="./css/fonts.css" rel="stylesheet">
    {% include '_css-global.njk' %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700;1,800&display=swap" rel="stylesheet"> 
    <title>{{ title }}</title>
  </head>
  <body class="mx-auto w-5/6 markdown flex flex-col md:grid md:grid-cols-3">
  <nav>  </nav>
   {{ content | safe }}
  </body>
</html>