<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/tailwind-prod.css" rel="stylesheet">
    <link href="./css/fonts.css" rel="stylesheet">
    {% include '_css-global.njk' %}
    <title>{{ title }}</title>
  </head>

  <body class="mx-8 md:mx-20 flex flex-col flex-row">
    {% from '../_includes/_components.njk' import nav %} 
    {{ nav({ 
    agencyname: "Office of General Services",
    link: "https://ogs.ny.gov",
    arialabel: "Office of General Services"
      })}}
   {{ content | safe }}
  </body>
</html>