<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '_css-link.njk' %}
    {% include '_css-global.njk' %}
       <link rel="stylesheet" media="all" href="https://covid19vaccine.health.ny.gov/sites/g/files/oee1181/files/css/css_F-qKM0HT1zcr19frJ7D57NQ9mnRvK2p0ZlBmrUHgBao.css" />
<link rel="stylesheet" media="all" href="https://covid19vaccine.health.ny.gov/sites/g/files/oee1181/files/css/css_geVpxAhB-eEgCnXzHnLV9eo8jKpaquAjLkM6EDVpU3Y.css" />
<link rel="stylesheet" media="print" href="https://covid19vaccine.health.ny.gov/sites/g/files/oee1181/files/css/css_zMJSiCCVIgmvArV4vWSupHGzZ9mJKD5wKHkhSB2svT0.css" />
<link rel="stylesheet" media="all" href="https://covid19vaccine.health.ny.gov/sites/g/files/oee1181/files/css/css_hDsqhFadU1k4CFfjH-jKODJZVymHHy-DP3Eb2hcn4D4.css" />
    <title>{{ title }}</title>
  </head>
  <body class="">
    {# {% from '../_includes/_components.njk' import unav,nav,footer,languageaccess  %}
    {% include 'unav-data.md' %}
     {% include 'nav-data.md' %} #}
    <main class="">
    {{ content | safe }}
    </main>
    {# {% include 'language-access-data.md' %} #}
    {# {% include 'footer-data.md' %} #}
  </body>
</html>