@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/backgrounds/colors/colors.scss";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/weight/weight.scss";
@import "../../01-Base/typography/spacing/spacing.scss";

.m-latestUpdates {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;

  .a-heading__headline {
    font-size: 18px;
    margin-bottom: 20px;

    @include breakpoint(tablet) {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }

  .m-latestUpdates__info {
    @include breakpoint(desktop) {
      display: flex;
    }

    article {
      @include breakpoint(tablet) {
        width: 64.40677%;
      }

      @include breakpoint(desktop) {
        min-height: 160px;
        width: 30.50847%;
        &:not(:last-child) {
          margin-right: 53px;
        }
      }

      .m-latestUpdates__dateTime {
        display: flex;

        .m-latestUpdates__date {
          font-size: 13px;
          text-transform: uppercase;

          @include breakpoint(tablet) {
            font-size: 16px;
          }
        }

        .m-latestUpdates__time {
          font-size: 13px;
          margin-left: 5px;
          padding-left: 5px;
          border-left: 1px solid #000;

          @include breakpoint(tablet) {
            font-size: 16px;
          }
        }
      }

      .m-latestUpdates__title {
        margin: 10px 0 0;

        @include breakpoint(tablet) {
          line-height: 22px;
        }
      }

      .m-latestUpdates__description {
        font-size: 13px;
        line-height: 15px;

        @include breakpoint(tablet) {
          font-size: 16px;
          line-height: 22px;
        }

        p {
          margin: 0;
        }
      }

      .m-latestUpdates__learnMore {
        margin: 20px 0;

        .a-label__link {
          font-size: 13px;
          @extend .text-primary-light-blue;
          @extend .text-semi-bold;

          @include breakpoint(tablet) {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .m-latestUpdates__moreUpdates {
    display: flex;
    .a-hero__btn.-link {
      height: auto;
      width: auto;
      font-size: 14px;
      padding: 15px;
      margin-top: 20px;
      border: 1px solid #62666A;
      white-space: normal;
      @extend .text-black;
      @extend .text-semi-bold;

      @include breakpoint(tablet) {
        min-width: 215px;
      }

      &:hover {
        @extend .bg-black;
        @extend .text-white;
      }
    }
  }
}
