{% set date = latestUpdates.content.date|date("F j, Y") %}
{% set time = latestUpdates.content.date|date("g:i A T") %}

<div class="m-latestUpdates">
	{% include '@storybook/02-Atoms/headings/headings.twig' with { title: latestUpdatesTitle, classNames: "a-heading__headline", variant: "headline" } %}
	{% if latestUpdatesTitle is not empty %}
		<div class="m-latestUpdates__info">
			{% for latestUpdates in latestUpdatesSection %}
				<article>
					<div class="m-latestUpdates__dateTime">
						{% include '@storybook/02-Atoms/date/date.twig' with { date: date, classNames: "text-bold m-latestUpdates__date", variant: "date" } %}
						{% if latestUpdates.content.timeOption == true %}
							{% include '@storybook/02-Atoms/date/date.twig' with { date: time,  classNames: "m-latestUpdates__time", variant: "date" } %}
						{% endif %}
					</div>
					{% include '@storybook/02-Atoms/title/title.twig' with { title: latestUpdates.content.title, classNames: "text-bold m-latestUpdates__title", variant: "heading" } %}
					{% include '@storybook/02-Atoms/text/text.twig' with { text:latestUpdates.content.description.processed, classNames: "m-latestUpdates__description", variant: "html" } %}
					<div class="m-latestUpdates__learnMore">
						{% include '@storybook/02-Atoms/link/link.twig' with { content: latestUpdates.content.learnMore.linkText, url: latestUpdates.content.learnMore.url.path, variant: "a-label__link" } %}
					</div>
				</article>
			{% endfor %}
		</div>
	{% endif %}

	{% if moreUpdates.linkText is not empty %}
		<div class="m-latestUpdates__moreUpdates">
			{% include '@storybook/02-Atoms/buttons/buttons.twig' with { title: moreUpdates.linkText, url: moreUpdates.url.path, variant: "a-hero__btn -link" } %}
		</div>
	{% endif %}

</div>
