@import "../../01-Base/breakpoints/breakpoints";
@import '../../01-Base/typography/weight/weight.scss';
@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/backgrounds/colors/colors.scss";

.m-quick-link {
  padding: 0;
  margin: 0 0 15px;
  overflow: hidden;
  background-color: #EDEDED;
  border: 1px solid #D0D0CE;

  &__image {
    width: 110px;
    height: 110px;
    background-color: #fbfcfc;
    text-align: center;
    float: left;
    display: block;
    margin-right: 1em;
  }

  &__title {
    padding: 0 30px;
    margin: 15px 0 10px;
    height: auto;
    font-size: 16px;
    line-height: 19px;
    @include breakpoint(tablet) {
      margin: 20px 0 10px;
    }
    @include breakpoint(desktop) {
      white-space: nowrap;
      font-size: 18px;
      line-height: 20px;
    }
    a {
      text-decoration: none;
      @extend .text-primary-links;
      @extend .text-semi-bold;
    }

    span {
      white-space: nowrap;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      @extend .text-primary-links;
      @include breakpoint(laptop) {
        white-space: nowrap;
      }
    }
  }

  &__description {
    padding: 0 30px;
    display: none;
    @include breakpoint(laptop) {
      display: block;
    }

    .field-content {
      height: 2.4em;
      line-height: 1.2em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

}
