@media (min-width: 1280px) {
.lg\:nysds-text-36 {
    font-size: 36px;
}

.lg\:nysds-text-32 {
    font-size: 32px;
}

.lg\:nysds-text-28 {
    font-size: 28px;
}

.lg\:nysds-m-30 {
    margin: 30px;
}

.lg\:nysds-mx-30 {
    margin: 0px 30px;
}

.lg\:nysds-my-30 {
    margin: 30px 0px;
}
}