{% set term = term|merge({ navigator: true }) %}

<article class="p-agency-vocab -full-page">
  {% include '@storybook/04-Organisms/taxonomyHero/taxonomyHero.twig' with { hero: term, heroType:"agencyTermHero" } %}
  <div class="p-agency__wrapper -navigatorContainer">
    <article class="p-agency__content flex flex-col tablet:flex-row">
      {% include "@storybook/05-Templates/taxonomyNavigatorFrames/taxonomyNavigatorFrames.twig" with {node: term} %}
    </article>
  </div>
</article>