{% set classes = [
  'o-buttons__wrapper',
  'no-webform',
  section.color ? 'bg-primary-' ~ section.color: '',
] %}

<div class="{{classes|join(' ')}}">
	<div class="o-buttons -content">
		<div class="o-buttons__titles">
			{% if section.title %}
				{% include '@storybook/02-Atoms/title/title.twig' with { title: section.title, variant: 'title', classNames: "o-buttons__title"} %}
			{% endif %}

			{% if section.headline %}
				{% include '@storybook/02-Atoms/title/title.twig' with { headline: section.headline, variant: 'headline', classNames: 'o-buttons__headline'} %}
			{% endif %}

			{% if section.description %}
				{% include '@storybook/02-Atoms/text/text.twig' with { text: section.description.processed, classNames: "a-buttons__description", variant: "html" } %}
			{% endif %}

			{% if section.buttons is not empty %}

				<div class="o-buttons__group -buttonGroup">
					{% for item in section.buttons %}
						{% if item.button.link is not empty %}
							{% include '@storybook/02-Atoms/buttons/buttons.twig' with { variant: "a-btn__link", url: item.button.link.url.path, title: item.button.link.title } %}
						{% endif %}
						{% if item.button.webform is not empty %}
							{% if item.button.webform.status == "open" %}
								{% include '@storybook/02-Atoms/buttons/buttons.twig' with { id: item.button.webform.id, title: item.button.label, url: 'javascript:void(0)', variant: "a-btn__link-form-embed"  } %}
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>

				{% for item in section.buttons %}
					{% if item.button.webform is not empty %}
						{% if item.button.webform.status == "open" %}
							<div class="o-buttons__group -attachedForm" data-form="{{ item.button.webform.id is not empty ? item.button.webform.id : "" }}">
								{{ drupal_entity('webform', item.button.webform.id) }}
								<div class="btnWrapper">
									<span class="-close-btn {{classes[2] == 'bg-primary-darkblue' ? 'text-white' : 'text-black'}}" role="button" aria-pressed="false">
										Close
									</span>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
