@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/weight/weight.scss";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/typography/spacing/spacing.scss";

.a-title {
  font-size: 13px;
  line-height: 15px;

  @include breakpoint(tablet) {
    font-size: 16px;
    line-height: 18px;
  }
}

.a-frame__title {
  color: #154973;
  font-family: "Proxima Nova";
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
}

.a-headline {
  font-size: 28px;
  line-height: 1.15em;

  @include breakpoint(tablet) {
    font-size: 32px;
    line-height: 1.15em;
  }

  @include breakpoint(laptop) {
    font-size: 36px;
    line-height: 1.15em;
  }

  .center-layout & {
    font-weight: 900;
  }
}

.a-hero__emergency.-title h1 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 36px;
}

.a-hero__title {
  font-size: 48px;
  line-height: 48px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
}

.a-hero__titleLanding {
  font-size: 36px;
  line-height: 1.15em;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
}

.a-buttons__title {
  font-family: "Oswald";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.a-card__title {
  color: #154973;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  @extend .text-oswald;
  @extend .text-bold;
}

.a-quickCard__title {
  font-size: 16px;
  margin: 0;
  @extend .text-white;
  @extend .text-oswald;
}

.a-card__subHeadline {
  margin: 0 0 40px;
  @extend .text-proxima;
  @extend .text-extra-bold;
}

.a-highlight__title {
  font-size: 14px;
  @extend .text-black;
  @extend .text-oswald;
  @extend .text-bold;
}

.a-government__title{
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  @extend .text-1-space;
  @extend .text-oswald;
}

.a-contact__title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 900;
  color: #154973;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 34px;

  @include breakpoint(tablet) {
    font-size: 36px;
    line-height: 38px;
  }
}

.a-contact__emailTitle,
.a-contact__mailTitle,
.a-contact__phoneTitle {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  margin: 0 0 25px;
  font-size: 16px;

  .t-section__container.-navigator &.a-title {
    display: block;
  }

  @include breakpoint(tablet) {
    font-size: 18px;
  }

  &:before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #007AC2;
    margin-right: 4px;
  }
}

.a-contact__phoneTitle:before {
  content: "\f879";
}

.a-contact__emailTitle:before {
  content: "\f0e0";
}

.a-contact__mailTitle:before {
  content: "\f658";
}

.a-buttons__headline {
  font-family: "Proxima Nova";
  font-size: 40px;
  font-weight: bold;
  color: #154973;
}

.a-sidebar__title {
  color: #FACE00;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.a-sidebar__subTitle {
  color: #FACE00;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.a-nygov__hero.-slogan {
  display: block;
  color: #fff;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 13px;
  line-height: 31px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  padding-left: 60px;
  width: 100%;
}

.a-wysiwyg__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 27px;
}

.a-wysiwyg__title {
  @extend .text-extra-bold;
  font-size: 28px;
  line-height: 27px;
  margin-bottom: 20px;
  color: #154973;

  @include breakpoint(laptop) {
    font-size: 30px;
    line-height: 42px;
  }
}

.a-wysiwyg__headline {
  @extend .text-bold;
  font-size: 16px;
  line-height: 18px;

  @include breakpoint(laptop) {
    font-size: 18px;
    line-height: 27px;
  }
}

.a-serviceMenu__title{
font-size: 24px;
display: inline;
}
.-servicePageTitle{
  display: none;
}