@import "../../01-Base/breakpoints/breakpoints.scss";
@import "../../01-Base/backgrounds/colors/colors.scss";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/typography/weight/weight.scss";
@import "../../01-Base/icons/icons.scss";

.o-governorGlobalMenu {
  &__wrapper {
    @extend .bg-primary-blue-accent;
    z-index: 103;
    left: 0;
    padding: 0 25px;
    display: flex;
  }

  &__offcanvas-trigger {
    display: flex;
    align-items: center;
    font-size: 21px;
    margin: 0 30px 0 5px;
    cursor: pointer;
    &:before {
      color: #fff;
    }
    @include breakpoint(laptop) {
      display: none;
    }
  }

  &__title {
    margin: 0 25px 0 0;
    padding-left: 0;
    font-size: 14px;
    padding: 0;
    background: none;
    width: 160px;
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    @include breakpoint(desktop) {
      font-size: 16px;
      flex-flow: row;
      width: 268px;
      justify-content: center;
      font-size: 16px;
    }
    a {
      display: flex;
      flex-flow: column;
      @extend .text-primary-gold;
      @extend .text-bold;
      text-decoration: none;
      @include breakpoint(desktop) {
        flex-flow: row;
      }
      .name {
        display: inline;
        color: #fff;
        margin-left: 0;
        @include breakpoint(desktop) {
          margin-left: 5px;
        }
      }
    }
  }

  &__menu {
    display: none;
    position: relative;
    z-index: 103;
    justify-content: center;
    padding-top: 0;
    flex-flow: column;
    @include breakpoint(laptop) {
      display: flex;
    }
    @include breakpoint(desktop) {
      height: 80px;
    }
    .menu {
      padding-left: 0;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      text-transform: uppercase;
      border: none;
      list-style: none;
      text-align: left;
      display: none;
      align-items: center;
      @include breakpoint(laptop) {
        display: flex;
      }
      li {
        width: auto;
        float: left;
        margin-right: 40px;
        list-style: none;
        padding: 30px 0;
        cursor: auto;

        a, .noLink {
          font-size: 14px;
          color: #FFFFFF;
          text-decoration: none;
          font-weight: 700;
          @extend .text-bold;
          @include breakpoint(desktop) {
            font-size: 16px;
          }
        }
        &:hover {
          cursor: pointer;
          a, .noLink {
            text-decoration: underline;
          }
          .submenu {
            display: flex;
            flex-flow: column;
          }
        }
        &.focus {
          .submenu {
            display: flex;
            flex-flow: column;
          }
        }
      }
    }
    .submenu {
      position: absolute;
      z-index: 103;
      width: 100%;
      overflow: visible;
      padding: 5px 0;
      top: 80px;
      width: 200px;
      border-top: 1px solid #fff;
      @extend .bg-primary-blue-accent;
      display: flex;
      flex-flow: column;
      display: none;
      @include breakpoint(desktop) {
        width: 300px;
      }
      li {
        padding: 15px;
        a {
          text-decoration: none !important;
          &:hover {
            @extend .text-primary-gold;
          }
        }
      }
    }
  }
}
.mobile-nav{
  overflow: hidden;
  position: absolute;
  left: 0;
  display: none;
  height: fit-content;
  width: 250px;
  z-index: 103;
  background-color: #1b2a5e;  
  padding: 0 30px;
  .o-governorGlobalMenu {
    &__wrapper {
      @extend .bg-primary-blue-accent;
      z-index: 103;
      left: 0;
      padding: 0 25px;
      display: flex;
      flex-flow: column;
    }
  
    &__title {
      font-size: 14px;
      background: none;
      width: 100%;
      min-width: 190px;
      max-width: 270px;
      position: relative;
      display: flex;
      align-items: center;
      height: 80px;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      a {
        display: flex;
        flex-flow: row;
        @extend .text-primary-gold;
        @extend .text-bold;
        text-decoration: none;
        width: 100%;
        justify-content: space-between;
        .name {
          display: inline;
          color: #fff;
          margin-left: 0;
          @include breakpoint(desktop) {
            margin-left: 5px;
          }
        }
        .icon-right-chevron{
          color: #ffffff;
          font-size: 16px;
        }
      }
    }
  
    &__menu {
      position: relative;
      z-index: 103;
      justify-content: center;
      flex-flow: column;
      .menu {
        padding-left: 0;
        margin: 0;
        display: flex;
        flex-flow: column;
        vertical-align: middle;
        overflow: hidden;
        text-transform: uppercase;
        border: none;
        list-style: none;
        text-align: left;
        align-items: center;
        @include breakpoint(laptop) {
          display: flex;
        }
        li {
          width: 100%;
          margin-right: 0px;
          list-style: none;
          padding: 30px 0;
          border-bottom: 1px solid rgba(255,255,255,0.2);

          .menuItems {
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
          }
          .menuItems.open{
            display: flex;
            justify-content: left;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            .noLink{
              padding-left: 20px;
              text-decoration: none;
              font-family: "Proxima Nova";
              text-transform: uppercase;
              -webkit-font-smoothing: unset;
              @extend .text-primary-gold;
            }
          }
          .icon-left-chevron{
            color: #FFFFFF;

          }

          span {
            display: flex;
          }

  
          a {
            font-size: 14px;
            color: #FFFFFF;
            text-decoration: none;
            font-weight: 700;
            width: 100%;
            padding-right: 20px;
            @extend .text-bold;
            @include breakpoint(desktop) {
              font-size: 16px;
            }
          }
          &:hover {
            cursor: pointer;
            a {
              text-decoration: underline;
            }
          }
          .icon-right-chevron{
            color: #FFFFFF;
          }
        }
      }
      .menu li ul.submenu {
        position: absolute;
        z-index: 9;
        width: 100%;
        overflow: visible;
        padding: 5px 0;
        top: 80px;
        width: 200px;
        border-top: none;
        display: contents;
        @extend .bg-primary-blue-accent;
        li {
          a {
            text-decoration: none !important;
            &:hover {
              @extend .text-primary-gold;
            }
          }
        }
      }
    }
  }
}
