.o-documents {
  max-width: 780px;
  margin: 0 auto;

  &.navigator {
    margin: 0;
    width: 100%;
  }

  .a-frame__title {
    margin-top: 0;
  }
  @media print {
    .m-document__download.-link,
    .m-document__titles{
      border-right: none;
      border-left: none;
    }
    .m-document__download.-link::after{
      content: " (" attr(href) ")";
      margin: 20px;
    }
    .a-download.-icon{
      display: none;
    } 
    .m-document__download__text{
      display: none;
    }
  }
}
