
:root {
    --primary-core-blue: #154973;
    --secondary-core-blue: #457AA5;
    --link-blue: #004DD1;
    --tertiary-core-blue: #EFF6FB;
    --quaternary-blue: #007AC2;
    --core-accent-yellow: #FACE00;
    --yellow-alert: #FFE396;
    --black: #000000;
    --darkest-gray: #242424;
    --dark-gray: #62666A;
    --mid-gray: #D0D0CE;
    --light-gray: #EDEDED;
    --white: #FFFFFF;
    --dark-red-alert: #B32E31;
    --light-red-alert: #FEC3C3;
    --success-green: #329d08;
    --warning-orange: #d4820c;
  }

[x-cloak] { 
    display: none !important; 
}

[hidden] {
    display: none !important;
}

.nysds-hidden {
    display: none !important;
}
  
.nysds-flex {
    display:flex !important;
}

.nysds-a11y-document {
    max-width: 90%;
    margin: 0 auto;
}

.nysds-a11y-skiplink {
    color: blue;
    font-size: 1.2rem;
    width: fit-content !important;
    display: flex;
    align-items: center;
    margin: 20px 60px !important;
}

.nysds-a11y-main {
   display: flex;
   flex-direction: column;
   margin-bottom: 4rem;
   font-family: "Noto Sans", sans-serif;
   font-optical-sizing: auto;
   font-size: 1rem;
}

.nysds-a11y-main p {
    line-height: 1.5;
}

.nysds-a11y-main a:hover {
    text-decoration-thickness: 3px;
}

.nysds-a11y-main a:focus {
    text-decoration-thickness: 3px;
}


.nysds-a11y-main li {
    line-height: 1.5;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
}

.nysds-a11y-main li:first-child {
    padding-top: 0.6rem;
}

.nysds-a11y-toc {
    margin: 5% 0;
    border: 2px solid #d0d0ce;
    border-radius: 15px;
    padding: 1% 2%;
}

.nysds-a11y-toc ul {
    padding-left: 1rem;
}

.nysds-a11y-toc ul > li {
    font-weight: bold;
}

.nysds-a11y-toc ul > li > ul > li {
    font-weight: normal;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.focus\:not-sr-only:focus  {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

@media (min-width: 1024px) {
    .nysds-a11y-document {
        max-width: 80%;
    }
    .nysds-a11y-toc ul {
        padding-left: 2rem;
    }
}