@import '../../01-Base/typography/colors/colors.scss';
@import '../../01-Base/typography/weight/weight.scss';
@import '../../01-Base/typography/textEffects/effects.scss';

.m-eventDate {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;

  .start {
    display: flex;
    flex-flow: column;
  }

  .dash {
    font-size: 20px;
    padding: 0 15px;
    @extend .text-semi-bold;
  }

  .end {
    display: flex;
    flex-flow: column;
  }

  .-gold {
    text-transform: uppercase;
    @extend .text-primary-gold;
    @extend .text-extra-bold;
  }

  .-blue {
    text-transform: uppercase;
    @extend .text-primary-light-blue;
    @extend .text-extra-bold;
  }

  .-year {
    margin-top: -5px;
  }
}
.eventTimePlace{
  display: flex;
  flex-flow: column;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin: 10px 0;
.time{
  display: flex;
  font-size: 13px;
  padding: 10px 0;

  .clock {
    padding-right: 10px;
    @extend .text-primary-light-blue;
  }

  span {
    padding-right: 10px;
  }
}

.location {
  display: flex;
  font-size: 13px;
  padding: 10px 0;
  border-top: 1px solid #EDEDED;

  .mapMarker {
    padding-right: 10px;
    @extend .text-primary-light-blue;
  }

  span {
    padding-right: 10px;
  }
}
}

.m-eventInfo {


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      font-size: 14px;
      line-height: 1rem;
      padding: 20px 0px;
      border-top: 1px solid #D0D0CE;
    }

    li:first-of-type {
      border: none;
    }

  }

  span {
    margin-right: 14px;
    width: 20px;
  }


  

}