@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/typography/spacing/spacing.scss";


.o-highlight__container {
  display: flex;
  flex-flow: column-reverse;

  @include breakpoint(tablet){
    display: flex;
    flex-flow: row;
    justify-content: center;
  }


  .o-highlight__image {
    display: flex;
    flex-flow: column;
    justify-content: center;

    @include breakpoint(tablet) {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
    }



    .o-highlightLogo{
      display: block;
      margin: auto;
      max-height: 300px;
      height: auto;
      max-width: 300px;
      width: 100%;

      @include breakpoint(tablet) {
        max-height: 430px;
        max-width: 430px;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
        align-self: flex-end;
      }
      @include breakpoint(desktop) {
        margin-right: 60px;
      }
    }

  }

  .o-highlight__content {



    .m-card__data{
      display: flex;
      flex-flow: column;
      padding: 0;
      margin: 0 30px;

      @include breakpoint(tablet){
        margin-left: 0;
      }

      p{
        margin: 0;
      }
      .a-card__description{
        @include breakpoint(tablet){
          max-width: 350px;
        }
        @include breakpoint(desktop){
          max-width: 550px;
        }
      }
    }

    .a-highlight__title{
    margin: 40px 0 0;
    text-transform: uppercase;
    @extend .text-1-space;
    @include breakpoint(tablet){
      margin: 50px 0 0;
      font-size: 16px;
    }
    @include breakpoint(desktop){
      margin: 60px 0 0;
    }
    }

    .a-card__subHeadline {
      margin: 10px 0;
      @extend .text-primary-blue;
    }

    .a-highlight__subtitle{
      margin: 15px 0;
      @include breakpoint(tablet){
        margin: 25px 0 15px 0;
      }
    }

    .m-highlight__button{
      @include breakpoint(largeMobile){
        align-self: center;
        margin: 40px 0;
        .a-buttons__highlight {
          height: 60px;
          padding: 0 20px;
        }
      }
      @include breakpoint(tablet){
        align-self: baseline;
        margin: 40px 0;
        .a-buttons__highlight {
          height: 50px;
          padding: 0 20px;
        }
      }
    }
  }
}