@import "../../01-Base/breakpoints/breakpoints";

.p-news__wrapper {
  width: 80%;
  max-width: 780px;
  margin: 60px auto;

  @include breakpoint(desktop) {
    max-width: 690px;
    width: 100%;
  }

  .m-video {
    margin: 40px auto 0;
  }
}

.p-subheadline {
  font-size: 26px;
  line-height: normal;
  width: 80%;
  margin: 60px auto;
}
@media print {
  .o-hero {
    .o-hero__wrapper{
      min-height: unset;
    }
    .m-hero__meta.-newsHero .m-newsHero__keyword .m-newsHero__tags {
      a::after {
        content: " ("attr(href) ")";
        border-bottom: unset;
        border-top: unset;
        border-left: unset;
      }
    }

    .m-separator {
      display: none;
    }
  }
  .footer-navigations{
    display: none;
  }
}
