{% include '@storybook/04-Organisms/hero/hero.twig' with { hero: node, heroType: "newsPageHero"  } %}

{% if node.contentSubheadline %}
	<div class="p-subheadline">
		{{ node.contentSubheadline.processed|raw }}
	</div>
{% endif %}

<div class="p-news__wrapper">
	{% include "@storybook/05-Templates/frames/frames.twig" with node %}
</div>
