@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/typography/spacing/spacing.scss";
@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/weight/weight.scss";
@import "../../01-Base/backgrounds/colors/colors.scss";

.m-card__data {
  overflow: hidden;
  max-width: 100%;
  padding: 30px 25px;

  h3 {
    margin: 0;
    font-size: 20px;
  }
}
.m-card__stats{
  padding: 25px 0 25px 0;
  width: 100%;
  position: relative;
}

.m-card__statsBKG{
  position: absolute;
  background-color:#457AA5;
  opacity: .7;
  width: 100%;
  height: 100%;
}

.m-highlight__button{
  margin: 30px 0 20px 0;
  display: flex;
  align-self: stretch;
}

.m-card__bioData {
  min-height: 128px;
  background-color: rgba(69, 122, 165, 0.8);
  padding: 15px 20px;

  .m-card__bioTitle {
    margin-bottom: 15px;

    .a-government__title {
      border-bottom: #000 solid 2px;
      line-height: 1.15;
      width: fit-content;
      @extend .text-regular;
      @extend .text-white;
    }
  }

  .m-card__bioName {
    margin-bottom: 10px;

    .a-government__name {
      font-size: 24px;

      @extend .text-1-space;
      @extend .text-proxima;
      @extend .text-extra-bold;
      @extend .text-white;
    }
  }
  .m-card__bioSocial{
    display: flex;

    a{
    margin-right: 30px;
    font-size: 16px;
    text-decoration: none;

    @extend .text-white;
    }
    a:last-of-type{
      margin-right: 0;
    }
    span{
      font-size: 16px;
    }
  }
}

.m-card__linkData {
  width: 60%;
  height: 100%;
  margin: 0;
  background-color: #222222;

  .m-card__linkTitle {
    margin-bottom: 15px;

    .a-government__title {
      border-bottom: #FACE00 solid 2px;
      line-height: 1.15;
      width: fit-content;
      @extend .text-regular;
      @extend .text-primary-gold;
    }
  }

  .m-card__links {
    @extend .text-white;

    a {
      text-decoration: none;
      font-size: 14px;
      margin-right: 10px;
      @extend .text-white;
      @extend .text-proxima;
      @extend .text-bold;
    }

}
}