@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/weight/weight.scss";
@import "../../01-Base/typography/colors/colors.scss";

.o-programsupporter {
  @extend .text-proxima;
  &.bg-primary-gold,
  &.bg-primary-gray {
    .a-headline {
      @extend .text-primary-blue;
    }
    .quote {
      @extend .text-black;
    }
    .name {
      @extend .text-primary-blue;
    }
    .read-quote {
      @extend .text-primary-blue;
    }
    .fa-quote-left,
    .fa-quote-right {
      @extend .text-primary-blue;
    }
    .close span {
      @extend .text-primary-blue;
    }
    .social-links span {
      @extend .text-primary-blue;
    }
  }
  .o-programsupporter__flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include breakpoint(laptop) {
      flex-direction: row;
    }

    .info {
      z-index: 1;
    }

    .o-programsupporter__seemore {
      height: 128px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .a-hero__btn {
        margin: 10%;
        white-space: normal;
      }
      .a-hero__btn:hover {
        color: #000;
        background-color: #fff;
      }

      @include breakpoint(laptop) {
        height: 640px;
        width: 15%;
      }
    }
  }
  .o-programsupporter__flex-inner {
    width: 100%;
    .o-programsupporter__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      @include breakpoint(tablet) {
        flex-direction: row;
      }
    }
  }
  .o-programsupporter__title-wrapper {
    margin-bottom: 30px;
  }
  .a-programsupporter__title {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 50px;
    @extend .text-oswald;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .a-programsupporter__headline {
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  @media print{
    a::after{
      content: " (" attr(href) ")";
    }
  }
}
.m-supporter .quote-overlay{
  @media print {
  display: block;
  }
}
