{% set classes = [
  'o-programsupporter',
  section.color ? 'bg-primary-' ~ section.color: '',
] %}

<div class="{{classes|join(' ')}}">
  <div class= "o-programsupporter__content-wrapper">
    <div class= "o-programsupporter__title-wrapper">
      {% if section.title %}
        {% include '@storybook/02-Atoms/title/title.twig' with { title: section.title, variant: 'title', classNames: "a-programsupporter__title"} %}
      {% endif %}

      {% if section.headline %}
        {% include '@storybook/02-Atoms/title/title.twig' with { headline: section.headline, variant: 'headline', classNames: "a-programsupporter__headline"} %}
      {% endif %}
    </div>

    <div class="o-programsupporter__flex">

      <div class="o-programsupporter__flex-inner">
        <div class="o-programsupporter__list in-progress">
          {% for item in section.supporterParagraphs %}
            {% include "@storybook/03-Molecules/supporter/supporter.twig"  with {
              name: item.paragraph.name,
              title: item.paragraph.title,
              quote: item.paragraph.quote,
              facebook: item.paragraph.facebook.uri,
              twitter: item.paragraph.twitter.uri,
              image: item.paragraph.image.entity.desktopImg.derivative.url,
              supporterID: loop.index,
              color: section.color
            } %}
          {% endfor %}
        </div>

      </div>

      {% if section.seemore %}
        {% if section.seemore.uri %}
          <div class="o-programsupporter__seemore bg-primary-blue">
            {% include '@storybook/02-Atoms/buttons/buttons.twig' with { title: section.seemore.title, url: section.seemore.uri, variant: "a-hero__btn -link" } %}
          </div>
        {% endif %}
      {% endif %}
    </div>


  </div>
</div>
