@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/weight/weight.scss";

.m-card__footer {
  display: flex;
  align-items: center;

  .a-card__icon,
  .a-mobile__icon {
    color: #154973;
  }
 
}

.mobileLink:nth-child(even) {
  margin-top: 25px;

  @include breakpoint(desktop) {
    margin-top: 30px;
  }
}

.m-card__linkText {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Proxima Nova", sans-serif;
  margin-left: 8px;
  vertical-align: middle;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #154973;

  &:hover {
    border-bottom: 3px solid #154973;
    margin-bottom: -2px;
  }

}
.m-card__quickFooter {
  display: flex;
  align-items: center;
  height:60px;
  width: 100%;
  background-color: #457AA5;
  color: #ffffff;
  font-size: 16px;
  padding: 0 20px;
  @extend .text-proxima;
  @extend .text-semi-bold;


  @supports (-webkit-line-clamp: 1) {
  .m-card__quickText {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

  .icon-arrow-circle {
    padding-left: 10px;
  }
}

.m-card__statsBar {
  width: 100%;
  float: left;
  background-color: #154973;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
}