{% if variant == "m-card__footer" %}
  <div class="m-card__footer">{% include "@storybook/02-Atoms/icons/icons.twig" with { icon: "card"} %}<span class="m-card__linkText">{{text}}</span> </div>
{% endif %}

{% if variant == "m-card__heroFooter" %}
  <div class="m-card__footer"><span class="icon-right-chevron"></span><span class="m-card__linkText"> {{text}} </span> </div>
{% endif %}

{% if variant == "m-card__mobileFooter" %}
  <div class="m-card__footer">{% include "@storybook/02-Atoms/icons/icons.twig" with { icon: "mobile"} %}
  <span class="m-card__linkText" id="mobileText">{{text}}</span>
  </div>
{% endif %}

{% if variant == "m-card__quickFooter" %}
  <div class="m-card__quickFooter"></span><span class="m-card__quickText"> {{text}} </span> <span class="icon-arrow-circle"></div>
{% endif %}

{% if variant == "m-card__statsBar" %}
  <div class="m-card__statsBar">{% include "@storybook/02-Atoms/buttons/buttons.twig" with { title: learnMore.linkText, url: learnMore.url.path, aria: ariaLabel, variant: "paragraph-learn-more", classNames: "a-buttons__statsLM" } %}</div>
{% endif %}