@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import '../../01-Base/typography/weight/weight.scss';

.m-supporter {
  @extend .text-proxima;
  padding: 35px 45px;
  height: 320px;
  border: 1px solid #1eadea;
  &.bg-primary-gold {
    border: 1px solid #f79f23;
  }
  &.bg-primary-gray {
    border: 1px solid #e3e3e1;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  @include breakpoint(tablet) {
    width: 50%;
  }
  .quote-overlay {
    display: none;
    z-index: 21;
    @extend .text-proxima;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 3rem 6%;
    @include breakpoint(desktop) {
      padding: 2rem 6%;
    }
    p {
      margin: 0;
      font-size: 14px;
      line-height: 24px;
      padding-top: 8px;
      @include breakpoint(tablet) {
        padding-top: 14px;
      }
      @include breakpoint(laptop) {
        padding-top: 30px;
        font-size: 16px;
      }
      @include breakpoint(desktop) {
        padding-top: 56px;
      }
    }
    .name {
      @extend .text-bold;
      padding-top: 0;
    }
    .close {
      z-index: 23;
      font-size: 28px;
      color: #FFF;
      text-decoration: none;
      position: absolute;
      right: 4%;
      top: 8%;
      cursor: pointer;
    }
    .fa-quote-left, .fa-quote-right {
      font-size: 32px;
      line-height: 54px;
      color: #094a66;
      position: absolute;
      @include breakpoint(laptop) {
        font-size: 32px;
      }
      @include breakpoint(desktop) {
        font-size: 48px;
      }
    }
    .fa-quote-left {
      top: 8px;
      left: 20px;
      @include breakpoint(desktop) {
        top: 24px;
        left: 24px;
      }
    }
    .fa-quote-right {
      right: 20px;
      bottom: 8px;
      @include breakpoint(desktop) {
        right: 24px;
        bottom: 24px;
      }
    }
  }
  .quote-overlay.is-visible {
    display: block;

    .quote {
      padding-right: 30px;
    }
  }
  .info {
    p{ margin: 0; }
    .title {
      font-size: 14px;
      @extend .text-oswald;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 5px;
      text-align: left;
      color: #000;
    }
    .name {
      font-size: 36px;
      color: #fff;
      @extend .text-extra-bold;
    }
  }
  .m-supporter__links {
    position: relative;
    z-index: 10;
    .read-quote {
      display: inline-block;
      margin: 0;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      font-size: 13px;
      font-weight: bold;
      &:hover {
        color: #24387e;
      }
    }
    .social-links {
      float: right;
      a {
        margin: 0 0 0 10px;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          color: #24387e;
        }
      }
    }
  }

}
