{% if variant == "m-card__chapterLinks" %}
  <div>
    <ul class= "m-card__chapterLinks">
    {% for item in chapterLinks %}
      <li><a href="{{item.url.path}}" {{ (loop.index == 3) ? "class=m-card__lastLink" : ""}}>{% include "@storybook/02-Atoms/text/text.twig" with { text: item.linkText, classNames:"a-card__links", variant: "string" } %} {% include "@storybook/02-Atoms/icons/icons.twig" with { icon: "link" } %} </a></li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
