.m-card__chapterLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include breakpoint(tablet) {
      padding-top: 10%;
    }

    @include breakpoint(desktop) {
      padding-top: 0%;
    }

    li {
      display: flex;
      font-size: 14px;
      line-height: 1rem;
      padding: 20px 0px;
      border-top: 1px solid #D0D0CE;
      
    }

    li:first-of-type {
      border: none;
      padding-top: 0px;
    }

    li:last-of-type {
      padding-bottom:0px;
    }

    a {
      text-decoration: none;
      color: #000;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      display: flex;
      width: 100%;

      &:hover {
        color:#007AC2;
      }

      &:focus {
        color:#007AC2;
      }

      span {
        margin-left: auto;
      }
    }

  }


  @supports (-webkit-line-clamp: 1){
    .a-card__links{
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      height: unset;
    }
  }
}

.a-link__icon {
  float: right;
  color: #007AC2;
}