<section class="flex flex-col md:flex-row items-center mt-4 pt-4">
<div class="md:border-r md:border-dotted mt-8 md:mt-0 w-3/4 md:w-1/4 md:h-64 border-0">
<div class="flex flex-col items-center"><img alt="an icon of a hand that is clicking a button" class="p-2 m-2" src="/sites/g/files/oee1181/files/media/2021/06/nys-ep-icon_web-click.png" />
<h3 class="text-xl bold text-blue-900 uppercase py-2 my-2">Step 1</h3>

<p class="text-center w-full md:w-3/4">Visit the Excelsior Pass web portal at <a aria-label="Excelsior Pass Web Portal" href="https://epass.ny.gov/"> epass.ny.gov </a></p>
</div>
</div>

<div class="md:border-r md:border-dotted  mt-8 md:mt-0 w-3/4 md:w-1/4 md:h-64 border-0">
<div class="flex flex-col items-center"><img alt="Silhouettes of two people" class="p-2 m-2" src="/sites/g/files/oee1181/files/media/2021/06/nys-ep-icon_people.png" />
<h3 class="text-xl bold text-blue-900 uppercase py-2 my-2">Step 2</h3>

<p class="text-center w-full md:w-3/4">Answer a few questions to confirm your vaccine or test information to retrieve your Pass</p>
</div>
</div>

<div class="md:border-r md:border-dotted  mt-8 md:mt-0 w-3/4 md:w-1/4 md:h-64 border-0">
<div class="flex flex-col items-center "><img alt="icon of a QR code on a smart phone" class="p-2 m-2" src="/sites/g/files/oee1181/files/media/2021/06/nys-ep-icon_smartphone-qr-code.png" />
<h3 class="text-xl bold text-blue-900 uppercase py-2 my-2">Step 3</h3>

<p class="text-center w-full md:w-3/4 ">Pass retrieved! Print your Pass, take a screenshot, or download the free Wallet App to store your Pass on your phone</p>
</div>
</div>

<div class="md:border-r md:border-dotted  mt-8 md:mt-0 w-3/4 md:w-1/4 md:h-64 border-0">
<div class="flex flex-col items-center"><img alt="an icon of a smart phone taking a picture of a QR code" class="p-2 m-2" src="/sites/g/files/oee1181/files/media/2021/06/nys-ep-icon_view-qr-code.png" />
<h3 class="text-xl bold text-blue-900 uppercase py-2 my-2">Step 4</h3>

<p class="text-center w-full md:w-3/4">Present your Pass at participating organizations to verify your proof of vaccination or negative test result</p>
</div>
</div>
</section>

<p class="italic text-center pt-12 md:pt-16 md:mt-16 block mt-12"><strong>Excelsior Pass</strong> is a voluntary platform. Your data and information is kept secure at all times.</p>