<section class="flex flex-col md:flex-row items-center">

<article class="flex flex-col md:border-r md:border-dotted items-center w-1/4">
<img src="/img/nygov-logo.png" class="" />
<h1 class="text-xl bold"> Step 1 </h1>
<p class="text-center">Visit the Excelsior Pass web portal at <a href="https://epass.ny.gov/" aria-label="Excelsior Pass Web Portal" class=""> epass.ny.gov </a> </p>
</article>

<article class="flex flex-col md:border-r md:border-dotted items-center w-1/4">
<img src="/img/nygov-logo.png" class="" />
<h1 class="text-xl bold"> Step 1 </h1>
<p class="text-center">Visit the Excelsior Pass web portal at <a href="https://epass.ny.gov/" aria-label="Excelsior Pass Web Portal" class=""> epass.ny.gov </a> </p>
</article>

<article class="flex flex-col md:border-r md:border-dotted items-center w-1/4">
<img src="/img/nygov-logo.png" class="" />
<h1 class="text-xl bold"> Step 1 </h1>
<p class="text-center">Visit the Excelsior Pass web portal at <a href="https://epass.ny.gov/" aria-label="Excelsior Pass Web Portal" class=""> epass.ny.gov </a> </p>
</article>

<article class="flex flex-col items-center w-1/4">
<img src="/img/nygov-logo.png" class="" />
<h1 class="text-xl bold"> Step 1 </h1>
<p class="text-center">Visit the Excelsior Pass web portal at <a href="https://epass.ny.gov/" aria-label="Excelsior Pass Web Portal" class=""> epass.ny.gov </a> </p>
</article>



</section>