<style>
div{
  height: 75px;
}
p{
  margin: 0;
}
</style>
{% for item in space %}
<div class="{{ item.className}}">
<p>Class: {{ item.className }}</p>
<p>Letter Spacing {{ item.space }} </p>
</div>
{% endfor %}
