@import "../../01-Base/breakpoints/breakpoints";

.a-file.-icon {
  width: 15%;
}

.a-file.-icon,
.m-document__download.-link {
  justify-content: center;
  flex-flow: column;
  display: flex;
  border-bottom: 1px solid #d0d0ce;
  border-left: 1px solid #d0d0ce;
  border-right: 1px solid #d0d0ce;
}

.m-document__download.-link {
  color: #154973;
  padding: 20px 10px;
  text-align: center;
  background-color: #ededed;
  text-decoration: none;
  min-width: 95px;

  @include breakpoint(tablet) {
    width: 25%;
  }

  .m-document__download__text {
    text-transform: uppercase;
    color: black;
    font-size: 13px;
    font-family: "Proxima Nova";
    font-weight: bold;
    margin-top: 9px;
    letter-spacing: 1px;
  }

  .-icon {
    font-size: 18px;
  }
}

.m-document__titles {
  padding: 20px;
  border-bottom: 1px solid #d0d0ce;
  display: flex;
  flex-flow: column;
  justify-content: center;

  @include breakpoint(tablet) {
    width: 60%;
  }

  .englishTitle {
    margin-bottom: 5px;

    a {
      font-family: "Proxima Nova";
      font-weight: 600;
      color: #007AC2;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 18px;
      overflow-wrap: break-word;
    }
  }

  .description {
    p:first-of-type {
      margin-top: 11px;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.m-document {
  display: flex;

  .a-file.-icon {
    display: none;
  }

  .m-document__download {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 140px;

    > span {
      margin-right: 10px;
    }
  }

  @include breakpoint(smallMobileOnly) {
    flex-direction: column;
    border-top: 1px solid #d0d0ce;

    .m-document__download.-link,
    .m-document__titles {
      width: 100%;
      border-left: 1px solid #d0d0ce;
      border-right: 1px solid #d0d0ce;
      border-top: none;
      border-bottom: none;
    }

    .m-document__download.-link {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 20px;

      > span {
        margin-right: 8px;
      }
    }

    .m-document__download.-link,
    .m-document__titles {
      border-top: none;
    }

    &:last-of-type {
      border-bottom: 1px solid #d0d0ce;
    }
  }

  @include breakpoint(largeMobile) {
    justify-content: center;

    .m-document__titles {
      border-left: 1px solid #d0d0ce;
      flex: 4;
    }
    .m-document__download.-link {
      flex: 3;
    }

    .a-file.-icon,
    .m-document__download.-link,
    .m-document__titles {
      border-top: 1px solid #d0d0ce;
    }

    // Only first document should have a top border
    .m-document + & {
      .a-file.-icon,
      .m-document__download.-link,
      .m-document__titles {
        border-top: none;
      }
    }
  }

  @include breakpoint(tablet) {
    .a-file.-icon {
      display: flex;
    }

    .m-document__titles {
      border-left: none;
      flex: none;
    }

    .m-document__download {
      flex-direction: column;
      flex: none;

      > span {
        margin-bottom: 5%;
        margin-right: 0;
      }
    }
  }

  .a-file.-icon {
    color: #154973;
  }
}
