@import "../../01-Base/breakpoints/breakpoints.scss";
@import "../../01-Base/typography/weight/weight.scss";

.o-connectFooterMenu {
  background-color: #EDEDED;
  padding: 24px;
  &__title {
    text-align: center;
    @extend .text-bold;
    width: 100%;
    font-size: 1em;
    margin: 15px 0 25px 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    &:before {
      right: 1.5em;
      margin-left: -50%;
    }
    &:after {
      left: 1.5em;
      margin-right: -50%;
    }
    &:before,
    &:after {
      background-color: #000;
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 25%;
      top: -1px;
      @include breakpoint(tablet) {
        width: 35%;
      }
      @include breakpoint(laptop) {
        width: 41%;
      }
      @include breakpoint(desktop) {
        width: 42%;
      }
    }
  }

  &__socials {
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
    @include breakpoint(laptop) {
      text-align: center;
      padding: 0 6%;
    }
  }

  &__socialLink {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    width: 9em;
    vertical-align: top;
    text-align: left;
    @include breakpoint(laptop) {
      margin-left: 2%;
    }
  }

  .m-socialLink__link {
    display: block;
    text-decoration: none;
  }

  .m-socialLink__linkText,
  .m-socialLink__icon {
    font-size: 13px;
  }
}

.o-connect__wrapper {
  max-width: 425px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(largeMobile) {
    max-width: 768px;
  }

  @include breakpoint(tablet) {
    max-width: 1024px;
  }

  h2,
  h3 {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  h2 {
    font-size: 13px;
    text-transform: uppercase;

    @include breakpoint(tablet) {
      font-size: 16px;
    }
  }

  h3 {
    font-size: 32px;

    @include breakpoint(tablet) {
      font-size: 40px;
    }

    @include breakpoint(desktop) {
      font-size: 48px;
    }
  }
}

.o-connect__header {
  margin-bottom: 40px;

  @include breakpoint(tablet) {
    margin-bottom: 45px;
  }

}

.o-connect__socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.o-connect__socialLink {
  min-width: 45%;
  justify-content: center;
  display: flex;
  padding: 15px 0;

  @include breakpoint(largeMobile) {
    min-width: 30%;
  }

  @include breakpoint(tablet) {
    min-width: 25%;
  }

  @include breakpoint(desktop) {
    min-width: 20%;
  }
}