.bg-black, .o-hero.-landingPage .o-hero__liveVideo.-bg {
	background-color: #000000;
}

.bg-primary-blue, .a-audio-photo__link {
	background-color: #154973;
}

.bg-primary-darkblue {
	background-color: #154973;
}

.bg-primary-light-blue, .a-modal__link {
	background-color: #457AA5;
}

.bg-primary-blue-accent {
	background-color: #154973;
}

.bg-primary-links {
	background-color: #007AC2;
}

.bg-primary-gold {
	background-color: #FACE00;
}

.bg-primary-gold-accent {
	background-color: #FACE00;
}

.bg-primary-gold-light {
	background-color: #FFE396;
}

.bg-primary-gray {
	background-color: #D0D0CE;
}

.bg-card-cta {
	background-color: #EDEDED;
}

.bg-logo {
	background-color: #FCFCFC;
}

.bg-card-outline {
	background-color: #D0D0CE;
}

.bg-alerts {
	background-color: #B52C2C;
}

.bg-alerts-rollover {
	background-color: #8C1C1C;
}

.bg-dark {
	background-color: #242424;
}

.bg-gray {
	background-color: #62666A;
}

.bg-white {
	background-color: #FFFFFF;
}

.text-primary-blue {
	color: #154973;
}

.text-primary-blue-accent {
	color: #154973;
}

.text-primary-gold {
	color: #FACE00;
}

.text-primary-gold-accent {
	color: #FACE00;
}

.text-primary-gold-light {
	color: #FACE00;
}

.text-primary-light-blue {
	color: #457AA5;
}

.text-primary-light-blue-accent {
	color: #457AA5;
}

.text-primary-links {
	color: #007AC2;
}

.text-links {
	color: #007AC2;
}

.text-footer-links {
	color: #154973;
}

.text-alerts {
	color: #B52C2C;
}

.text-alerts-rollover {
	color: #8C1C1C;
}

.text-dark {
	color: #242424;
}

.text-black, .a-buttons__highlight, .a-highlight__title {
	color: #000000;
}

.text-white, .o-hero.-landingPage .o-hero__closeVideo, .a-buttons__highlight:hover, .a-quickCard__title, .a-government__name {
	color: #ffffff;
}

.text-gray {
	color: #62666A;
}

.text-proxima, .a-card__subHeadline {
	font-family: "Proxima Nova", sans-serif;
}

.text-d-sari {
	font-family: "D Sari", sans-serif;
}

.text-oswald, .a-card__title, .a-quickCard__title, .a-highlight__title, .a-government__title {
	font-family: "Oswald", sans-serif;
}

.text-semi-bold, .a-date-13-semiBold, .a-card__label, .a-highlight__subtitle {
	font-weight: 600;
}

.text-bold, .a-buttons__cardCat, .a-buttons__highlight, .a-buttons__stats, .a-buttons__statsLM, .a-card__title, .a-highlight__title, .a-wysiwyg__headline, .a-plan-date__link, .a-modal__link, .a-stats__stats h3 {
	font-weight: bold;
}

.text-extra-bold, .a-card__subHeadline, .a-wysiwyg__title, .a-date-42-extraBold {
	font-weight: 800;
}

.text-regular {
	font-weight: 400;
}

.text-light, .a-stats__stats h4 {
	font-weight: 200;
}

.text-1-space, .a-government__title {
	letter-spacing: 1px;
}

.text-2-space, .a-buttons__highlight {
	letter-spacing: 2px;
}

.text-4-space {
	letter-spacing: 4px;
}

.m-hero__meta.-landingHero {
	padding: 0px;
}

@media (min-width: 768px) {
	.m-hero__meta.-landingHero {
		padding: 0px;
	}
}

@media (min-width: 1280px) {
	.m-hero__meta.-landingHero {
		padding: 0px;
		width: 100%;
	}
}

.m-hero__meta.-landingHero .m-nygov__hero.-viewHeader {
	display: none;
}

@media (min-width: 1280px) {
	.m-hero__meta.-landingHero .m-nygov__hero.-viewHeader {
		display: block;
		position: absolute;
		width: 100%;
		height: 30px;
		background-color: rgba(36, 56, 126, 0.3);
		z-index: 5;
	}
}

.m-hero__meta.-landingHero .m-landingHero__contentWrapper {
	background: #154973;
	opacity: 0.9;
	border-radius: 30px;
	padding: 40px 20px;
}

@media (min-width: 768px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper {
		padding: 45px 35px;
	}
}

@media (min-width: 1280px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper {
		margin-top: 0px;
		margin-left: 60px;
		width: 580px;
		padding: 45px 45px;
	}

	.m-hero__meta.-landingHero .m-landingHero__contentWrapper.-left {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__liveButton {
	margin-bottom: 15px;
}

@media (min-width: 1280px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__liveButton {
		margin-bottom: 10px;
	}
}

.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__title {
	margin-bottom: 30px;
}

@media (min-width: 1280px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__title {
		padding-top: 0px;
	}
}

.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__title h2 {
	margin: 0px;
}

.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__title .a-hero__titleLanding {
	font-size: 28px;
	line-height: 1.15em;
}

@media (min-width: 768px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__title .a-hero__titleLanding {
		font-size: 32px;
		line-height: 1.15em;
	}
}

@media (min-width: 1280px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__title .a-hero__titleLanding {
		font-size: 36px;
		line-height: 1.15em;
	}
}

.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__date {
	margin-bottom: 15px;
}

.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__description {
	margin-bottom: 35px;
}

.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__description .a-hero__description.-text {
	font-size: 16px;
	line-height: 22px;
}

@media (min-width: 1280px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__content .m-landingHero__description .a-hero__description.-text {
		font-size: 18px;
		line-height: 25px;
	}
}

@media (min-width: 425px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__buttons {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}
}

@media (min-width: 768px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__buttons {
		max-width: 100%;
	}
}

.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__buttons span::after {
	content: "\F30B" !important;
	font-family: "Font Awesome 5 Free" !important;
	font-weight: 900 !important;
}

.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__buttons .m-landingHero__buttonsRow {
	margin-right: 45px;
	display: inline-flex;
	align-items: center;
}

@media (max-width: 590px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper .m-landingHero__buttons .m-landingHero__buttonsRow:nth-child(2) {
		margin-top: 35px;
	}
}

@media (min-width: 1280px) {
	.m-hero__meta.-landingHero .m-landingHero__contentWrapper.-right {
		margin-right: 60px;
		margin-left: 0;
		margin-top: 0px;
		width: 580px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}

	.m-hero__meta.-landingHero .m-landingHero__contentWrapper.-bottom {
		display: flex;
		width: auto;
		max-width: 1160px;
		margin: -100px 60px 0px 60px;
		opacity: 1;
	}

	.m-hero__meta.-landingHero .m-landingHero__contentWrapper.-bottom .m-landingHero__content {
		margin-top: 0;
		width: auto;
		align-self: flex-end;
	}

	.m-hero__meta.-landingHero .m-landingHero__contentWrapper.-bottom .m-landingHero__content .m-landingHero__title {
		margin-bottom: 25px;
		padding-top: 0px;
	}

	.m-hero__meta.-landingHero .m-landingHero__contentWrapper.-bottom .m-landingHero__description {
		margin-bottom: 50px;
	}

	.m-hero__meta.-landingHero .m-landingHero__contentWrapper.-bottom .m-landingHero__buttons {
		align-self: flex-end;
		display: flex;
		flex-flow: column;
		margin: 0 60px 50px 60px;
		max-width: 200px;
	}

	.m-hero__meta.-landingHero .m-landingHero__contentWrapper.-bottom .m-landingHero__buttons .a-hero__btn.-link:nth-child(2) {
		margin-top: 20px;
	}
}

.o-hero.-landingPage {
	position: relative;
}

.o-hero.-landingPage .o-hero__wrapper {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 256px;
}

@media (min-width: 768px) {
	.o-hero.-landingPage .o-hero__wrapper {
		min-height: 307px;
	}
}

@media (min-width: 1280px) {
	.o-hero.-landingPage .o-hero__wrapper {
		min-height: 512px;
	}
}

@media (min-width: 1280px) {
	.o-hero.-landingPage .m-hero__meta.-landingHero {
		background: none;
		position: absolute;
		top: 0;
		min-height: 512px;
	}

	.o-hero.-landingPage .m-hero__meta.-landingHero.-bottom {
		position: initial;
		display: flex;
		justify-content: center;
		min-height: 0px;
	}
}

.o-hero.-landingPage .o-hero__liveVideo.-iframe {
	position: absolute;
	top: 0;
	z-index: 101;
	left: 0;
	min-height: 250px;
	border: 0;
	width: 100%;
}

@media (min-width: 768px) {
	.o-hero.-landingPage .o-hero__liveVideo.-iframe {
		height: 307px;
		left: 20%;
		width: 60%;
	}
}

@media (min-width: 1280px) {
	.o-hero.-landingPage .o-hero__liveVideo.-iframe {
		height: 512px;
		height: 99%;
	}
}

.o-hero.-landingPage .o-hero__liveVideo.-bg {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 100;
	min-height: 256px;
}

@media (min-width: 768px) {
	.o-hero.-landingPage .o-hero__liveVideo.-bg {
		height: 307px;
	}
}

@media (min-width: 1280px) {
	.o-hero.-landingPage .o-hero__liveVideo.-bg {
		height: 512px;
	}
}

.o-hero.-landingPage .o-hero__closeVideo {
	font-size: 45px;
	position: absolute;
	top: 1%;
	z-index: 103;
	right: 1%;
	transition: 150ms all ease;
}

.o-hero.-landingPage .o-hero__closeVideo:hover {
	cursor: pointer;
	color: lightgray;
}

.a-btn__paginate.-large {
	padding: 14px 21px;
	font-size: 28px;
}

.a-btn__paginate {
	font-size: 16px;
	text-align: center;
	border-radius: 50%;
	border-color: #007AC2;
	border-width: 0;
	background-color: #007AC2;
	color: #ffffff;
	transition: background-color 150ms ease-in-out;
	padding: 9px 13px;
	display: inline-flex;
}

.a-btn__paginate.-next::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f054";
}

.a-btn__paginate.-previous::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f053";
}

.a-btn__paginate.-disabled {
	background-color: #D0D0CE;
}

.a-btn__paginate.-disabled:focus {
	border: none;
	outline: 0;
}

.a-btn__paginate.-disabled:hover {
	cursor: default;
	background-color: #D0D0CE;
}

.a-btn__paginate:focus {
	border-radius: 50%;
	border-width: 1px;
	border-color: #005a8f;
	outline: 0;
}

.a-btn__paginate:active {
	background-color: #004a76;
}

.a-btn__paginate:hover {
	cursor: pointer;
	background-color: #005a8f;
}

.a-btn__page {
	border: 0px;
	background-color: transparent;
	padding: 5px;
	margin: 0;
	font-size: 16px;
}

.a-btn__page.active {
	color: #007AC2;
	border-bottom: 1px solid #007AC2;
}

.a-btn__page:hover {
	cursor: pointer;
	color: #007AC2;
	border-bottom: 1px solid #007AC2;
}

/* End: Filter related scss */
.a-hero__btn.-link {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-flow: column;
	height: 55px;
	width: 200px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	cursor: pointer;
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0.7);
	background-color: transparent;
	text-align: center;
	white-space: nowrap;
	z-index: 1;
	position: relative;
	transition: 150ms ease-in-out all;
}

.a-hero__btn.-link.-watchLive, .a-hero__btn.-link.-archive {
	justify-content: center;
	flex-flow: row;
	flex-wrap: wrap;
	background-color: transparent;
}

.a-hero__btn.-link.-watchLive::before, .a-hero__btn.-link.-archive::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f04b";
	font-size: 10px;
	margin-right: 10px;
}

.a-hero__btn.-link:hover {
	border: 1px solid #fff;
	background-color: rgba(0, 0, 0, 0.8);
}

.a-hero__btn.-linkLanding {
	display: flex;
	align-content: center;
	justify-content: end;
	flex-flow: column;
	font-family: "Proxima Nova", sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid #FACE00;
	padding-bottom: 0px;
	margin-right: 5px;
	letter-spacing: 1px;
	color: #FACE00;
	cursor: pointer;
	white-space: nowrap;
	z-index: 1;
	position: relative;
}

.a-hero__btn.-linkLanding:hover {
	border-bottom: 3px solid #FACE00;
	margin-bottom: -2px;
}

.a-hero__btn.-live {
	text-transform: uppercase;
	font-family: "Oswald";
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	line-height: 15px;
	letter-spacing: 2px;
	background: #b52c2c;
	color: #fff;
	width: 85px;
	height: 35px;
	cursor: pointer;
	border: none;
}

.a-btn__link,
.a-btn__link-form-embed {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	line-height: 15px;
	text-align: center;
	height: 50px;
	cursor: pointer;
	background: transparent;
	width: 100%;
	font-size: 13px;
	font-family: "Proxima Nova";
	font-weight: 600;
	border: 1px solid;
	border-color: black;
	text-decoration: none;
	transition: 150ms ease-in-out;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 0 20px;
}

@media (min-width: 768px) {
	.a-btn__link,
    .a-btn__link-form-embed {
		width: 31%;
	}
}

.a-btn__link:hover,
  .a-btn__link-form-embed:hover {
	background-color: #FACE00;
}

.a-btn__link:visited,
  .a-btn__link-form-embed:visited {
	color: black;
}

.a-buttons__cardCat {
	position: absolute;
	background-color: #FACE00;
	display: inline-block;
	font-size: 0.8em;
	font-family: "Oswald", sans-serif;
	letter-spacing: 2px;
	padding: 6px 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	z-index: 2;
	line-height: 1.5;
}

.a-buttons__cardCat:hover {
	background-color: #FFE396;
}

.a-buttons__highlight {
	border: 1px solid #000000;
	background-color: transparent;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
	height: 60px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-transform: uppercase;
}

.a-buttons__highlight:hover {
	background-color: #000000;
	border: none;
}

.a-btn {
	margin-top: 24px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: bold;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #154973;
	padding: 16px 24px;
	text-align: center;
	color: #fff;
	border: none;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	width: 200px;
}

.a-paginate__btn {
	box-sizing: border-box;
	min-width: 1.5em;
	margin-left: 2px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	width: 144px;
	text-transform: uppercase;
	display: inline-block;
	padding: 16px 15px;
	font-family: arial;
	text-decoration: none;
	vertical-align: middle;
	border: 1px solid #154973;
	background: #154973;
	color: #ffffff;
}

.a-paginate__btn:active {
	box-shadow: none;
	background: #007AC2;
}

@media (max-width: 768px) {
	.a-paginate__btn {
		width: auto;
	}
}

.a-paginate__btn .a-paginate__btn.-label {
	display: inline;
}

@media (max-width: 768px) {
	.a-paginate__btn .a-paginate__btn.-label {
		display: none;
	}
}

.a-buttons__stats {
	position: absolute;
	left: 0;
	top: 0;
	color: #ffffff;
	background-color: #154973;
	font-family: "Oswald", sans-serif;
	padding: 6px 20px;
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	z-index: 2;
	line-height: 1.5;
}

.a-buttons__stats:hover {
	background-color: #000;
}

.a-buttons__statsLM {
	font-family: "Proxima Nova", sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	vertical-align: middle;
	padding: 0 20px;
	color: #fff;
	cursor: pointer;
	border: 1px solid;
	border-color: #fff;
	background-color: transparent;
	text-align: center;
	white-space: nowrap;
	height: 48px;
	line-height: 48px;
	display: inline-block;
}

.a-buttons__statsLM:hover {
	background-color: #fff;
	color: #000;
}

.a-service__menuItem {
	height: 50px;
	max-width: 190px;
	min-width: 130px;
	width: 100%;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	padding: 0 15px;
	display: flex;
	align-items: center;
}

.nygov-back-to-top {
	padding: 0.7em;
	background-color: #888B8B;
	position: fixed;
	z-index: 999;
	bottom: 2em;
	right: 2em;
	text-align: right;
	border: 2px solid rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

.nygov-back-to-top .fa {
	color: #fff;
	font-size: 1.5em;
}

.nygov-back-to-top-hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity 0.3s linear;
}

.nygov-back-to-top-show {
	visibility: visible;
	opacity: 0.7;
	transition: visibility 0s, opacity 0.3s linear;
}

.a-title {
	font-size: 13px;
	line-height: 15px;
}

@media (min-width: 768px) {
	.a-title {
		font-size: 16px;
		line-height: 18px;
	}
}

.a-frame__title {
	color: #154973;
	font-family: "Proxima Nova";
	font-weight: 800;
	font-size: 36px;
	line-height: 42px;
}

.a-headline {
	font-size: 34px;
	line-height: 36px;
}

@media (min-width: 768px) {
	.a-headline {
		font-size: 40px;
		line-height: 44px;
	}
}

@media (min-width: 1024px) {
	.a-headline {
		font-size: 48px;
		line-height: 48px;
	}
}

.center-layout .a-headline {
	font-weight: 900;
}

.a-hero__emergency.-title h1 {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 800;
	font-size: 36px;
}

.a-hero__title {
	font-size: 48px;
	line-height: 48px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 800;
}

.a-hero__titleLanding {
	font-size: 36px;
	line-height: 1.15em;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 800;
}

.a-buttons__title {
	font-family: "Oswald";
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.a-card__title {
	color: #154973;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	display: inline-block;
}

.a-quickCard__title {
	font-size: 16px;
	margin: 0;
}

.a-card__subHeadline {
	margin: 0 0 40px;
}

.a-highlight__title {
	font-size: 14px;
}

.a-government__title {
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.a-contact__title {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 900;
	color: #154973;
	margin-bottom: 35px;
	font-size: 30px;
	line-height: 34px;
}

@media (min-width: 768px) {
	.a-contact__title {
		font-size: 36px;
		line-height: 38px;
	}
}

.a-contact__emailTitle,
.a-contact__mailTitle,
.a-contact__phoneTitle {
	font-family: "Proxima Nova", sans-serif;
	font-weight: bold;
	margin: 0 0 25px;
	font-size: 16px;
}

.t-section__container.-navigator .a-contact__emailTitle.a-title, .t-section__container.-navigator
  .a-contact__mailTitle.a-title, .t-section__container.-navigator
  .a-contact__phoneTitle.a-title {
	display: block;
}

@media (min-width: 768px) {
	.a-contact__emailTitle,
    .a-contact__mailTitle,
    .a-contact__phoneTitle {
		font-size: 18px;
	}
}

.a-contact__emailTitle:before,
  .a-contact__mailTitle:before,
  .a-contact__phoneTitle:before {
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #007AC2;
	margin-right: 4px;
}

.a-contact__phoneTitle:before {
	content: "\f879";
}

.a-contact__emailTitle:before {
	content: "\f0e0";
}

.a-contact__mailTitle:before {
	content: "\f658";
}

.a-buttons__headline {
	font-family: "Proxima Nova";
	font-size: 40px;
	font-weight: bold;
	color: #154973;
}

.a-sidebar__title {
	color: #FACE00;
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.a-sidebar__subTitle {
	color: #FACE00;
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.a-nygov__hero.-slogan {
	display: block;
	color: #fff;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 800;
	font-size: 13px;
	line-height: 31px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0;
	padding-left: 60px;
	width: 100%;
}

.a-wysiwyg__title {
	font-weight: 900;
	font-size: 28px;
	line-height: 27px;
}

.a-wysiwyg__title {
	font-size: 28px;
	line-height: 27px;
	margin-bottom: 20px;
	color: #154973;
}

@media (min-width: 1024px) {
	.a-wysiwyg__title {
		font-size: 30px;
		line-height: 42px;
	}
}

.a-wysiwyg__headline {
	font-size: 16px;
	line-height: 18px;
}

@media (min-width: 1024px) {
	.a-wysiwyg__headline {
		font-size: 18px;
		line-height: 27px;
	}
}

.a-serviceMenu__title {
	font-size: 24px;
	display: inline;
}

.-servicePageTitle {
	display: none;
}

.a-hero__date {
	font-family: "Proxima Nova", sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.a-hero__dateLanding {
	font-family: "Proxima Nova", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.a-date-14 {
	font-size: 14px;
}

.a-date-42-extraBold {
	font-size: 42px;
}

.a-date-13-semiBold {
	font-size: 13px;
}

.a-date-13 {
	font-size: 13px;
}

.a-label__link {
	text-decoration: none;
}

.a-hero__link {
	color: #FACE00;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	text-decoration: none;
	font-family: "Oswald";
	font-weight: bold;
}

.a-hero__link:visited {
	color: #FACE00;
}

.a-hero__link:hover {
	color: #FFE396;
	text-decoration: none;
}

a {
	font-family: "Proxima Nova";
	font-weight: normal;
}

.a-alert__link {
	text-decoration: none;
	font-weight: bold;
	background: transparent;
}

.a-card__label {
	font-family: "Proxima Nova", sans-serif;
	font-size: 20px;
	color: #007AC2;
	margin: 20px 0;
	line-height: 1.2em;
	display: block;
	text-decoration: none;
}

.a-card__label:hover {
	text-decoration: underline;
}

.a-government__name {
	text-decoration: none;
}

.a-resultsCard__website.-link a {
	text-decoration: none;
	color: #007AC2;
	background: transparent;
}

.a-resultsCard__website.-link a:hover {
	text-decoration: underline;
}

.a-facebook__icon-link {
	color: black;
	text-decoration: none;
	font-size: 30px;
}

.a-contact__social-media-link {
	color: black;
	text-decoration: none;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 14px;
}

.a-audio-photo__link {
	text-transform: uppercase;
	color: #fff;
	padding: 20px 20px;
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 2px;
	border: 1px solid #154973;
	text-decoration: none;
	display: inline-block;
	margin: 20px 10px;
	text-align: center;
	width: 150px;
}

.a-audio-photo__link:hover {
	background-color: #000;
}

@media (min-width: 425px) {
	.a-audio-photo__link {
		width: 250px;
		padding: 22px 20px;
	}
}

.a-plan-date__link {
	display: flex;
	align-items: center;
	height: 48px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	vertical-align: middle;
	padding: 0 20px;
	cursor: pointer;
	border: 1px solid;
	border-color: #fff;
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	line-height: 15px;
}

.a-plan-date__link:hover {
	color: #000;
	background-color: #fff;
}

.a-modal__link {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff !important;
	text-decoration: none;
	padding: 25px;
	font-size: 13px;
	line-height: 15px;
	display: inline-block;
	outline: none;
	text-align: center;
	width: 100%;
}

.a-modal__link:hover {
	background-color: #000;
}

@media (min-width: 768px) {
	.a-modal__link {
		padding: 20px;
		width: auto;
	}
}

.a-text__html img {
	max-width: 100%;
	height: auto;
}

.a-card__description {
	margin: 0;
	line-height: 1.375em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.a-card__links {
	font-size: 13px;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 1px;
	margin-right: 10px;
	color: #000000;
	font-weight: bold;
}

.a-highlight__subtitle {
	font-size: 20px;
}

.a-hero__emergency.-text {
	font-weight: bold;
	color: #b52c2c;
}

.a-hero__agency.-text {
	font-size: 13px;
}

.a-hero__description.-text {
	margin: 0;
	font-size: 18px;
	color: #ffffff;
	font-family: "Proxima Nova", sans-serif;
}

.a-results__totalRecord.-number {
	color: #FACE00;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 800;
	font-size: 42px;
}

.a-results__totalRecord.-label {
	font-family: "Proxima Nova", sans-serif;
	font-weight: normal;
	font-size: 19px;
}

.a-resultsCard__category {
	font-family: "Proxima Nova", sans-serif;
	font-weight: normal;
	font-size: 14px;
}

.a-resultsCard__description {
	font-family: "Proxima Nova", sans-serif;
	font-weight: normal;
}

.a-resultsCard__footer.-label {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 800;
	font-size: 13px;
	text-transform: uppercase;
}

.a-stats__description {
	font-family: "Proxima Nova", sans-serif;
	text-align: left;
	color: #ffffff;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 16px;
	height: 7.8em;
}

.a-stats__description p {
	margin: 0;
	overflow: hidden;
}

.a-stats__stats {
	color: #ffffff;
	text-align: center;
}

.a-stats__stats h3 {
	font-family: "Proxima Nova", sans-serif;
	margin-bottom: 0;
	font-size: 3.9em;
}

.a-stats__stats h3 small {
	font-family: "Proxima Nova", sans-serif;
	font-size: 20px;
}

.a-stats__stats h4 {
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	margin: 0 0 40px;
	text-transform: uppercase;
}

.a-photoGallery__description,
.a-videoEmbed__description {
	font-family: "Proxima Nova", sans-serif;
	font-size: 18px;
	line-height: 27px;
}

.a-documents__description {
	font-family: "Proxima Nova", sans-serif;
	font-size: 16px;
	line-height: 22px;
	margin: 16px 0;
}

a {
	font-family: "Proxima Nova";
	font-weight: normal;
}