{# Background Image #}
{% if section.previewImage.entity.bgImg.derivative.url is not empty %}
	{% set bg_image = section.previewImage.entity.bgImg.derivative.url %}
{% endif %}

{% set classes = [
  'o-milestones',
  section.color ? 'bg-primary-' ~ section.color: '',
  section.previewImage ? 'has-bg-image': 'no-bg-image',
  section.whatsnext ? 'whatsnext': 'latest'
] %}

<div class="{{classes|join(' ')}}">
  <div class= "o-milestones__content-wrapper">
    <div class="o-milestones__flex">
      <div class="o-milestones__title-wrapper">

        {% if section.whatsnext is null %}
          {% set latest = section.milestoneParagraphs.0 %}
          {% set milestones = section.milestoneParagraphs %}
        {% else %}
          {% set milestones = section.milestoneParagraphs %}
        {% endif %}

        {% if section.title %}
          {% include '@storybook/02-Atoms/title/title.twig' with { title: section.title, variant: 'title', classNames: "a-milestones__title a-milestones__in-progress-title"} %}
        {% endif %}

        {% if section.headline %}
          {% include '@storybook/02-Atoms/title/title.twig' with { headline: section.headline, variant: 'headline', classNames: "a-milestones__headline a-milestones__in-progress-headline"} %}
        {% endif %}

        <div class="o-milestones__flex-inner">
          <div class="o-milestones__list in-progress">

            {% for item in milestones %}
              {% include "@storybook/03-Molecules/milestone/milestone.twig"  with {
                name: item.paragraph.name,
                date: item.paragraph.date.value,
              } %}
            {% endfor %}
          </div>
          {% if section.whatsnext %}
            <div class="o-milestones__whatsnext" {% if bg_image %} style="background: url({{ bg_image|raw }}) no-repeat center center; background-size: cover;" {% endif %}>
              <div class="o-milestones__color-wrap">
                {% include '@storybook/02-Atoms/title/title.twig' with { title: "What's Next", variant: 'title', classNames: "a-milestones__title"} %}
                {% include '@storybook/02-Atoms/text/text.twig' with { text: section.whatsnext, variant: "string", classNames: "a-milestones__whatsnext"} %}
              </div>
            </div>
          {% else %}
            <div class="o-milestones__latest " {% if bg_image %} style="background: url({{ bg_image|raw }}) no-repeat center center; background-size: cover;" {% endif %}>
              <div class="o-milestones__color-wrap">
                {% include '@storybook/02-Atoms/title/title.twig' with { title: "Latest Accomplishment", variant: 'title', classNames: "a-milestones__title"} %}
                {% include "@storybook/03-Molecules/milestone/milestone.twig"  with {
                  name: latest.paragraph.name,
                  date: latest.paragraph.date.value,
                  type: "latest",
                } %}
                <div class="latest-checkmark">
                  {% include "@storybook/02-Atoms/icons/icons.twig"  with { icon: "check" } %}
                </div>
              </div>
            </div>
          {% endif %}
          {% if section.seemore %}
            {% if section.seemore.url %}
              <div class="o-milestones__seemore bg-primary-blue">
                {% include '@storybook/02-Atoms/buttons/buttons.twig' with { title: section.seemore.title, url: section.seemore.url.path, variant: "a-hero__btn -link" } %}
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>


  </div>
</div>
