@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/backgrounds/colors/colors.scss";
@import '../../01-Base/typography/weight/weight.scss';
@import '../../01-Base/icons/icons.scss';

.o-social-media-share {
  margin-bottom: 30px;
  &__content-wrap {
    display: flex;
    justify-content: center;
  }
  &__share-text {
    background-image: url("../../../assets/ShareArrow_Gray.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 13px 43px 13px 35px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    margin: 0 -12px 0 0;
    line-height: 22px;
    @extend .text-bold;
  }

  &__twitter,
  &__facebook,
  &__linkedin {
    background-image: url("../../../assets/ShareArrow_Blue.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    padding: 24px 45px;
    margin: 0 -16px 0 -15px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:before {
      width: 20px;
      text-align: center;
    }
  }

  &__twitter {
    @extend .icon-twitter;
    z-index: 5;
  }

  &__facebook {
    @extend .icon-facebook;
    z-index: 4;
  }

  &__linkedin {
    @extend .icon-linkedin;
    z-index: 3;
  }

}
