.p-service__wrapper {
  width: 80%;
  max-width: 780px;
  margin: 0 auto 60px;

  &.-navigatorContainer {
    width: inherit;
    max-width: none;
    margin: 0;
  }

}

@media print {
  .m-hero__meta.-serviceHero .m-serviceHero__transactionWrapper .m-serviceHero__transactionContainer {
    a::after {
      content: " ("attr(href) ")";
    }
  }
}
