@import '../../01-Base/typography/weight/weight.scss';

.a-hero__date {
  font-family: "Proxima Nova", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.a_hero__dateLanding {
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.a-date-14 {
  font-size: 14px;
}

.a-date-42-extraBold {
  font-size: 42px;
  @extend .text-extra-bold;
}

.a-date-13-semiBold {
  font-size: 13px;
  @extend .text-semi-bold;
}

.a-date-13 {
  font-size: 13px;
}