<section> 
<h1 class="text-2xl text-center my-4">{{params.heading}}</h1>
<div class="grid grid-cols-1 md:grid-cols-3">
{% for card in params.cards %}
<article class="border-4 {% if card.status == 'ready' %} border-green-600 {% elif card.status == 'in review' %} border-blue-600
{%else%}border-yellow-600{%endif%} rounded-xl m-3 px-4 p-2">
<h2 class="text-base bg-gray-100 border border-black rounded p-1 text-center">{{card.cardtitle}} </h2>
<ul>
<li class="my-2"><strong>Instance ID: </strong>{{card.incident}} </li>
<li class="my-2"><strong>Severity Level: </strong>{{card.severity}} </li>
</ul>
<section>
<h3 class="text-base font-bold">Stories: </h3>
<div class="flex flex-col justify-center">
{% if card.govstory.complete == true %}
<p class="flex p-2 border border-dashed border-gray-500 rounded-xl mx-2 justify-center"><a href="{{card.govstory.link}}">Governance JIRA Story: {{card.govstory.title}}</a> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-check-square-fill mx-2 noscaleicon" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/> </svg></p>
{%elif card.govstory.title == '' %} 
{%else%}
<p class="flex p-2 border border-dashed border-gray-500 rounded-xl mx-2 justify-center"><a href="{{card.govstory.link}}">Governance JIRA Story: {{card.govstory.title}}</a> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-x-square-fill mx-2 noscaleicon" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/></svg></p>
{%endif%}

{% if card.projectstory.complete == true %}
<p class="flex p-2 border border-dashed border-gray-500 rounded-xl mx-2 justify-center"><a href="{{card.projectstory.link}}">DMV JIRA Story: {{card.projectstory.title}}</a> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-check-square-fill mx-2 noscaleicon" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/> </svg></p>
{%elif card.projectstory.title == '' %} 
{%else%}
<p class="flex p-2 border border-dashed border-gray-500 rounded-xl mx-2 justify-center"><a href="{{card.projectstory.link}}">DMV JIRA Story: {{card.projectstory.title}}</a> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-x-square-fill mx-2 noscaleicon" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/></svg></p>
{%endif%}


{% if card.corestory.complete == true %}
<p class="flex p-2 border border-dashed border-gray-500 rounded-xl mx-2 justify-center"><a href="{{card.corestory.link}}"> CORE JIRA Story: {{card.corestory.title}}</a> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-check-square-fill mx-2 noscaleicon" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/> </svg></p>
{%elif card.corestory.title == '' %} 
{%else%}
<p class="flex p-2 border border-dashed border-gray-500 rounded-xl mx-2 justify-center"><a href="{{card.corestory.link}}">CORE JIRA Story: {{card.corestory.title}}</a> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-x-square-fill mx-2 noscaleicon" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/></svg></p>
{%endif%}
</div>
</section>
{% if card.status == 'ready' %} <p class="pt-4">This task is <strong> complete and ready for rescan </strong> at the <a href="{{card.reviewlink}}" aria-label="The development environment for reviewing the issue labeled {{card.cardtitle}}"> Testing Environment </a></p>
{%elif card.status == 'wrong'%} <p class="pt-4"> This story requires discussion because either the current state is valid or the provided remediation is in question.</p>
{%elif card.status == 'in review'%} <p class="pt-4"> This story is <strong>under review </strong> and rescan at the <a href="{{card.reviewlink}}" aria-label="The development environment for reviewing the issue labeled {{card.cardtitle}}"> Testing Environment </a></p>
{%else%} <p class="pt-4 mb-4">This task is not complete and requires more work or is in QA/UAT </p>{%endif%}


</article>
{%endfor%}
</div>
</section>
