@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/backgrounds/colors/colors.scss";
@import "../../01-Base/typography/weight/weight.scss";

.ui-widget-overlay {
  background: #000;
  opacity: 0.8;
}

.t-modal__content {
  display: none;
}

.o-modal {
  //Drupal-only styles for ui dialog & close button
  &.ui-widget-content {
    border: none;
    border-radius: 0;
    a {
      color: initial;
    }
  }

  &.background,
  &.light-blue {
    .ui-dialog-titlebar {
      .ui-icon-closethick {
        background-color: #fff;
        &:hover {
          background-color: #000;
          &:before {
            color: #fff;
          }
        }
        &:before {
          color: #128ec3;
        }
      }
    }
  }

  .ui-dialog-titlebar {
    position: absolute;
    z-index: 1;
    right: 0;
    padding: 0;

    .ui-dialog-title {
      width: 0;
    }

    .ui-dialog-titlebar-close {
      text-indent: initial;
      font-size: 0;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      margin: 0;
      padding: 0;
    }

    .ui-icon-closethick {
      background-image: none;
      text-indent: initial;
      top: 0;
      right: 0;
      left: initial;
      margin-top: 0;
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px;
      @extend .bg-primary-light-blue;
      &:hover {
        background: #000;
      }
      &::before {
        color: #fff;
        content: "\F00D";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        display: block;
        font-size: 26px;
      }
    }
  }

  .t-modal__content {
    padding: 0;
  }

  // Modal content styles (Storybook styles begin)
  &-inner {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @include breakpoint(tablet) {
      max-width: 620px;
    }

    &__title {
      font-family: "Proxima Nova", sans-serif;
      font-weight: 800;
      font-size: 34px;
      line-height: 36px;
      text-transform: uppercase;
      text-align: center;
      padding: 0 30px;
      @extend .text-primary-light-blue;
      @include breakpoint(tablet) {
        font-size: 40px;
        line-height: 42px;
        padding: 0 50px;
      }
    }

    &__lower-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__bg-tint {
      background-color: rgba(18, 142, 195, 0.8);
    }

    .a-text__html {
      font-family: "Proxima Nova", sans-serif;
      @extend .text-semi-bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 17px;
      a {
        outline: none !important;
        color: #128ec3 !important;
      }
    }

    &.modal-type-logo {
      padding-top: 50px;
      .o-modal-inner__logo-image {
        margin-bottom: 10px;
        img {
          max-width: 100%;
        }
      }
      .o-modal-inner__title {
        margin-bottom: 30px;
        margin-top: 20px;
      }
      .o-modal-inner__lower-wrap {
        margin: 0 30px 40px 30px;
        @include breakpoint(tablet) {
          margin: 0 50px 50px 50px;
        }
      }
      .a-text__html {
        margin-bottom: 12px;
        margin-top: -18px;
      }
    }

    &.modal-type-background {
      margin-top: 0;
      .o-modal-inner__logo-image {
        width: 100%;
        position: relative;
      }
      .o-modal-inner__title {
        margin-bottom: 0;
        color: #fff;
        padding: 70px 30px 50px 30px;
        @include breakpoint(tablet) {
          padding: 70px 50px 50px 50px;
        }
      }
      .o-modal-inner__lower-wrap {
        margin: 30px 30px 40px 30px;
        @include breakpoint(tablet) {
          margin: 35px 50px;
        }
      }
    }

    &.modal-type-webform {
      .o-modal-inner__color-option {
        padding-top: 70px;
        width: 100%;
        @include breakpoint(tablet) {
          width: 620px;
        }
        .o-modal-inner__lower-wrap {
          margin: 20px 30px 25px 30px;
          @include breakpoint(tablet) {
            margin: 35px 50px;
          }
        }
        .o-modal-inner__logo-image {
          margin-bottom: 30px;
        }
        &.bg-primary-light-blue {
          .o-modal-inner__title {
            color: #fff;
          }
          .-attachedForm {
            .webform-submission-form {
              .webform-actions,
              .form-actions {
                .button {
                  border: 1px solid #fff;
                  &:hover {
                    border: 1px solid #000;
                  }
                }
              }
            }
          }
        }
        &.bg-primary-gold,
        &.bg-primary-gray {
          .o-modal-inner__title {
            color: #000;
          }
          .-attachedForm {
            .webform-submission-form {
              .webform-actions,
              .form-actions {
                .button {
                  border: 1px solid #000;
                  color: #000 !important;
                  background: transparent;
                  &:hover {
                    background: #000;
                    color: #fff !important;
                  }
                }
              }
            }
          }
        }
      }
      .-attachedForm {
        position: relative;
        max-width: 662px;
        margin: 0 auto;
        display: block;
        .-close-btn {
          position: absolute;
          right: 12px;
          top: -35px;
          font-style: normal;
          font-size: 20px;
          color: #fff;
          cursor: pointer;
        }
        .webform-submission-form {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          @include breakpoint(tablet) {
            flex-direction: row;
          }
          @include breakpoint(laptop) {
            margin: 0;
          }
          .js-form-item {
            margin: 15px 0;
            @include breakpoint(tablet) {
              margin: 15px;
            }
            label {
              display: none;
            }
            input,
            textarea,
            select {
              font-family: "Proxima Nova", sans-serif;
              height: 60px;
              width: 100%;
              padding: 15px;
              border: 1px solid #d0d0ce;
              @include breakpoint(tablet) {
                width: 490px;
                height: 50px;
              }
            }
            input.narrow-input {
              width: 100%;
              @include breakpoint(tablet) {
                width: 230px;
              }
            }
          }
          .webform-actions,
          .form-actions {
            margin: 15px 0;
            @include breakpoint(tablet) {
              margin: 15px;
            }
            .button {
              @extend .bg-primary-light-blue;
              @extend .text-bold;
              text-transform: uppercase;
              letter-spacing: 2px;
              color: #fff !important;
              text-decoration: none;
              padding: 20px;
              font-size: 13px;
              height: 60px;
              width: 100%;
              line-height: 10px;
              display: inline-block;
              outline: none;
              border: none;
              font-family: "Proxima Nova", sans-serif;
              &:hover {
                background-color: #000;
              }
              @include breakpoint(tablet) {
                width: 230px;
                height: 50px;
              }
            }
          }
        }
      }
    }
  }
}
