.nysds-hero-container {
    width: 100%;
    display: flex;
    align-items: end;
    min-height: 400px;

}

.nysds-hero-background-image {
     background-image: url({{params.image}}); /* PUT THE IMAGE URL HERE - replace the current full url with the new one */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.nysds-hero-information {
    width: 100%;
    color: #fff;
    padding: 35px 20px;
    background-color: #154973;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.nysds-hero-title {
    font-size: 28px;
    line-height: 1.15em;
    font-weight: 800;
    margin: 0px;
}

.nysds-hero-headline {
    color:#FACE00;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:bold;
}

.nysds-hero-description {
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0 0;
}

.nysds-hero-links-list {
    list-style-type: "";
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.nysds-hero-links-list li {
    display: flex;
    align-items: center;
    margin-right: 45px;
    margin-top: 20px;
}

 .nysds-hero-link {
    color: #FACE00;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
}

.nysds-hero-link:hover {
    color: #FACE00;
    text-decoration-thickness: 3px;
}

.nysds-hero-link:focus {
    color: #FACE00;
    text-decoration-thickness: 3px;
    outline-offset: 4px;
}

.nysds-hero-link-arrow {
    display: block;
    height: 16px;
    width: 16px;
    margin: 0 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23FACE00' d='M334.5 414c8.8 3.8 19 2 26-4.6l144-136c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22l0 72L32 192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32l288 0 0 72c0 9.6 5.7 18.2 14.5 22z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.nysds-hero-link-arrow:dir(rtl) {
    rotate: 180deg;
}

@media (min-width: 1024px) {
    .nysds-hero-information {
        margin-top: 0px;
        margin: 0px 60px;
        width: 580px;
        padding: 45px 45px;
        border-radius: 30px;
    }

    .nysds-hero-container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nysds-hero-description {
        font-size: 18px;
    }

    .nysds-hero-title {
        font-size: 36px;
    }

    .nysds-hero-information {
        padding: 45px 35px;
    }

    .nysds-hero-links-list {
        flex-direction: row;
    }

    .nysds-hero-links-list li {
        margin-top: 35px;
    }
}
