@import "../../01-Base/breakpoints/breakpoints.scss";

.o-connect__wrapper {
  max-width: 425px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(largeMobile) {
    max-width: 768px;
  }

  @include breakpoint(tablet) {
    max-width: 1024px;
  }

  h2,
  h3 {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  h2 {
    font-size: 13px;
    text-transform: uppercase;

    @include breakpoint(tablet) {
      font-size: 16px;
    }
  }

  h3 {
    font-size: 32px;

    @include breakpoint(tablet) {
      font-size: 40px;
    }

    @include breakpoint(desktop) {
      font-size: 48px;
    }
  }

  @media print{
    a::after{
      content: " (" attr(href) ")";
    }
  }
}

.o-connect__header {
  margin-bottom: 40px;

  @include breakpoint(tablet) {
    margin-bottom: 45px;
  }

}

.o-connect__socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.o-connect__socialLink {
  min-width: 45%;
  justify-content: center;
  display: flex;
  padding: 15px 0;

  @include breakpoint(largeMobile) {
    min-width: 30%;
  }

  @include breakpoint(tablet) {
    min-width: 25%;
  }

  @include breakpoint(desktop) {
    min-width: 20%;
  }
}