<!doctype html>
<html lang="en">
    <!-- If you're reading this: help us obi-wan can-coder, you're our only hope. NYS is committed to Digital Accessibility. Apply today: digital.services@ogs.ny.gov -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{title}}">
    <meta name="generator" content="11ty/eleventy">    
    <meta property="og:url" content="https://{{url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    {% include '_css-link.njk' %}
    {% include '_js-link.njk' %}
    <title>{{ title }}</title>
  </head>
  <body class="">
  <a href="#main-site-content-for-skiplink" class="sr-only focus:not-sr-only nysds-a11y-skiplink">Skip to Main Content</a>
    {% from '../_includes/_components.njk' import global, unav %}
     {% include '_nav-data.njk' %} 
    <main class="nysds-main" id="main-site-content-for-skiplink" >
    {{ content | safe }}
    </main>

    {# {% include 'footer-data.njk' %} #}
  </body>
</html>