<div class="p-notFound">
  <div class="p-notFound__content">
    <div class="p-notFound__logo">
      <img alt="new york state map" src="/profiles/contrib/nygov/themes/custom/nygov-theme/storybook/assets/404map.jpg" />
    </div>
    <h1 class="p-notFound__headline">We're sorry, the page that you are looking for is not available.</h1>
    <div class="p-notFound__body">
      <p>This may be because:</p>
      <ul>
        <li>There is an error in the URL you have entered. Please double check that the URL is spelled correctly.</li>
        <li>The page you are looking for may have been moved or deleted.</li>
      </ul>
      <p>For help finding what you are looking for, search
        <a href="http://search.its.ny.gov/search/search.html">here</a>.
      </p>
    </div>
  </div>
</div>
