---
layout: layout.njk
pagination:
    data: productlist
    size: 1
    alias: product
    addAllPagesToCollections: true
permalink: "green-products/{{ product.type | slug }}/{{ product.category | slug }}/{{ product.manufacturer | slug }}/{{ product.name | slug }}{{ product.approval | slug}}/"
tags: green
---
{% from './_includes/_components.njk' import button,buttonhero,card,hero,breadcrumbs %} 
<ol class="flex flex-row flex-wrap mb-6">
<li class="caret oswald uppercase">{{ product.type }}</li>
<li class="caret oswald uppercase">{{ product.category }}</li>
<li class="caret oswald uppercase">{{ product.manufacturer }}</li>
<li class="caret oswald uppercase">{{ product.name}}</li>
<li class="caret oswald uppercase">{{ product.approval}}</li>
</ol>


<table class="border-2 border-solid border-gray-500 text-left">
<caption class="font-bold"> Product Details </caption>
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Product Type</th>
    <td class="p-3">{{ product.type }}</td>
</tr>
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Product Category</th>
    <td class="p-3">{{ product.category }}</td>
</tr>
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Manufacturer</th>
    <td class="p-3">{{ product.manufacturer }}</td>
</tr>
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Product or Model Name</th>
    <td class="p-3">{{ product.name }}</td>
</tr>
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Green Seal Approval</th>
    <td class="p-3">{{ product.approval }}</td>
</tr>
</table>

<a href="/green-products" class="block w-max p-5 m-8 bg-admin-first no-underline rounded hover:bg-gray-900 hover:text-underline text-white uppercase tracking-widest text-sm font-bold" aria-label="Return to the green products full list"> Return to Green Products List </a> 
