---
layout: layout.njk
pagination:
    data: newproductlist
    size: 1
    alias: products
    addAllPagesToCollections: true
permalink: "green-products/{{ products.category | slug }}/{{ products.subcategory | slug }}/{{ products.manufacturer | slug }}/{{ products.product | slug }}/"
tags: green
---
{% from './_includes/_components.njk' import button,buttonhero,card,hero,breadcrumbs %} 
<ol class="flex flex-row flex-wrap mb-6">
{% if products.category %}
<li class="caret oswald uppercase">{{ products.category }}</li>
{% else %} {% endif %}
{% if products.subcategory %}
<li class="caret oswald uppercase">{{ products.subcategory }}</li>
{% else %} {% endif %}
{% if products.manufacturer %}
<li class="caret oswald uppercase">{{ products.manufacturer }}</li>
{% else %} {% endif %}
{% if products.product %}
<li class="caret oswald uppercase">{{ products.product}}</li>
{% else %} {% endif %}
</ol> 


<table class="border-2 border-solid border-gray-500 text-left">
<caption class="font-bold"> Product Details </caption>
{% if products.category %}
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Product Category</th>
    <td class="p-3">{{ products.category }}</td>
</tr>
{% else %} {% endif %}
{% if products.subcategory %}
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Product Type</th>
    <td class="p-3">{{ products.subcategory }}</td>
</tr>
{% else %} {% endif %}
{% if products.manufacturer %}
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Manufacturer</th>
    <td class="p-3">{{ products.manufacturer }}</td>
</tr>
{% else %} {% endif %}
{% if products.product %}
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Product Name</th>
    <td class="p-3">{{ products.product }}</td>
</tr>
{% else %} {% endif %}
{% if products.standard %}
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Meets Standard</th>
    <td class="p-3">{{ products.standard }}</td>
</tr>
{% else %} {% endif %}
{% if products.fragrance %}
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Fragrance</th>
    <td class="p-3">{{ products.fragrance }}</td>
</tr>
{% else %} {% endif %}
{% if products.dilution %}
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Dilution Ratio</th>
    <td class="p-3">{{ products.dilution }}</td>
</tr>
{% else %} {% endif %}
{% if products.website %}
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Website</th>
    <td class="p-3"><a href="{{products.website}}" aria-label="{{products.manufacturer}}{{ products.product }}"> {{ products.website }} </a></td>
</tr>
{% else %} {% endif %}
{% if products.information %}
<tr class="border border-solid border-gray-500">
    <th scope="row" class="p-3 bg-gray-100">Additional Information</th>
    <td class="p-3">{{ products.information}}</td>
</tr>
{% else %} {% endif %}
</table>

<a href="/green-products" class="block w-max p-5 m-8 bg-admin-first no-underline rounded hover:bg-gray-900 hover:text-underline text-white uppercase tracking-widest text-sm font-bold" aria-label="Return to the green products full list"> Return to Green Products List </a> 

