@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/backgrounds/colors/colors.scss";
@import '../../01-Base/typography/weight/weight.scss';

.o-resources {

  &.red {
    .o-resources__title-wrapper {
      background: #B52C2C;
    }
  }

  &.blue {
    .o-resources__title-wrapper {
      @extend .bg-primary-blue;
    }
  }

  &.gray {
    .o-resources__title-wrapper {
      @extend .bg-primary-gray;
      .o-resources__title {
        color: #000;
      }
    }
  }

  &__title-wrapper {
    height: 50px;
    display: flex;
    align-items: center;
  }

  &__title {
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    @extend .text-semi-bold;
  }

  &__headline {
    margin-bottom: 30px;
  }

  &__content-wrapper {
    padding: 20px;
    border-left: 1px solid #D0D0CE;
    border-right: 1px solid #D0D0CE;
    border-bottom: 1px solid #D0D0CE;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    @include breakpoint(laptop) {
      grid-template-columns: repeat(3, 1fr);
    }

    a {
      @extend .text-primary-links;
      text-decoration: none;
    }
  }

}
