{% set classes = [
  'o-resources',
  section.color ? section.color : '',
] %}

<div class="{{classes|join(' ')}}">
  <div class="o-resources__title-wrapper">
    <div class="o-resources__title">
      {{section.title}}
    </div>
  </div>

  <div class="o-resources__content-wrapper">
    {% if section.headline %}
      <div class="o-resources__headline">
        {{section.headline}}
      </div>
    {% endif %}

    {% if section.links %}
      <div class="o-resources__links">
        {% for item in section.links %}
          <div class="o-resources__link">
            {% include "@storybook/02-Atoms/link/link.twig"  with {
              newTab: item.paragraph.newTab,
              url: item.paragraph.link.url.path,
              content: item.paragraph.link.title,
            } %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
