@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/backgrounds/colors/colors.scss";
@import "../../01-Base/typography/colors/colors.scss";
@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/weight/weight.scss";
@import "../../01-Base/typography/spacing/spacing.scss";

//Keyword Tag
@mixin keyword-tag {
  cursor: pointer;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  position: relative;
  padding: 0 15px;
  font-size: 13px;
  @extend .text-oswald;
  @extend .bg-primary-gold;
  @extend .text-black;
  @extend .text-bold;
  @extend .text-1-space;

  &::after {
    // triangle hover color
    content: "";
    position: absolute;
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    border-left: 17px solid #FACE00;
    height: 0px;
    width: 0px;
    margin-right: -17px;
    right: 0;
  }

  &:hover,
  :active {
    @extend .bg-primary-gold-light;
    @extend .text-black;

    &:after {
      // triangle hover
      border-left: 17px solid #FFE396;
    }
  }
}
//Landing Hero
.m-hero__meta.-landingHero {
  padding: 0px;

  @include breakpoint(tablet) {
    padding: 0px;
  }

  @include breakpoint(desktop) {
    padding: 0px;
    width: 100%;
  }

  .m-nygov__hero.-viewHeader {
    display: none;

    @include breakpoint(desktop) {
      display: block;
      position: absolute;
      width: 100%;
      height: 30px;
      background-color: rgba(36, 56, 126, 0.3);
      z-index: 5;
    }
  }

  .m-landingHero__contentWrapper {
      background: #154973;
			opacity: 0.9;
			border-radius: 30px;
			padding:40px 20px;

      @include breakpoint(tablet){
        padding:45px 35px;
      }
      
    @include breakpoint(desktop) {
      margin-top: 0px;
      margin-left: 60px;
      width: 580px;
      padding:45px 45px;

      &.-left {
        position: absolute;
    		top: 50%;
    		transform: translateY(-50%);
      }
      
    }

    .m-landingHero__content {
      .m-landingHero__liveButton {
        margin-bottom: 15px;

        @include breakpoint(desktop) {
          margin-bottom: 10px;
        }
      }

      .m-landingHero__title {
        margin-bottom: 30px;

        @include breakpoint(desktop) {
          padding-top: 0px;
        }

        & h2 {
          margin: 0px;
        }
        .a-hero__title {
          font-size: 26px;
          line-height: 30px;
          margin: 0;

          @include breakpoint(tablet) {
            font-size: 36px;
            line-height: 38px;
          }

          @include breakpoint(desktop) {
            font-size: 48px;
            line-height: 48px;
          }
        }
      }

      .m-landingHero__date {
        margin-bottom: 15px;
      }

      .m-landingHero__description {
        margin-bottom: 35px;

        .a-hero__description.-text {
          font-size: 16px;
          line-height: 22px;

          @include breakpoint(desktop) {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
    }

    .m-landingHero__buttons {
      @include breakpoint(largeMobile) {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
      }

      @include breakpoint(tablet) {
        max-width: 100%;
      }

      & span::after {
        content: "\F30B" !important;
          font-family: "Font Awesome 5 Free" !important;
          font-weight: 900 !important;
      }
      .m-landingHero__buttonsRow {
        margin-right: 45px;
        display: inline-flex;
        align-items: center;

        @include breakpoint(smallTabletOnly) {
          &:nth-child(2){
            margin-top: 35px;
          }
        }        
      }
    }
  }

  @include breakpoint(desktop) {
    //Right Placement
    .m-landingHero__contentWrapper.-right {
      margin-right: 60px;
      margin-left: 0;
      margin-top: 0px;	
   		width: 580px;
    	position: absolute;
    	top: 50%;
    	transform: translateY(-50%);
			right:0;
    }

    //Bottom Placement
    .m-landingHero__contentWrapper.-bottom {
      display: flex;
      width: auto;
      height: 512px;
      margin-top: 0px;

      .m-landingHero__content {
        margin-top: 0;
        width: auto;
        align-self: flex-end;

        .m-landingHero__title {
          margin-bottom: 25px;
          padding-top: 0px;
        }
      }

      .m-landingHero__description {
        margin-bottom: 50px;
      }

      .m-landingHero__buttons {
        align-self: flex-end;
        display: flex;
        flex-flow: column;
        margin: 0 60px 50px 60px;
        max-width: 200px;

        .a-hero__btn.-link {
          &:nth-child(2) {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

//Article Hero
.m-hero__meta.-articleHero {
  @include breakpoint(tablet) {
    width: 70%;
  }

  .m-articleHero__programReference {
    display: flex;
    font-size: 14px;
    margin-bottom: 25px;
    @extend .text-white;

    @include breakpoint(desktop) {
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
      margin-left: 10px;
      @extend .text-white;
      @extend .text-bold;
    }
  }

  .m-articleHero__dateCreated {
    margin-bottom: 25px;

    @include breakpoint(desktop) {
      margin-bottom: 30px;
    }

    span {
      @extend .text-extra-bold;
    }
  }

  .m-articleHero__title {
    .a-hero__title {
      font-size: 28px;
      line-height: 30px;
      margin: 0px;

      @include breakpoint(tablet) {
        font-size: 36px;
        line-height: 36px;
      }

      @include breakpoint(desktop) {
        font-size: 48px;
        line-height: 48px;
      }
    }
  }

  .a-hero__description.-text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 25px;

    @include breakpoint(tablet) {
      font-size: 24px;
      line-height: 28px;
      margin-top: 35px;
    }

    @include breakpoint(desktop) {
      font-size: 30px;
      line-height: 34px;
    }

    p {
      margin: 0;
    }
  }
}

//Program Hero
.m-hero__meta.-programHero {
  padding: 40px 20px;

  @include breakpoint(tablet) {
    padding: 0;
    width: 550px;
  }

  @include breakpoint(desktop) {
    width: 600px;
  }

  .m-programHero__link {
    margin-bottom: 20px;

    @include breakpoint(tablet) {
      margin-bottom: 25px;
    }

    .a-hero__link {
      font-size: 13px;
      @extend .text-primary-gold;

      @include breakpoint(tablet) {
        font-size: 16px;
      }

      &:hover {
        @extend .text-white;
      }
    }
  }

  .m-programHero__title {
    .a-hero__title {
      font-size: 26px;
      line-height: 28px;
      margin: 0px;

      @include breakpoint(tablet) {
        font-size: 36px;
        line-height: 36px;
      }

      @include breakpoint(desktop) {
        font-size: 48px;
        line-height: 48px;
      }
    }
  }

  .a-hero__description.-text {
    margin-top: 25px;

    @include breakpoint(tablet) {
      margin-top: 30px;
    }

    @include breakpoint(desktop) {
      margin-top: 40px;
    }

    p {
      margin: 0px;

      @include breakpoint(tablet) {
        font-size: 24px;
        line-height: 28px;
      }

      @include breakpoint(desktop) {
        font-size: 30px;
        line-height: 34px;
      }
    }
  }
}

//Emergency Hero
.m-hero__meta.-emergencyHero {
  display: flex;
  flex-flow: column;

  @include breakpoint(tablet) {
    flex-flow: row;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
  }

  //Summary
  .m-emergencyHero__summary {
    display: flex;
    flex-flow: column;
    padding-bottom: 25px;
    border-bottom: 1px solid #D0D0CE;

    @include breakpoint(tablet) {
      width: 65%;
      padding-bottom: 0px;
      border: none;
    }

    .m-emergencyHero__title {
      display: flex;
      margin-bottom: 25px;

      @include breakpoint(tablet) {
        margin-bottom: 35px;
      }

      .a-alert.-icon::before {
        font-size: 24px;
        @extend .text-alerts;
        @extend .text-extra-bold;

        @include breakpoint(tablet) {
          font-size: 26px;
        }

        @include breakpoint(desktop) {
          font-size: 32px;
        }
      }

      .a-hero__emergency.-title {
        font-size: 28px;
        line-height: 28px;
        margin: 0 0 0 10px;
        @extend .text-extra-bold;

        @include breakpoint(tablet) {
          font-size: 30px;
          line-height: 30px;
        }

        @include breakpoint(desktop) {
          font-size: 36px;
          line-height: 36px;
        }
      }
    }

    .m-emergencyHero__dateTime {
      display: flex;
      flex-flow: row wrap;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
      margin-bottom: 20px;

      .m-emergencyHero__label {
        margin-right: 5px;
      }

      .m-emergencyHero__date {
        display: flex;

        .m-dateTime__separator {
          margin-left: 5px;
          margin-right: 5px;
          border: 1px solid #d0d0ce;
        }

        .a-hero__time {
          font-weight: normal;
        }
      }
    }

    .a-hero__description.-text {
      font-size: 16px;
      line-height: 20px;
      @extend .text-black;

      @include breakpoint(tablet) {
        font-size: 20px;
        line-height: 24px;
      }

      @include breakpoint(desktop) {
        font-size: 24px;
        line-height: 28px;
      }

      p {
        margin: 0;
      }
    }
  }

  //Contact Info
  .m-emergencyHero__contactInfo {
    display: flex;
    flex-flow: column;
    padding: 25px 0 0 0;

    @include breakpoint(tablet) {
      width: 35%;
      border: none;
      padding: 0 0 0 35px;
    }

    @include breakpoint(desktop) {
      padding: 0 0 0 60px;
    }

    .a-hero__title {
      font-size: 14px;
      line-height: 16px;
      margin: 0 0 20px 0;

      @include breakpoint(tablet) {
        white-space: nowrap;
      }

      @include breakpoint(desktop) {
        font-size: 16px;
        line-height: 18px;
      }
    }

    .m-emergencyHero__socialMedia {
      display: flex;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 16px;

      @include breakpoint(desktop) {
        font-size: 16px;
        line-height: 18px;
      }

      .a-hero__follow.-text {
        margin-right: 5px;
      }

      a {
        text-decoration: none;
        @extend .text-primary-links;
      }
    }

    .m-emergencyHero__phone {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 16px;

      @include breakpoint(tablet) {
        flex-flow: nowrap;
        white-space: nowrap;
      }

      @include breakpoint(desktop) {
        font-size: 16px;
        line-height: 18px;
      }

      label {
        margin-right: 5px;
      }
    }

    .a-alert__link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 15px;
      padding: 15px;
      height: 60px;
      @extend .bg-primary-blue;
      @extend .text-white;
      @extend .text-bold;
      @extend .text-1-space;

      @include breakpoint(tablet) {
        display: inline-flex;
        margin-right: auto;
        padding: 20px;
        height: 50px;
      }

      &:hover,
      &:active {
        @extend .bg-black;
      }
    }
  }
}

//Service Hero
.m-hero__meta.-serviceHero {
  display: flex;
  flex-flow: column;

  @include breakpoint(tablet) {
    flex-flow: row nowrap;
  }

  .m-serviceHero__contentWrapper {
    display: flex;
    flex-flow: column;
    min-height: 320px;
    padding: 40px 20px;

    @include breakpoint(tablet) {
      min-height: auto;
      width: 70%;
      padding: 0;
    }

    .m-serviceHero__contentContainer {
      display: flex;
      flex-flow: column;

      @include breakpoint(tablet) {
        width: 470px;
      }

      @include breakpoint(desktop) {
        width: 650px;
      }

      .m-serviceHero__dateCreated {
        margin-bottom: 25px;

        @include breakpoint(desktop) {
          margin-bottom: 30px;
        }
      }

      .a-title {
        font-size: 28px;
        line-height: 30px;
        margin: 0px;
        @extend .text-extra-bold;

        @include breakpoint(tablet) {
          font-size: 36px;
          line-height: 38px;
        }

        @include breakpoint(desktop) {
          font-size: 48px;
          line-height: 48px;
        }
      }

      .a-headline {
        margin: 25px 0 0 0;
        font-size: 18px;
        line-height: 22px;
        font-weight: normal;

        @include breakpoint(tablet) {
          font-size: 24px;
          line-height: 28px;
        }

        @include breakpoint(desktop) {
          margin: 30px 0 0 0;
          font-size: 30px;
          line-height: 34px;
        }
      }
    }
  }

  //Transaction Section
  .m-serviceHero__transactionWrapper {
    @include breakpoint(tablet) {
      display: flex;
      justify-content: flex-end;
      height: 222px;
      width: 30%;
    }

    .m-serviceHero__transactionContainer {
      display: flex;
      flex-flow: column;
      align-items: center;
      border-top: 4px solid #FACE00;
      padding: 25px 20px;

      @include breakpoint(tablet) {
        border-top: none;
        border-left: 4px solid #FACE00;
        padding: 25px 0;
        width: 200px;
      }

      @include breakpoint(desktop) {
        padding: 30px 0;
        width: 350px;
      }

      .m-serviceHero__transactionContent {
        display: flex;
        justify-content: center;
        align-items: center;

        .m-serviceHero__clockIcon {
          font-size: 30px;
          margin-right: 15px;

          @include breakpoint(tablet) {
            display: none;
          }
        }

        .m-serviceHero__transactionTitle {
          display: flex;
          flex-flow: wrap;
          text-transform: uppercase;
          font-size: 13px;

          @include breakpoint(tablet) {
            flex-flow: column;
            align-items: center;
          }

          .m-serviceHero__title {
            line-height: 15px;
            margin-right: 5px;

            @include breakpoint(tablet) {
              margin-right: 0px;
              text-align: center;
            }
          }

          .m-serviceHero__iconMinutes {
            @include breakpoint(tablet) {
              display: flex;
              margin-top: 10px;
            }

            @include breakpoint(desktop) {
              margin-top: 15px;
            }

            .m-serviceHero__clockIcon {
              display: none;

              @include breakpoint(tablet) {
                display: block;
                margin-right: 10px;
                font-size: 34px;
              }

              @include breakpoint(desktop) {
                font-size: 38px;
              }
            }

            .m-serviceHero__minutes {
              margin-right: 5px;
              font-size: 15px;
              line-height: 15px;
              text-transform: none;
              @include breakpoint(tablet) {
                margin-right: 0px;
                margin-left: 0px;
                font-size: 34px;
                line-height: 34px;
              }

              @include breakpoint(desktop) {
                font-size: 38px;
                line-height: 38px;
              }
            }
          }

          .m-serviceHero__minutesLabel {
            line-height: 15px;

            @include breakpoint(tablet) {
              margin-top: 5px;
            }

            @include breakpoint(desktop) {
              margin-top: 10px;
            }
          }
        }
      }

      .m-serviceHero__button {
        margin-top: 25px;
        width: 100%;

        @include breakpoint(tablet) {
          margin-top: 20px;
          width: 150px;
        }

        @include breakpoint(desktop) {
          margin-top: 15px;
          width: auto;
        }

        .a-hero__btn.-link {
          height: 60px;
          line-height: 15px;
          width: auto;
          white-space: normal;
          padding: 0 20px;
          border: none;
          @extend .bg-primary-blue;

          @include breakpoint(tablet) {
            height: 50px;
            width: auto;
          }

          &:hover {
            @extend .bg-black;
          }
        }
      }
    }
  }
}

//News Hero
.m-hero__meta.-newsHero {
  padding-top: 40px;
  padding-bottom: 40px;

  @include breakpoint(tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70%;
  }

  @include breakpoint(desktop) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .m-newsHero__dateLocation {
    display: flex;
    font-size: 13px;
    margin-bottom: 25px;

    @include breakpoint(desktop) {
      margin-bottom: 30px;
    }

    .m-newsHero__dateCreated {
      .a-hero__date {
        @extend .text-white;
      }
    }

    .m-dateLocation__separator {
      margin-left: 8px;
      margin-right: 8px;
      border-left: 1px solid #D0D0CE;
      font-size: 13px;
    }

    .m-newsHero__location {
      border: none;
      font-size: 13px;
    }
  }

  .m-newsHero__title {
    h1 {
      font-size: 28px;
      line-height: 30px;
      margin: 0;
      @extend .text-extra-bold;

      @include breakpoint(tablet) {
        font-size: 36px;
        line-height: 40px;
      }

      @include breakpoint(desktop) {
        font-size: 48px;
        line-height: 54px;
      }
    }
  }

  .m-newsHero__keyword {
    display: flex;
    flex-flow: wrap;
    padding: 5px 0 0 0;

    @include breakpoint(tablet) {
      padding: 10px 0 0 0;
    }

    @include breakpoint(desktop) {
      padding: 15px 0 0 0;
    }

    .m-newsHero__tags {
      margin-top: 20px;
      margin-right: 20px;
      padding-right: 20px;

      .a-hero__link {
        @include keyword-tag;
      }
    }
  }
}

//Executive Order Hero
.m-hero__meta.-executiveOrderHero {
  padding-top: 40px;
  padding-bottom: 40px;

  @include breakpoint(tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 60%;
  }

  @include breakpoint(desktop) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .m-executiveOrderHero__date {
    display: flex;
    font-size: 13px;
    margin-bottom: 25px;

    @include breakpoint(desktop) {
      margin-bottom: 30px;
    }

    .m-executiveOrderHero__dateDisplay {
      .a-hero__date {
        @extend .text-white;
      }
    }
  }

  .m-executiveOrderHero__title {
    h1 {
      font-size: 28px;
      line-height: 30px;
      margin: 0;
      @extend .text-extra-bold;

      @include breakpoint(tablet) {
        font-size: 36px;
        line-height: 40px;
      }

      @include breakpoint(desktop) {
        font-size: 48px;
        line-height: 54px;
      }
    }
  }

  .m-executiveOrderHero__keyword {
    display: flex;
    flex-flow: wrap;
    padding: 5px 0 0 0;

    @include breakpoint(tablet) {
      padding: 10px 0 0 0;
    }

    @include breakpoint(desktop) {
      padding: 15px 0 0 0;
    }

    .m-executiveOrderHero__tags {
      margin-top: 20px;
      margin-right: 20px;
      padding-right: 20px;

      .a-hero__link {
        @include keyword-tag;
      }
    }
  }
}

//ScheduledEvent Hero
.m-hero__meta.-scheduledEventHero {
  display: flex;
  flex-flow: column;
  padding: 30px 20px 25px;
  min-height: 256px;

  @include breakpoint(tablet) {
    min-height: 307px;
    flex-flow: row;
    padding: 0;
  }

  @include breakpoint(desktop) {
    min-height: 428px;
  }

  .m-scheduledEventHero__content.-container {
    display: flex;
    flex-flow: column;

    @include breakpoint(tablet) {
      padding: 50px 35px;
      width: 70%;
    }

    @include breakpoint(desktop) {
      padding: 80px 60px;
    }

    .a-hero__title {
      font-size: 28px;
      line-height: 30px;
      margin: 0;

      @include breakpoint(tablet) {
        font-size: 36px;
        line-height: 38px;
        width: 75%;
      }

      @include breakpoint(desktop) {
        font-size: 48px;
        line-height: 48px;
      }
    }

    .m-scheduledEventHero__keyword {
      display: flex;
      flex-flow: wrap;
      padding: 5px 0 0 0;

      @include breakpoint(tablet) {
        padding: 10px 0 0 0;
        width: 75%;
      }

      .m-scheduledEventHero__tags {
        margin-top: 20px;
        margin-right: 20px;
        padding-right: 20px;

        .a-hero__link {
          @include keyword-tag;
        }
      }
    }
  }

  //Event Info
  .m-scheduledEventHero__event.-container {
    @include breakpoint(tablet) {
      display: flex;
      flex-flow: wrap;
      width: 30%;
      justify-content: flex-end;
    }

    .m-scheduledEventHero__event {
      padding: 30px 0 0 0;

      @include breakpoint(tablet) {
        width: 265px;
        border-left: 1px solid #fff;
        padding: 40px 25px;
        background-color: rgba(0, 0, 0, 0.8);
      }

      @include breakpoint(desktop) {
        padding: 70px 50px;
        width: 350px;
      }

      .m-scheduledEventHero__dateContainer {
        display: flex;

        @include breakpoint(tablet) {
          justify-content: center;
        }

        .m-scheduledEventHero__date {
          display: flex;
          flex-flow: column;
          align-items: center;

          .m-scheduledEventHero__month {
            span {
              font-size: 14px;

              @include breakpoint(desktop) {
                font-size: 20px;
              }
            }
          }

          .m-scheduledEventHero__day {
            span {
              font-size: 44px;

              @include breakpoint(tablet) {
                font-size: 50px;
              }

              @include breakpoint(desktop) {
                font-size: 70px;
              }
            }
          }

          .m-scheduledEventHero__year {
            span {
              @include breakpoint(tablet) {
                font-size: 14px;
              }

              @include breakpoint(desktop) {
                font-size: 20px;
              }
            }
          }
        }

        .m-scheduledEventHero__dateSeparator {
          align-self: center;
          border: 1px solid #fff;
          width: 10px;
          margin: 0 10px;

          @include breakpoint(tablet) {
            width: 15px;
          }
        }
      }

      .m-scheduledEventHero__timeVenue.-container {
        margin-top: 30px;

        @include breakpoint(tablet) {
          margin-top: 35px;
        }

        .m-scheduledEventHero__timeContainer {
          display: flex;
          font-size: 13px;
          line-height: 16px;

          @include breakpoint(desktop) {
            font-size: 16px;
            line-height: 20px;
          }

          .m-scheduledEventHero__time {
            display: flex;
            text-transform: uppercase;

            .m-scheduledEventHero__clockIcon {
              margin-right: 10px;
            }
          }

          .m-scheduledEventHero__timeSeparator {
            align-self: center;
            border: 1px solid #fff;
            width: 10px;
            margin: 0 10px;
          }
        }

        .m-scheduledEventHero__timeVenue.-separator {
          margin: 10px 0;
          border: 1px solid #ffffff;

          @include breakpoint(tablet) {
            margin: 15px 0;
          }
        }

        .m-scheduledEventHero__venue {
          display: flex;
          font-size: 13px;
          line-height: 16px;

          @include breakpoint(desktop) {
            font-size: 16px;
            line-height: 20px;
          }

          .m-scheduledEventHero__pinIcon {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

//Bio Hero
.m-hero__meta.-bioHero {
  padding: 40px 30px;

  @include breakpoint(tablet) {
    padding: 50px 0 0 35px;
    width: 335px;
  }

  @include breakpoint(desktop) {
    padding: 80px 0 0 60px;
    width: 435px;
  }

  .m-bioHero__headline {
    font-size: 13px;
    line-height: 15px;
    font-weight: normal;
    margin: 0 0 30px 0;

    @include breakpoint(tablet) {
      margin: 0 0 35px 0;
    }

    @include breakpoint(desktop) {
      font-size: 16px;
      line-height: 16px;
      margin: 0 0 50px 0;
    }
  }

  .m-bioHero__title {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 30px 0;

    @include breakpoint(tablet) {
      font-size: 48px;
      line-height: 48px;
      margin: 0 0 35px 0;
    }

    @include breakpoint(desktop) {
      margin: 0 0 50px 0;
    }
  }

  .m-bioHero__social {
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid #fff;

    @include breakpoint(tablet) {
      width: 300px;
    }

    @include breakpoint(desktop) {
      width: 375px;
    }
  }

  .m-bioHero__socialLinks {
    display: flex;
    justify-content: center;

    .m-socialLink__link {
      &:first-child {
        padding: 15px 15px 0 0;
      }

      .m-socialLink__icon {
        font-size: 16px;
        @extend .text-white;
      }
    }
  }
}

//Agency Hero
.m-hero__meta.-agencyHero {
  display: flex;
  flex-flow: column;
  justify-content: center;

  .m-agencyHero__category.-separator {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 20px;
    border: 1px solid #fff;
  }

  .a-hero__title {
    margin: 0;
    font-size: 28px;
    line-height: 30px;
    @extend .text-extra-bold;

    @include breakpoint(largeMobile) {
      font-size: 36px;
      line-height: 38px;
      width: 475px;
    }

    @include breakpoint(desktop) {
      font-size: 48px;
      line-height: 48px;
      width: 650px;
    }
  }
}

//County Hero
.m-hero__meta.-countyHero {
  display: flex;
  flex-flow: column;

  @include breakpoint(tablet) {
    width: 70%;
  }

  .m-countyHero__region.-separator {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 20px;
    border: 1px solid #fff;
  }

  .a-hero__title {
    margin: 0;
    font-size: 28px;
    line-height: 30px;
    @extend .text-extra-bold;

    @include breakpoint(largeMobile) {
      font-size: 36px;
      line-height: 36px;
    }

    @include breakpoint(desktop) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  .m-countyHero__info {
    display: flex;
    flex-flow: column;
    margin-top: 35px;

    @include breakpoint(largeMobile) {
      flex-flow: row;
      margin-top: 40px;
    }

    @include breakpoint(desktop) {
      margin-top: 50px;
    }

    label {
      text-transform: uppercase;
      font-size: 12px;
      @extend .text-oswald;
      @extend .text-1-space;

      @include breakpoint(largeMobile) {
        text-align: center;
      }

      @include breakpoint(desktop) {
        font-size: 14px;
      }
    }

    .m-countyHero__area {
      display: flex;
      flex-flow: column;
      font-size: 28px;

      @include breakpoint(largeMobile) {
        text-align: center;
        padding-right: 20px;
      }

      @include breakpoint(desktop) {
        padding-right: 30px;
      }

      .m-countyArea__inputContainer {
        display: flex;
        margin-top: 10px;

        @include breakpoint(largeMobile) {
          flex-flow: column;
        }

        @include breakpoint(desktop) {
          margin-top: 15px;
        }

        .m-countyArea__input {
          font-size: 20px;
          line-height: 20px;

          @include breakpoint(largeMobile) {
            font-size: 22px;
            line-height: 22px;
          }

          @include breakpoint(desktop) {
            font-size: 26px;
            line-height: 26px;
          }
        }

        .m-countyHero__sqMiles {
          font-size: 10px;
          line-height: 15px;
          margin-left: 5px;
          align-self: flex-end;

          @include breakpoint(largeMobile) {
            line-height: 10px;
            margin-top: 5px;
            margin-left: 0px;
            align-self: center;
          }

          @include breakpoint(desktop) {
            margin-top: 10px;
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }

    .m-countyHero__founded {
      display: flex;
      flex-flow: column;
      font-size: 28px;
      margin-top: 25px;

      @include breakpoint(largeMobile) {
        text-align: center;
        height: 50px;
        margin-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #D0D0CE;
      }

      @include breakpoint(desktop) {
        height: 60px;
        padding-left: 30px;
        padding-right: 30px;
      }

      .m-countyFounded__input {
        margin-top: 10px;
        font-size: 20px;
        line-height: 20px;

        @include breakpoint(largeMobile) {
          font-size: 22px;
          line-height: 22px;
        }

        @include breakpoint(desktop) {
          margin-top: 15px;
          font-size: 26px;
          line-height: 26px;
        }
      }
    }

    .m-countyHero__population {
      display: flex;
      flex-flow: column;
      font-size: 28px;
      margin-top: 25px;

      @include breakpoint(largeMobile) {
        text-align: center;
        height: 50px;
        margin-top: 0px;
        padding-left: 20px;
        border-left: 1px solid #D0D0CE;
      }

      @include breakpoint(desktop) {
        height: 60px;
        padding-left: 30px;
      }

      .m-countyPopulation__input {
        margin-top: 10px;
        font-size: 20px;
        line-height: 20px;

        @include breakpoint(largeMobile) {
          font-size: 22px;
          line-height: 22px;
        }

        @include breakpoint(desktop) {
          margin-top: 15px;
          font-size: 26px;
          line-height: 26px;
        }
      }
    }
  }
}
