{% set rt_index = '<table' in  section.body.content ? 'o-wisywyg__responsive_table_' ~ index : ''  %}

{% set classes = [
  'o-wysiwyg',
  node.navigator ? 'navigator' : '',
  rt_index
] %}

<div class="{{classes|join(' ')}}">
	{% if section.title %}
		{% include '@storybook/02-Atoms/title/title.twig' with { title: section.title, variant: 'title', classNames: "a-wysiwyg__title"} %}
	{% endif %}

	{% if section.headline %}
		{% include '@storybook/02-Atoms/title/title.twig' with { headline: section.headline, variant: 'headline', classNames: "a-wysiwyg__headline"} %}
	{% endif %}

	{% include '@storybook/02-Atoms/text/text.twig' with { text: section.body.value, variant: "html"} %}
</div>

{% if '<table' in  section.body.content %}
  <script>
    document.addEventListener("DOMContentLoaded", basicTable, false);
    function basicTable() {
      jQuery(".{{ rt_index }} table").each(function(){
        jQuery(this).basictable();
      })
    }
  </script>
{% endif %}
