@import "../../01-Base/breakpoints/breakpoints";
@import "../../01-Base/typography/fontFamilies/fontFamilies.scss";
@import "../../01-Base/typography/weight/weight.scss";

.o-wysiwyg {
  width: 100%;
  margin: 0 auto;
  overflow: auto;

  &.navigator {
    margin: 0;
  }

  @include breakpoint(desktop) {
    max-width: 1160px;
  }

  .a-title {
    color: #154973;
    font-family: "Proxima Nova";
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
  }

  .a-text__html {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #154973;
      font-weight: bold;
      padding: 0 0 0.3em;
      margin: 0;
      line-height: 1.25em;
    }

    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 42px;
    }

    h3 {
      font-size: 36px;
    }

    h4 {
      font-size: 30px;
    }

    h5 {
      font-size: 24px;
    }

    h6 {
      font-size: 18px;
    }

    a.button {
      margin: 0 20px 0 0;
      display: inline-block;
      background: #154973;
      padding: 20px;
      font-family: "Proxima Nova", sans-serif;
      font-weight: bold;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 2px;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 15px;

      &:hover,
      &:active {
        background: #000000;
        text-decoration: none;
      }
    }

    p,
    div {
      font-size: 14px;
      line-height: 18px;

      @include breakpoint(laptop) {
        font-size: 18px;
        line-height: 27px;
      }
    }

    div:not(.field--type-image) {
      margin: 14px 0;

      @include breakpoint(laptop) {
        margin: 18px 0;
      }
    }

    ul > li,
    ol > li {
      font-size: 14px;
      line-height: 26px;

      @include breakpoint(laptop) {
        font-size: 18px;
        line-height: 30px;
      }
    }

    p,
    div {
      a {
        color: #007ac2;
      }
    }

    ul,
    ol {
      padding-left: 43px;
    }

    table {
      width: 100%;
      &.bt {
        tbody {
          border-bottom: 1px solid #000000;
          @media (min-width: 568px) {
            border-bottom: 0;
          }

          tr th,
          td {
            border-bottom: 0;
            @media (min-width: 568px) {
              border-bottom: 1px solid #000000;
            }
          }
        }
      }

      thead th {
        background-color: #62666a;
        color: white;
      }

      thead th.double-header-column {
        background-color: #62666a;
        color: white;
      }

      tbody th {
        background-color: #62666a;
        color: white;
      }

      th {
        font-family: "Proxima Nova";
        font-weight: bold;
      }

      td {
        font-family: "Proxima Nova";
        word-break: break-word;
      }

      th,
      td {
        padding: 15px;
        text-align: left;
        border: 1px solid #000000;
      }
    }

    .media--type-image {
      display: inline-block;
      margin-bottom: 16px;

      @include breakpoint(laptop) {
        margin-bottom: 22px;
      }

      &.align-right {
        margin-left: 18px;

        @include breakpoint(laptop) {
          margin-left: 32px;
        }
      }

      &.align-left {
        margin-right: 18px;

        @include breakpoint(laptop) {
          margin-right: 32px;
        }
      }

      &.align-center {
        display: flex;
        justify-content: center;
      }

      &.align-left,
      &.align-right {
        display: inline;

        &.media--view-mode-_60-x-400,
        &.media--view-mode-_50-x-135,
        &.media--view-mode-_00-x-400 {
          width: 50%;

          @include breakpoint(laptop) {
            width: auto;
          }
        }
      }
    }

    img,
    iframe {
      max-width: 660px;
    }

    @media print {
      a::after{
        content: " (" attr(href) ")";
      }
    }
  }
}
