@import '../../01-Base/breakpoints/breakpoints.scss';
@import '../../01-Base/typography/fontFamilies/fontFamilies.scss';
@import '../../01-Base/typography/weight/weight.scss';

.a-heading__title{
  font-size: 13px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
  @extend .text-oswald;
  @extend .text-bold;

  @include breakpoint(largeMobile){
    font-size: 16px;
  }
}

.a-heading__headline{
  font-size: 42px;
  margin: 0;
  @extend .text-proxima;
  @extend .text-extra-bold;
}