{# Title of a section/frame #}
{% if variant == 'title' %}
  <h2 class="a-heading__title">
    {{ title }}
  </h2>
{% endif %}

{# Headline of a section/frame #}
{% if variant == 'headline' %}
  <h3 class="a-heading__headline">
    {{ title }}
  </h3>
{% endif %}